@using UtilityExtensions
@model CmsWeb.Areas.People.Models.Person.CellPhoneInfo
<div class="control-group">
    @Html.LabelFor(m=> m, new { @class = "control-label nwrap"})
    <div class="controls">
        <p><b>@Model.Number.FmtFone() @(Model.ReceiveText ? " +SMS" : "")</b></p>
    </div>
</div>
