@using UtilityExtensions
@model DateTime?
<div class="control-group">
    @Html.LabelFor(m=> m, new { @class = "control-label"})
    <div class="controls">
        <p class="@(Model.HasValue ? "alert alert-danger" : "" )">@Model.FormatDate()</p>
    </div>
</div>
