@model CmsWeb.Areas.People.Models.BasicPersonInfo
<div class="control-group">
    <label class="control-label">No Contact</label>
    <div class="controls">
        <p>@Model.DoNotContact</p>
    </div>
</div>
