@model CmsWeb.Areas.People.Models.EmailInfo
<dl>
    <dt>@Html.DisplayNameFor(m => m)</dt>
    @if (Model.Send)
    {
        <dd><span class="email_display">@Model.Address</span></dd>
    }
    else
    {
        <dd><del class="email_display">@Model.Address</del></dd>
    }
</dl>