@model CmsWeb.Models.DivisionModel
<div class="table-responsive">
    <table id="results" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Division</th>
                <th>Program</th>
                <th>Report Line</th>
                <th>No Zero</th>
                <th>Target Program</th>
                <th>Main Program</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.DivisionList())
            {
                @Html.Partial("Row", i)
            }
        </tbody>
    </table>
</div>