@model AskSuggestedFee
@using CmsData.Registration
<div class="well">
  <label class="ask-question">
    Optional Fee 
  </label>
  @if (ViewBag.ShowHelp != false)
  {
    <div class="alert alert-info">@Html.Markdown(Model.Help)</div>
  }
  @Html.DisplayFor(m => m.Label)
</div>