@model AskTickets
@using CmsData.Registration
<div class="table not-wide w100">
  <label class="ask-question">
    Tickets
  </label>
  @if (ViewBag.ShowHelp != false)
  {
    <div class="alert alert-info maxWidthMedium margin-top">@Html.Markdown(Model.Help)</div>
  }
  @Html.DisplayFor(m => m.Label)
</div>