@model string
@using UtilityExtensions
<div class="form-group">
  @Html.LabelFor(m => m, new { @class = "control-label" })
  <div class="controls @ViewBag.AddClass">
    @Html.Partial("Registration/NotifyList", Model)
    @if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
    {
      <div class="alert alert-info">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
    }
  </div>
</div>