@using UtilityExtensions
@model IEnumerable<CmsData.Registration.Settings.OrgFee>
<div class="form-group">
    <div class="controls">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Org Id</th>
                        <th class="text-right">Fee</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var f in Model)
                    {
                        <tr><td>@f.OrgId</td><td class="text-right">@f.Fee.ToString2("c")</td></tr>
                    }
                </tbody>
            </table>
        </div>
        @if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
        {
            <div class="alert alert-info">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
        }
    </div>
</div>