@using CmsWeb.Areas.People.Models
@model PersonModel
<div id="family-extra-values-div">
    <div class="sidebar_title group inactive">
        <a href="#"><i class="icon-plus"></i> Add Extra Values</a>
    </div>
</div>

