@using CmsWeb.Areas.People.Models.Person
@model PersonModel
<div id="family-photo-div">
    <div class="sidebar_title group inactive">
        <a href="#"><i class="icon-plus"></i> Add Family Photo</a>
    </div>
</div>

