@model CmsWeb.Areas.People.Models.PersonModel
<div class="modal-dialog">
    <div class="modal-content">
        <form id="picture-modal" action="/Person2/UploadFamilyPicture/@Model.PeopleId" method="post" enctype="multipart/form-data">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Photo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="text-center">
                            <a href="@Model.FamilyPicture.LargeUrl" target="_blank"><img src="@Model.FamilyPicture.SmallUrl" alt="" class="img-thumbnail"></a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <a class="btn btn-default btn-block" href="@Model.FamilyPicture.LargeUrl" target="_blank"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;View Full Image</a>
                        <a id="delete-picture" href="/Person2/DeleteFamilyPicture/@Model.PeopleId" class="btn btn-danger btn-block"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                        <label for="picture">Upload new photo</label>
                        <input type="file" name="picture" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <input type="submit" class="btn btn-primary" value="Upload" />
            </div>
        </form>
    </div>
</div>