@model CmsWeb.Areas.Search.Models.QueryModel
<div class="control-group">
    <label class="control-label">Codes</label>
    <div class="controls code-dropdown">
        @Html.Partial("EditorTemplates/CodeSelect", Model)
    </div>
</div>
