@using CmsWeb
@model object 
@{
    var items = (ViewData["items"] as IEnumerable<SelectListItem> ?? new List<SelectListItem>()).ToList();
}
<div class="form-group">
    @Html.LabelFor(m => m, new { @class="control-label" })
    <div class="form-group controls">
        @Html.DropDownListFor(m => m, items, new { @class = "form-control" })
        @Html.ValidationMessageLabelFor(m => m)
    </div>
</div>
