<div class="modal fade" id="rename-div-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Rename Division</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="RenamedDiv" class="control-label">Name</label>
          <input type="text" id="RenamedDiv" name="RenamedDiv" class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
        <input type="button" id="RenameDiv" name="RenameDiv" value="Submit" class="btn btn-primary" />
      </div>
    </div>
  </div>
</div>