<div class="modal fade" id="report-date-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Meetings Date for Report</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="report-date-action" name="report-date-action" />
        <div class="form-group">
          <label for="ReportDate" class="control-label">Meetings Date</label>
          <div class="input-group date">
            @Html.TextBox("ReportDate", "", new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
            @Html.Hidden("ReportDateIso", "", new { disabled = "disabled" })
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
        <input type="button" id="reportdate2" name="reportdate2" value="Run" class="btn btn-primary" />
      </div>
    </div>
  </div>
</div>