@using CmsWeb
@model CmsWeb.Areas.Org2.Models.MissionTripEmailer
@{
    ViewBag.Title = "Mission Trip Emailer";
    Layout = "~/Views/Shared/SiteLayout2.cshtml";
}
<div class="container">
    <h2>Mission Trip Emailer</h2>
    <div  class="row-fluid">
        <div class="span9">
            <h3>Email Sent!</h3>
            <a href="/" class="btn btn-success">Click here to go back to your home page</a>
        </div>
    </div>
</div>