@using CmsWeb
@model CmsWeb.Models.OrganizationPage.MemberModel
@Html.Partial("ExportToolBar") 
&nbsp;<div style="clear: both"></div>
<p style="margin-bottom:5px">
Count: <strong>@Model.Count()</strong>
<a class="filtergroupslink bt" href="#" title="Filter by name/group">Filter@(Model.isFiltered ? "(filtered)" : "")</a>
@if(User.IsInRole("Edit"))
{ 
    if (ViewExtensions2.UseNewLook()) {
    <a href="/SearchAdd2/Dialog/prospect/@Model.OrganizationId" class="searchadd bt">Add Prospects</a>
    } else {
    <a href="/SearchAdd/@Model.OrganizationId?type=prospect" class="memberdialog bt">add prospects</a>
    }
    <a href="/AddToOrgFromTag/@Model.OrganizationId?prospect=true" title="Add Prospects From Tag" class="addfromtag bt">add from tag</a>
    <a href="/OrgMembersDialog/@Model.OrganizationId?prospects=true" title="Update Prospects" class="memberdialog bt">update</a>
} 
</p>
@Html.Partial("MemberGrid", Model) 
