@using CmsData
@using CmsWeb
@model CmsWeb.Areas.Org.Models.OrgChildrenModel
@Html.Hidden("orgid")
<div class="well">
    <label for="namesearch">Name</label>
    <div class="row">
        <div class="col-sm-12 form-inline">
            <div class="input-group col-xs-12 col-sm-6">
               @Html.TextBox("namesearch", Model.namesearch, new { title = "OrganizationId, Location or part of Name (organization, leader, division)", @class="form-control" })
            </div>
            <div class="input-group">
                <a id="filter" href="#" class="btn btn-primary">Filter</a>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped" id="table-results">
        <thead>
            <tr>
                <th style="width: 10px;"></th>
                <th>Name</th>
                <th>Leader</th>
                <th>Location</th>
                <th>Parent Org</th>
            </tr>
        </thead>
        <tbody>
            @Html.Partial("Rows", Model)
        </tbody>
    </table>
</div>

