@model CmsWeb.Areas.Org.Models.OrgChildrenModel
@using CmsData
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Manage Child Organizations";
    ViewBag.PageHeader = "Manage Child Organizations";
    var parentOrgLink = (Model.parentorg != null ? $" (Parent Org: <a href=\"/OrgChildren/{Model.parentorg.OrganizationId}\">{Model.parentorg.OrganizationName}</a>)" : "");
    ViewBag.PageSubHeader = $"<a href=\"/Org/{Model.org.OrganizationId}\">{Model.org.OrganizationName}</a>{parentOrgLink}";
}
<div class="row">
    <div class="col-md-9">
        <div class="box box-responsive">
            <div class="box-content">
                @if (Model.canedit)
                {
                    @Html.Hidden("canedit", "true")
                }
                <form id="groupsform" action="/OrgChildren/Update" method="post">
                    @Html.Partial("Form", Model)
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Fingerprint.Script("/Content/touchpoint/js/org/org-children.js")
}
