@model CmsWeb.Models.SavedQueryModel
@using CmsWeb
@{
    ViewBag.Title = "SavedQuery";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
@section scripts
{
    @Fingerprint.Script("/Scripts/Search/SavedQuery.js")
}
<div class="roundbox" style="display: table">
<h2>Saved Search Builder Queries</h2>
@using (Html.BeginForm("Results", "SavedQuery")) {
    Html.RenderPartial("Results", Model);
}
</div>
