@using CmsData
@using UtilityExtensions
@model IEnumerable<dynamic>
<!DOCTYPE html>
<html>
<head>
  <title>title</title>
  <style>
    pre {
      background-color: #E6E6E6;
      padding: 1em;
      font-family: consolas,courier;
    }
  </style>
</head>
<body>
  <h2>Count: @ViewBag.Count</h2>
  <div>
    @foreach (var q in Model)
    {
      var g = q.QueryId as Guid?;
      if (!g.HasValue)
      {
        continue;
      }
      var c = DbUtil.Db.LoadExistingQuery(g.Value);
      var s = c.ToCode();
      if (!s.HasValue())
      {
        continue;
      }
      <h3><a href="/Query/@g.Value" target="query">@q.owner &mdash; @q.name</a></h3>
      <pre>
@s
</pre>
    }

  </div>
</body>
</html>