@model CmsWeb.Areas.Search.Models.SavedQueryModel
@{
    ViewBag.Title = "SavedQuery";
    Layout = "~/Views/Shared/SiteLayout2.cshtml";
}
@section scripts
{
    @Fingerprint.Script("/Scripts/Search/savedQuery2.js")
}
<div class="container">
    <h2>Saved Search Builder Queries</h2>
    <form class="ajax">
        @Html.Partial("Results", Model)
    </form>
</div>
@section PopupsPlaceholder
{
<form id='edit-saved-query-dialog' class='modal fade hide validate ajax form-horizontal' method='POST' data-backdrop='static'></form>
}