@model CmsWeb.Areas.Search.Models.SavedQueryModel
@using CmsWeb
@{
    ViewBag.Title = "SavedQuery";
    Layout = "~/Views/Shared/SiteLayout2.cshtml";
}
@section scripts
{
    <script type="text/javascript" src="@Fingerprint.Tag("/Scripts/Search/savedQuery2.js")"></script>
}
<div class="container">
    <h2>Saved Search Builder Queries</h2>
    @using (Html.BeginForm("Results", "SavedQuery"))
    {
        Html.RenderPartial("Results", Model);
    }
</div>
