@model CmsWeb.Areas.Search.Models.SavedQueryInfo
@using UtilityExtensions
<tr id="row-@Model.QueryId">
    <td>
        <a href="/Query/@Model.QueryId">@Model.Name</a>
    </td>
    <td>@Model.Owner</td>
    <td>@(Model.Ispublic ? "public" : "private") </td>
    <td>@Model.Modified.FormatDateTm()</td>
    @if (Model.CanDelete)
    {
        <td><a class="edit-saved-query" href="/SavedQuery2/Edit/@Model.QueryId"><i class="icon-pencil"></i></a></td>
        <td><a class="delete-saved-query" href="/SavedQuery2/Delete/@Model.QueryId"><i class="icon-remove"></i></a></td>
    }
    else
    {
        <td></td>
        <td></td>
    }

</tr>
