@model CmsWeb.Areas.Search.Models.SavedQueryInfo
@using UtilityExtensions
<tr id="row-@Model.QueryId">
    <td>
        <a href="/Query/@Model.QueryId">@Model.Description</a>
    </td>
    <td>@Model.SavedBy</td>
    <td>@(Model.IsPublic ? "public" : "private") </td>
    <td>@Model.LastUpdated.FormatDateTm()</td>
    @if (User.IsInRole("Admin") || string.Compare(Util.UserName, Model.SavedBy, ignoreCase: true) == 0)
    {
        <td><a class="edit-saved-query" href="/SavedQuery2/Edit/@Model.QueryId"><i class="icon-pencil"></i></a></td>
    }

</tr>
