#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
CmsCheckin-ClickOnce*/

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#mecurial files
.hgignore

# Office Temp Files
~$*

#NuGet
packages/

#Node Modules
node_modules/

#other
secrets.config
CmsWeb/ProdConnectionStrings.config
CmsWeb/StagingConnectionStrings.config
cassette-cache/
CmsDataSqlClr.dbmdl
CmsWeb/Upload/
Web.*.config
CmsDataSqlClr_.*.sqlproj

/.gitignore~

*.pubxml.user
*.pubxml
/PythonApplication1/TextFile1.txt
/CmsWeb/Properties/PublishProfiles/test.pubxml
/CmsWeb/Properties/PublishProfiles/test2.pubxml
/CmsWeb/Properties/PublishProfiles/test3.pubxml
/CmsWeb/SimSun.ttf

.vs
*.pyc
.localhistory/
CmsWeb/LocalConnectionStrings.config

CmsWeb/test.py
ttt.json
/IronPythonApplication1/test.py
HTMLPage1.html
/CmsWeb/package-lock.json
