@using CmsWeb.Areas.People.Models
@model AddressInfo
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Address Saved</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-success">
                <strong>Success!</strong> The address was successfully saved.
                <p>
                    @Html.Raw(Model.AddrCityStateZip().Replace("\n", "<br/>\n"))
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <a href="/Person2/ProfileHeader/@Model.PeopleId" class="btn btn-primary close-saved-address" data-dismiss="modal">Close</a>
        </div>
    </div>
</div>