@model CmsWeb.Areas.People.Models.CommentsModel
<form class="ajax" method="post">
    @FormAction()
    <div class="row">
        <div class="col-sm-12">
            @Html.EditorFor(m => m.Comments)
        </div>
    </div>
    @FormAction(true)
    @Html.HiddenFor(m => m.PeopleId)
</form>
@helper FormAction(bool xs = false)
{
    if (xs)
    {
        <div class="visible-xs-block">
            <a href="/Person2/CommentsUpdate" class="btn btn-primary btn-block ajax validate">Save</a>
            <a href="/Person2/Comments/@Model.PeopleId" class="btn btn-default btn-block ajax">Cancel</a>
        </div>
    }
    else
    {
        <div class="row hidden-xs">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href="/Person2/Comments/@Model.PeopleId" class="btn btn-default ajax">Cancel</a>
                    <a href="/Person2/CommentsUpdate" class="btn btn-primary ajax validate">Save</a>
                </div>
            </div>
        </div>
    }
}