@model CmsWeb.Areas.People.Models.CommentsModel
<form class="ajax" method="post">
    <div class="row hidden-xs">
        <div class="col-sm-12">
            <div class="pull-right">
                <a href="/Person2/Comments/@Model.PeopleId" class="btn btn-default ajax">Cancel</a> 
                <a href="/Person2/CommentsUpdate" class="btn btn-primary ajax">Save</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @Html.EditorFor(m => m.Comments)
        </div>
    </div>
    @Html.HiddenFor(m => m.PeopleId)
</form>