@using CmsWeb.Areas.People.Models
@model int
<form class="form ajax span12 margin-top" method="post"  data-init="ExtraEditable">
    <fieldset class="left-gutter">
        <legend>AdHoc Extra Values
                <small><a href="/Person2/ExtraValuesStandard/@Model"class="pull-right ajax">Show Standard Values</a></small>
        </legend>
        <table class="table not-wide">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value 
                        @if (User.IsInRole("Edit"))
                        {
                            <small><em class="">(click to edit)</em></small>
                        }
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var f in StandardExtraValues.GetExtraValues(Model, "AdHoc").ToList())
                {
                    @Html.EditorFor(m => f)
                }
            </tbody>
        </table>
    </fieldset>
</form>
