@model CmsWeb.Areas.People.Models.PersonModel
@{
    var canviewmemberdocs = User.IsInRole("Membership") || User.IsInRole("Admin") || User.IsInRole("MemberDocs");
}
<ul class="nav nav-pills subnav hidden-sm hidden-xs" data-tabparent="profile">
    <li><a href="#memberstatus" data-toggle="tab" class="ajax">Member</a></li>
    @if (User.IsInRole("Access"))
    {
        if (canviewmemberdocs)
        {
            <li><a href="#memberdocs" data-toggle="tab" class="ajax">Documents</a></li>
        }
        <li><a href="#comments" data-toggle="tab" class="ajax">Comments</a></li>
        <li><a href="#extravalues" data-toggle="tab" class="ajax">Extra Values</a></li>
        <li><a href="#familyextravalues" data-toggle="tab" class="ajax">Family Extra Values</a></li>
        <li><a href="#entry" data-toggle="tab" class="ajax">Entry</a></li>
    }
</ul> 
<select class="form-control visible-sm-block visible-xs-block nav-select-pills">
    <option value="#memberstatus">Member</option>
    <option value="#memberdocs">Documents</option>
    <option value="#comments">Comments</option>
    <option value="#extravalues">Extra Values</option>
    <option value="#familyextravalues">Family Extra Values</option>
    <option value="#entry">Entry</option>
</select>
<div class="tab-content" style="border: none;">
    <div class="tab-pane" id="memberstatus" data-link="/Person2/Membership/@Model.PeopleId"></div>
    @if (User.IsInRole("Access"))
    {
        if (canviewmemberdocs)
        {
            <div class="tab-pane" id="memberdocs" data-link="/Person2/MemberDocuments/@Model.PeopleId" data-init="MemberDocsEditable"></div>
        }
        <div class="tab-pane" id="comments" data-link="/Person2/Comments/@Model.PeopleId"></div>
        <div class="tab-pane" id="extravalues" data-link="/ExtraValue/Display/People/Standard/@Model.PeopleId"></div>
        <div class="tab-pane" id="familyextravalues" data-link="/ExtraValue/Display/Family/Standard/@Model.FamilyId"></div>
        <div class="tab-pane" id="entry" data-link="/ExtraValue/Display/People/Entry/@Model.PeopleId"></div>
    }
</div>

