@model CmsWeb.Areas.People.Models.PersonModel
<ul class="nav nav-tabs subnav" data-tabparent="profile">
    <li><a href="#memberstatus" data-toggle="tab" class="ajax">Member</a></li>
    <li><a href="#membernotes" data-toggle="tab" class="ajax">Notes</a></li>
    <li><a href="#memberdocs" data-toggle="tab" class="ajax">Documents</a></li>
    <li><a href="#extraValues" data-toggle="tab" class="ajax">Extra Values</a></li>
    <li><a href="#entry" data-toggle="tab" class="ajax">Entry</a></li>
</ul> 
<div class="tab-content">
    <div class="tab-pane" id="memberstatus" data-link="/Person2/MembershipDisplay/@Model.PeopleId"></div>
    <div class="tab-pane" id="membernotes" data-link="/Person2/MembershipNotes/@Model.PeopleId"></div>
    <div class="tab-pane" id="memberdocs" data-link="/Person2/MembershipDocuments/@Model.PeopleId"></div>
    <div class="tab-pane" id="extraValues" data-link="/Person2/ExtraValuesStandard/@Model.PeopleId"></div>
    <div class="tab-pane" id="entry">@Html.Partial("Profile/Entry")</div>
</div>

