@using CmsWeb.Areas.Org.Models
@using UtilityExtensions
@using CmsData.Classes.Twilio
@using CmsData.Codes
@using CmsData;
@{
    var twilio = TwilioHelper.userSendSMS(Util.UserId);
    var oid = ViewBag.oid;
    var model = (OrganizationModel)ViewBag.model;
    var o = model.Org;
    var edit = User.IsInRole("Edit");
    var qb = DbUtil.Db.QueryIsCurrentUser();
}
<ul class="dropdown-menu dropdown-menu-large dropdown-menu-right container bluebar-menu-col-1">
    <li class="col-sm-12">
        <ul>
            @if (Model.ShowBlueToolbarFullEmail)
            {
                <li class="dropdown-header">Email</li>
                <li><a href='/Email/@ViewBag.queryid' class="qid">Individuals</a></li>

                <li><a href='/Email/@ViewBag.queryid?orgid=@oid' class="qid">All Current Members</a></li>
                <li><a href='/Email/@ViewBag.queryid?parents=true' class="qid">Parents</a></li>
                <li><a href='/Email/@ViewBag.queryid?ccparents=true' class="qid"> Child with Parents CC'd</a></li>
                <li>
                    <a id="singleemail" href="/Email/@ViewBag.queryid?nodups=true" class="qid"
                       data-confirm="Warning, email replacements will not work">
                        Single Email Addresses
                    </a>
                </li>
                <li class="divider"></li>
                <li><a href='/Email/@qb.QueryId' class="qid">Create/Edit Saved Draft</a></li>
                 if ((bool?) ViewBag.ParentOrgContext == true)
                 {
                     <li class="divider"></li>
                     <li><a href="/Email/@ViewBag.leadersqid"><span class="org-context">Leaders under this org</span></a></li>
                     <li><a href="/Email/@ViewBag.membersqid"><span class="org-context">Members under this org</span></a></li>
                 }
                 if (edit)
                 {
                     <li class="divider"></li>
                     if (o.RegistrationTypeId == RegistrationTypeCode.ChooseVolunteerTimes)
                     {
                         <li><a id="sendreminders" href="/Org/VolunteerReminders/@oid"><span class="org-context">Send Volunteer Reminders</span></a></li>
                     }
                     else
                     {
                         <li><a id="sendreminders" href="/Org/EventReminders/@ViewBag.queryid"><span class="org-context">Send Event Reminders</span></a></li>
                     }
                 }
                <li class="divider"></li>
                <li class="dropdown-header">SMS</li>
                <li><a href="@(twilio ? "/SMS/Options/" + @ViewBag.queryid : "https://docs.touchpointsoftware.com/EmailTexting/TextingTwilio.html")" class="qid">Send Text</a></li>
            }
            else
            {
                <li class="dropdown-header">Email</li>
                if (Model.ShowBlueToolbarEmailMembers)
                {
                    <li><a href='/Email/@ViewBag.queryid?templateID=0&orgid=@oid' class="qid">Email Members</a></li>
                }
                if (Model.ShowBlueToolbarEmailProspects)
                {
                    <li><a href='/Email/@ViewBag.queryid?templateID=0&orgid=@oid&onlyProspects=true' class="qid">Email Prospects</a></li>
                }
                if (Model.ShowBlueToolbarEmailMembersAndProspects)
                {
                    <li><a href='/Email/@ViewBag.queryid?templateID=0&orgid=@oid&membersAndProspects=true' class="qid">Email Members & Prospects</a></li>
                }
            }
        </ul>
    </li>
</ul>
