@using CmsData
@using CmsWeb
@using CmsWeb.Models
@using UtilityExtensions
@{
    var giving = ViewExtensions2.DbSetting("TransactionGateway", "").HasValue() && ViewExtensions2.DbSetting("OnlineGiving", "true").ToBool();
    var anet = OnlineRegModel.GetTransactionGateway().Equal("AuthorizeNet");
}
<fieldset class="left-gutter margin-top">
    <legend>Online Giving</legend>
    @if (!giving)
    {
        @Html.Raw(DbUtil.Db.ContentHtml("NoGivingSetupMessage", @"
        <p class=""alert alert-block alert-info"">Sorry, it appears that your church has not set up online giving through BVCMS.</p>"))
    }
    else
    {
        <div class="row-fluid">
          <div class="span6">
            @if (!anet)
            {
            <a href="/Person2/ManageGiving" class="btn btn-primary">Manage Your Recurring Giving</a>
            }
          </div>
            <div class="span6">
                <a href="/Person2/OneTimeGift" class="btn btn-primary">Make a One Time Gift</a>
            </div>
        </div>
    }
</fieldset>