<fieldset class="left-gutter margin-top">
    <legend>Online Giving</legend>
    <div class="row-fluid">
        <div class="span6">
            <a href="/Person2/ManageGiving" class="btn btn-primary">Manage Your Recurring Giving</a>
        </div>
        <div class="span6">
            <a href="/Person2/OneTimeGift" class="btn btn-primary">Make a One Time Gift</a>
        </div>
    </div>
</fieldset>