@model CmsWeb.Areas.People.Models.PersonModel
@using CmsData
<ul class="nav nav-pills subnav hidden-sm hidden-xs" data-tabparent="giving">
    <li><a href="#contributions" data-toggle="tab" class="ajax">Contributions</a></li>
    <li><a href="#statements" data-toggle="tab" class="ajax">Statements</a></li>
</ul>
<select class="form-control visible-sm-block visible-xs-block nav-select-pills">
    <option value="#contributions">Contributions</option>
    <option value="#statements">Statements</option>
</select> 
<div class="tab-content" style="border: none;">
  <div class="tab-pane" id="contributions" data-link="/Person2/Contributions">
    @Helper.HiddenId("PeopleId", Util2.CurrentPeopleId)
  </div>
  <div class="tab-pane" id="statements" data-link="/Person2/Statements">
    @Helper.HiddenId("PeopleId", Util2.CurrentPeopleId)
  </div>
</div>