@model CmsData.Registration.Ask
@using CmsWeb
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
	<li class="movable type-@Model.Type">@Html.Raw(ci.hiddenindex)
		@Html.HiddenFor(m => m.Type)
        <span style="cursor: pointer;" data-toggle="popover" data-content="<p>Ask whether they are a member here, or active in another church.</p><p>Good for indicating whether they are a prospect or not.</p>" data-original-title="AskChurch"><i class="fa fa-info-circle"></i></span>&nbsp;&nbsp;<label class="keyword big tip">
			AskChurch
            @Html.Partial("EditorTemplates/QuestionsMenu")    
        </label>
	</li>
}