@model CmsData.Registration.Ask
@using CmsWeb
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
	<li class="movable type-@Model.Type">@Html.Raw(ci.hiddenindex)
		@Html.HiddenFor(m => m.Type)
        <span style="cursor: pointer;" data-toggle="popover" data-content="Asks for the name and phone number for an emergency contact." data-original-title="AskEmContact"><i class="fa fa-info-circle"></i></span>&nbsp;&nbsp;<label class="keyword big tip">
			AskEmContact
            @Html.Partial("EditorTemplates/QuestionsMenu") 
        </label>
	</li>
}