@model CmsData.Registration.AskExtraQuestions
@using CmsWeb
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
    var listname = Html.NameFor2(m => m.list);
	<li class="movable type-@Model.Type">@Html.Raw(ci.hiddenindex)
        @Html.HiddenFor(m => m.Type)
        <span style="cursor: pointer;" data-toggle="popover" data-content="These questions can be answered with text." data-original-title="ExtraQuestions"><i class="fa fa-info-circle"></i></span>&nbsp;&nbsp;<label class="keyword big tip">
			ExtraQuestions:
            @Html.Partial("EditorTemplates/QuestionsMenu")                                                                                                                                                                                                         
        </label>
		<ul id="ExtraQuestions" class="movable-list sort">
			@foreach(var item in Model.list)
			{
                item.Name = listname;
				@Html.EditorFor(m => item)
			}
		</ul>
		<div class="newitem"><a href="/Organization/NewExtraQuestion/@listname"><img src="/Content/images/plus1.png" /> Add Item</a></div>
	</li>
}

