@model CmsData.Registration.AskInstruction
@using CmsWeb
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
	<li class="movable type-@Model.Type">@Html.Raw(ci.hiddenindex)
		@Html.HiddenFor(m => m.Type)
        <span style="cursor: pointer;" data-toggle="popover" data-content="Displays the label text (can include HTML) on the registration page to provide some brief instruction." data-original-title="Instruction"><i class="fa fa-info-circle"></i></span>&nbsp;&nbsp;<label class="keyword big tip">
			Instruction
            @Html.Partial("EditorTemplates/QuestionsMenu") 
        </label>
		<ul>
			<li> <span class="keyword2">Label:</span> @Html.TextBoxFor(m => m.Label, new {@class = "long"})</li>
		</ul>
	</li>
}