@model CmsData.Registration.AskTickets
@using CmsWeb
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
	<li class="movable type-@Model.Type">@Html.Raw(ci.hiddenindex)
		@Html.HiddenFor(m => m.Type)
        <span style="cursor: pointer;" data-toggle="popover" data-content="<p>This will ask for a number of items to purchase.</p><p>The total will be the fee multipled by the number of items.</p><p>Good for things like number of lunches (so you can bring friends).</p>" data-original-title="AskTickets"><i class="fa fa-info-circle"></i></span>&nbsp;&nbsp;<label class="keyword big tip">
            AskTickets
            @Html.Partial("EditorTemplates/QuestionsMenu") 
        </label>
		<ul>
			<li> <span class="keyword2">Label:</span> @Html.TextBoxFor(m => m.Label, new {@class = "long"})</li>
		</ul>
	</li>
}