@model CmsData.Registration.AskExtraQuestions.ExtraQuestion
@using CmsWeb
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
	<li class="movable">@Html.Raw(ci.hiddenindex)
		<ul>
			<li><div class="sgfee">Question:</div> @Html.TextBoxFor(m => m.Question, new {@class = "long"}) @Html.Partial("EditorTemplates/QuestionsMenu")</li>
		</ul>
	</li>
}