@model CmsData.Registration.AskGradeOptions.GradeOption
@using CmsWeb
    @using (var ci = Html.BeginCollectionItem(Model.Name))
    {
      <li class="movable move">@Html.Raw(ci.hiddenindex)
        <ul>
          <li><div class="sgfee">Description:</div>@Html.TextBoxFor(m => m.Description, new { @class = "long" }) @Html.Partial("EditorTemplates/QuestionsMenu")</li>
          <li><div class="sgfee">Code:</div>@Html.TextBoxFor(m => m.Code, new { @class = "short" }) </li>
        </ul>
      </li>
    }
