@model CmsData.Registration.Settings.OrgFee
@using (var ci = Html.BeginCollectionItem("orgfees"))
{
  <div class="well">
    @Html.Raw(ci.hiddenindex)
    <div class="control-group">
      <label class="control-label">Fee</label>
      <div class="controls">
        <p>
          <span class="large">@Model.Name</span>
          <a href="#" class="deleteschedule pull-right btn btn-mini btn-danger">delete</a>
        </p>
      </div>
    </div>
    @Html.EditorFor(m => m.OrgId)
    @Html.EditorFor(m => m.Fee)
  </div>
}
