@{
    bool confirmDelete = true;
    if (ViewData["ConfirmDelete"] != null)
    {
        bool.TryParse(ViewData["ConfirmDelete"].ToString(), out confirmDelete);
    }
}
<div class="dropdown" style="display: inline; margin-left: 10px;">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>
    <ul class="dropdown-menu">
        <li><a href="#" class="movetop"><span class="fa fa-step-backward fa-rotate-90 fa-fw"></span> Move to Top</a></li>
        <li><a href="#" class="moveup"><span class="fa fa-arrow-up fa-fw"></span> Move Up</a></li>
        <li><a href="#" class="cut"><span class="fa fa-cut fa-fw"></span> Cut</a></li>
        <li><a href="#" class="paste"><span class="fa fa-paste fa-fw"></span> Paste</a></li>
        <li><a href="#" class="movedown"><span class="fa fa-arrow-down fa-fw"></span> Move Down</a></li>
        <li><a href="#" class="movebottom"><span class="fa fa-step-forward fa-rotate-90 fa-fw"></span> Move to Bottom</a></li>
        <li class="divider"></li>
        <li><a href="#" class="@(confirmDelete ? "delconfirm" : "delete")"><span class="fa fa-trash-o fa-fw"></span> Delete</a></li>
    </ul>
</div>    
