@model CmsData.Role
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Role Manager";
    ViewBag.PageHeader = "Role Manager";
}
@section head{
    @Fingerprint.Css("/Content/touchpoint/lib/bootstrap-editable/css/bootstrap-editable.css")
}
<div class="row">
    <div class="col-lg-7">
        <div class="box box-responsive">
            <div class="box-title">
                <h3>@Model.RoleName</h3>
                <div class="box-tools">
                    <a href="/Roles" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Back to List</a>
                </div>
            </div>
            <div class="box-content">

            </div>

        </div>
    </div>
</div>
