@model CmsData.Role
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Role Manager";
    ViewBag.PageHeader = "Role Manager";
}
@section head{
    @Fingerprint.Css("/Content/touchpoint/lib/bootstrap-editable/css/bootstrap-editable.css")
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <style type="text/css">
        .btn-link i {
            transition: transform ease 0.3s;
            transform: rotate(90deg);
            margin-right: 10px;
        }
        .btn-link.collapsed i {
            transform:rotate(0deg);
        }
        .btn-link:focus, .btn-link:active {
            outline:0!important;
            border:0!important;
        }
        .btn-link:hover {
            text-decoration:none;
        }
        label {
            font-weight: normal;
            margin-bottom: 0;
        }
        .panel-body {
            padding:0!important;
        }
    </style>
}
@section scripts{
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
        $('[data-toggle="popover"]').popover({ html: true });
        $('[data-toggle="popover"]').click(function (ev) {
            ev.preventDefault();
        });
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-responsive">
            <div class="box-title">
                <span>Manage settings for @Model.RoleName users</span>
                <div class="box-tools">
                    <a href="/Roles" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Back to List</a>
                </div>
            </div>
            <div class="box-content">
                <div class="accordion" id="accordionExample">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingTwo">
                            <h4 style="margin:0;">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="fa fa-chevron-right"></i> Involvement
                                </button>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td style="width:120px;text-align:right;">
                                                    <input type="checkbox" id="ck1" checked data-toggle="toggle" data-on="Enable" data-off="Disable" data-width="90">
                                                </td>
                                                <td style="vertical-align:middle;">
                                                    <label class="form-check-label" for="ck1">
                                                        Person Links <a class="visible-sm-inline visible-xs-inline" href="#" data-toggle="popover" data-placement="right" data-trigger="focus" data-title="Person Links" data-content="Enable/Disable hyperlinking to a person's profile (in orgs)"><i class="fa fa-info-circle"></i></a>
                                                    </label>
                                                </td>
                                                <td class="hidden-xs hidden-sm" style="vertical-align:middle;">
                                                    Enable/Disable hyperlinking to a person's profile (in orgs)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:120px;text-align:right;">
                                                    <input type="checkbox" id="ck1" checked data-toggle="toggle" data-on="Yes" data-off="No" data-width="90">
                                                </td>
                                                <td style="vertical-align:middle;">
                                                    <label class="form-check-label" for="ck1">
                                                        Edit Member Data <a class="visible-sm-inline visible-xs-inline" href="#" data-toggle="popover" data-placement="right" data-trigger="focus" data-title="Edit Member Data" data-content="User can edit another user's Org Member Data or not"><i class="fa fa-info-circle"></i></a>
                                                    </label>
                                                </td>
                                                <td class="hidden-xs hidden-sm" style="vertical-align:middle;">
                                                    User can edit another user's Org Member Data or not
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:120px;text-align:right;">
                                                    <input type="checkbox" id="ck1" data-toggle="toggle" data-on="Allow" data-off="Disallow" data-width="90">
                                                </td>
                                                <td style="vertical-align:middle;">
                                                    <label class="form-check-label" for="ck1">
                                                        Org Extra Values <a class="visible-sm-inline visible-xs-inline" href="#" data-toggle="popover" data-placement="right" data-trigger="focus" data-title="Org Extra Values" data-content="Allows user to edit existing extra values on an extra value tab"><i class="fa fa-info-circle"></i></a>
                                                    </label>
                                                </td>
                                                <td class="hidden-xs hidden-sm" style="vertical-align:middle;">
                                                    Allows user to edit existing extra values on an extra value tab
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:120px;text-align:right;">
                                                    <input type="checkbox" id="ck1" checked data-toggle="toggle" data-on="Show" data-off="Hide" data-width="90">
                                                </td>
                                                <td style="vertical-align:middle;">
                                                    <label class="form-check-label" for="ck1">
                                                        Org Extra Value Edit Button <a class="visible-sm-inline visible-xs-inline" href="#" data-toggle="popover" data-placement="right" data-trigger="focus" data-title="Org Extra Value Edit Button" data-content="Show/Hide the org extra value edit button which allows new EVs to be added"><i class="fa fa-info-circle"></i></a>
                                                    </label>
                                                </td>
                                                <td class="hidden-xs hidden-sm" style="vertical-align:middle;">
                                                    Show/Hide the org extra value edit button which allows new EVs to be added
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:120px;text-align:right;">
                                                    <input type="checkbox" id="ck1" checked data-toggle="toggle" data-on="Show" data-off="Hide" data-width="90">
                                                </td>
                                                <td style="vertical-align:middle;">
                                                    <label class="form-check-label" for="ck1">
                                                        Guest Org Members <a class="visible-sm-inline visible-xs-inline" href="#" data-toggle="popover" data-placement="right" data-trigger="focus" data-title="Guest Org Members" data-content="Show/Hide Guest Org Member Tab"><i class="fa fa-info-circle"></i></a>
                                                    </label>
                                                </td>
                                                <td class="hidden-xs hidden-sm" style="vertical-align:middle;">
                                                    Show/Hide Guest Org Member Tab
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:120px;text-align:right;">
                                                    <input type="checkbox" id="ck1" checked data-toggle="toggle" data-on="Show" data-off="Hide" data-width="90">
                                                </td>
                                                <td style="vertical-align:middle;">
                                                    <label class="form-check-label" for="ck1">
                                                        Inactive Org Members <a class="visible-sm-inline visible-xs-inline" href="#" data-toggle="popover" data-placement="right" data-trigger="focus" data-title="Inactive Org Members" data-content="Show/Hide Inactive Org Member Tab"><i class="fa fa-info-circle"></i></a>
                                                    </label>
                                                </td>
                                                <td class="hidden-xs hidden-sm" style="vertical-align:middle;">
                                                    Show/Hide Inactive Org Member Tab
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:120px;text-align:right;">
                                                    <input type="checkbox" id="ck1" checked data-toggle="toggle" data-on="Show" data-off="Hide" data-width="90">
                                                </td>
                                                <td style="vertical-align:middle;">
                                                    <label class="form-check-label" for="ck1">
                                                        Pending Org Members <a class="visible-sm-inline visible-xs-inline" href="#" data-toggle="popover" data-placement="right" data-trigger="focus" data-title="Pending Org Members" data-content="Show/Hide Pending Org Member Tab"><i class="fa fa-info-circle"></i></a>
                                                    </label>
                                                </td>
                                                <td class="hidden-sm hidden-xs" style="vertical-align:middle;">
                                                    Show/Hide Pending Org Member Tab
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:120px;text-align:right;">
                                                    <input type="checkbox" id="ck1" data-toggle="toggle" data-on="Allow" data-off="Disallow" data-width="90">
                                                </td>
                                                <td style="vertical-align:middle;">
                                                    <label class="form-check-label" for="ck1">
                                                        Edit Org Content <a class="visible-sm-inline visible-xs-inline" href="#" data-toggle="popover" data-placement="right" data-trigger="focus" data-title="Edit Org Content" data-content="Instead of relying on the EditContent role, Org Leaders can always edit org content"><i class="fa fa-info-circle"></i></a>
                                                    </label>
                                                </td>
                                                <td class="hidden-xs hidden-sm" style="vertical-align:middle;">
                                                    Instead of relying on the EditContent role, Org Leaders can always edit org content
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
