@{
    var admin = User.IsInRole("Admin");
    var edit = User.IsInRole("Edit");
    var manager2 = User.IsInRole("Manager2");
    var manager = User.IsInRole("Manager");
    var canServeAsHeadOfHousehold = CmsWeb.Code.ViewUtilities.CanBePromotedToHeadOfHousehold(ViewBag.PeopleId);
}
@if (admin)
{
    <ul class="dropdown-menu dropdown-menu-large container row dropdown-menu-right bluebar-menu-col-2" role="menu">
        <li class="col-sm-6">
            <ul id="ultoolbar">
                <li class="dropdown-header">Administrative</li>
                <li><a id="split" href="/Person2/Split/@ViewBag.PeopleId"><span class="org-context">Put in New Family</span></a></li>
                @if (canServeAsHeadOfHousehold)
                {
                    <li><a id="promoteToHeadOfHousehold" href="/Person2/PromoteToHeadOfHousehold?peopleId=@ViewBag.PeopleId"><span class="org-context">Promote to head of household</span></a></li>
                }
                <li><a class="searchadd" href="/SearchAdd2/Dialog/MergeTo/@ViewBag.PeopleId?displaySkipSearch=false"><span class="org-context">Merge this duplicate</span></a></li>
                @if (User.IsInRole("Delete"))
                {
                    <li><a id="deletePerson" href="/Person2/Delete/@ViewBag.PeopleId"><span class="org-context">Delete this record</span></a></li>
                }
                else
                {
                    <li><a href="https://docs.touchpointsoftware.com/People/DeletePerson.html" target="_blank"><span class="org-context">Delete this record</span></a></li>
                }
            </ul>
        </li>
        <li class="col-sm-6">
            @Html.Partial("Toolbar/GearStandard")
        </li>
    </ul>
}
else if (manager || manager2)
{
    <ul class="dropdown-menu dropdown-menu-large container row dropdown-menu-right bluebar-menu-col-2" role="menu">
        <li class="col-sm-6">
            <ul id="ultoolbar">
                <li class="dropdown-header">Administrative</li>
                <li><a id="split" href="/Person2/Split/@ViewBag.PeopleId"><span class="org-context">Put in New Family</span></a></li>
                <li><a class="searchadd" href="/SearchAdd2/Dialog/MergeTo/@ViewBag.PeopleId"><span class="org-context">Merge this duplicate</span></a></li>
            </ul>
        </li>
        <li class="col-sm-6">
            @Html.Partial("Toolbar/GearStandard")
        </li>
    </ul>
}
else if (edit)
{
    <ul class="dropdown-menu dropdown-menu-large container row dropdown-menu-right bluebar-menu-col-2" role="menu">
        <li class="col-sm-4">
            <ul id="ultoolbar">
                <li class="dropdown-header">Administrative</li>
                <li><a id="split" href="/Person2/Split/@ViewBag.PeopleId"><span class="org-context">Put in New Family</span></a></li>
            </ul>
        </li>
        <li class="col-sm-6">
            @Html.Partial("Toolbar/GearStandard")
        </li>
    </ul>
}
else
{
    <ul class="dropdown-menu dropdown-menu-large container row dropdown-menu-right bluebar-menu-col-2" role="menu">
        <li class="col-sm-12">
            @Html.Partial("Toolbar/GearStandard")
        </li>
    </ul>
}
