@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Find Duplicates";
    ViewBag.ReportPageHeader = "Find Duplicates";
}
<div class="box box-responsive">
    <div class="box-content">
        <div class="well" style="max-width: 670px; margin: auto;">
            <div class="row">
                <form action="/Duplicates/Find" method="post">
                    <div class="col-sm-5">
                        <label for="FromDate">Created on or after</label>
                        <div class="input-group date">
                            @Html.TextBox("FromDate", "", new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                            @Html.Hidden("FromDateIso", "", new { disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <label for="ToDate">Created on or before</label>
                        <div class="form-inline">
                            <div class="input-group date">
                                @Html.TextBox("ToDate", "", new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                                @Html.Hidden("ToDateIso", "", new { disabled = "disabled" })
                            </div>
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary">Run</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>