@model CmsWeb.Models.SavedQuery2Model
@using CmsWeb
@{
    ViewBag.Title = "SavedQuery";
    Layout = ViewExtensions2.Layout();
}
@section scripts
{
    @Fingerprint.Script("/Scripts/Search/SavedQuery2.js")
}
<div class="roundbox" style="display: table">
<h2>Saved Search Builder Queries</h2>
@using (Html.BeginForm("Results", "SavedQuery2")) {
    Html.RenderPartial("Results", Model);
}
</div>
