@{
    var db = Db;
    var oldheader = CurrentDatabase.Setting("UseOldHeader", "false").ToBool() ? CurrentDatabase.Content("Header", "") : "";
    var customheader = CurrentDatabase.Content("CustomHeader", @"");
}
<div id="clientheader">
    @Html.Raw(User.IsInRole("Access")
        ? Util.PickFirst(customheader, oldheader)
        : Util.PickFirst(CurrentDatabase.Content("MyDataHeader", ""), customheader, oldheader))
</div>