@{
    CMSDataContext Db = ViewBag.CurrentDatabase;
    var oldheader = Db.Setting("UseOldHeader", "false").ToBool() ? Db.Content("Header", "") : "";
    var customheader = Db.Content("CustomHeader", @"");
}
<div id="clientheader">
    @Html.Raw(User.IsInRole("Access")
        ? Util.PickFirst(customheader, oldheader)
        : Util.PickFirst(Db.Content("MyDataHeader", ""), customheader, oldheader))
</div>
