@{
    var db = DbUtil.Db;
    var oldheader = db.Setting("UseOldHeader", "false").ToBool() ? db.Content("Header", "") : "";
    var customheader = db.Content("CustomHeader", @"");
}
<div id="clientheader">
    @Html.Raw(User.IsInRole("Access")
        ? Util.PickFirst(customheader, oldheader)
        : Util.PickFirst(db.Content("MyDataHeader", ""), customheader, oldheader))
</div>