@{
    var oldheader = DbUtil.Db.Setting("UseOldHeader", "false").ToBool() ? DbUtil.Db.Content("Header", "") : "";
    var customheader = DbUtil.Db.Content("CustomHeader", @"");
}
<div id="clientheader">
    @Html.Raw(User.IsInRole("Access")
        ? Util.PickFirst(customheader, oldheader)
        : Util.PickFirst(DbUtil.Db.Content("MyDataHeader", ""), customheader, oldheader))
</div>
