@{
    var tutorialFile = Server.MapPath(".") + "/Content/Tutorials/" + Util.Helpfile + ".cshtml";
}
@if (ViewBag.CurrentDatabase.Setting("ShowTutorialFileNames"))
{
    <br />
    <b>Menus:</b>
    @(Util.Helpfile)@:_Menu.cshtml<br />
    <b>Tutorials:</b>
    @(Util.Helpfile)@:.cshtml
}
@if (File.Exists(tutorialFile))
{
    Html.RenderPartial("/Content/Tutorials/" + Util.Helpfile + ".cshtml");
}

<form id="ExportStartEnd" class="modal fade form-horizontal hide">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>Select a date range</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">Start Date </label>
            <input id="startdt" type="text" class='datepicker' />
        </div>
        <div class="control-group">
            <label class="control-label">End Date </label>
            <input id="enddt" type="text" class='datepicker' />
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary ok">OK</a>
    </div>
</form>
<form id="new-extra-value" class="modal fade hide validate" method="POST">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3 class="title">New Extra Value</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">Field</label>
            <input name="field" type="text" data-rule-required="true" />
        </div>
        <div class="control-group">
            <label class="control-label">Value</label>
            <input name="value" type="text" data-rule-required="true" />
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-success" data-dismiss="modal">Close</a>
        <input type="submit" class="btn btn-primary" value="OK" />
    </div>
</form>

<div id="darkLayer" class="darkClass" style="display: none"></div>

