@model string
<form class="form form-horizontal modal fade hide ajax">
  <div class="modal-header">
    <h4>Error</h4>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger">@Model</div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Dismiss</a>
  </div>
</form>