@model CmsWeb.Models.ErrorMessage
@{
    Layout = "~/Views/Shared/onlinereg2.cshtml";
    ViewBag.Title = "Notification";
}
<div class="regform alert alert-warning">
    <h2>@Model.text</h2>
    <!--@Model.stacktrace-->
</div>


