@if (Util.UrgentMessage.HasValue())
{
    <div id='urgentNotice'>@Util.UrgentMessage</div>
}
@if (DbUtil.TopNotice().HasValue())
{
    <div id='TopNotice'>@Html.Raw(DbUtil.TopNotice())</div>
}
<!--[if lte IE 9]>
    <div id="urgentNotice">You are running IE9 or less. This application requires IE10+, Firefox, Chrome or Safari</div>
<![endif]-->