@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <script>
        setTimeout(function () { window.open('@ViewData["Redirect"]', '_top') }, 100);
    </script>
</body>
</html>
