@using CmsWeb
@model object
@{
    ViewBag.Title = "Send";
    Layout = ViewExtensions2.Layout();
}

<h2>SMS Messages Sent</h2>
<a href="/Email/@Model?subj=@Server.UrlEncode(ViewBag.sTitle)&body=@Server.UrlEncode(ViewBag.sMessage)">Click Here</a> to send an e-mail to the same people.<br />