@using CmsData
@model CmsWeb.Areas.OnlineReg.Models.OnlineRegModel
@Helper.OnlineRegHeaderFullRow("Select Family Member")
<div id="selectfamily" class="box">
    <table class="table">
        @foreach (var fm in Model.FamilyMembers())
        {
            <tr>
                <td nowrap>
                    Choose <a id="fm-@fm.PeopleId" href="/OnlineReg/RegisterFamilyMember/@fm.PeopleId" class="submitlink">@fm.Name</a> (@Person.AgeDisplay(fm.Age, fm.PeopleId))
                </td>
                <td>
                    @Html.ValidationMessage2("fammember-" + fm.PeopleId)
                </td>
            </tr>
        }
    </table>
</div>
