@model CmsWeb.Areas.OnlineReg.Models.ManagePledgesModel
@{
  Layout = "~/Views/Shared/onlinereg2.cshtml";
  ViewBag.Title = "Online Registration";
}
<div class="confirm">
  @Html.Raw(Model.ThankYouMessage)
</div>
