@model CmsData.Content
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, maximum-scale=1.0">
        <title></title>
        @ViewExtensions2.FontAwesome()
        <style>
            #editor-body {
                font-family: Arial,Helvetica;
            }
            .tp-gold {
                color: #eaab00;
            }
        </style>
    </head>
    <body style="margin: 0;">
        <div id="editor-body">
            @Html.Raw(Model.Body)
        </div>
        <input type="hidden" id="hiddenHtml" name="hiddenHtml" value="@Model.Body" />
    </body>
</html>
