@using CmsWeb.Areas.Manage.Controllers
@model System.Data.IDataReader
@{
    ViewBag.Title = "SQL Report";
    ViewBag.ReportPageHeader = ViewBag.Name;
    Layout = ViewExtensions2.TouchPointLayout();
}
<div class="report box box-responsive">
  <div class="box-content">
    <div id="reportlinks">
      <a href="@ViewBag.ExcelUrl" target="_blank" class="btn btn-default"><i class="fa fa-file-excel-o"></i> Download as Excel</a>
    </div>
    <div class="table-responsive">
      @Html.Raw(GridResult.Table(Model, ViewBag.Name2))
      <strong>Total Count</strong> <span class="badge"></span>
      @if (User.IsInRole("Admin") && ViewBag.Type != "TotalsByFundSqlReport")
      {
      <p>
        <a href="/Reports/AddReport?report=@Url.Encode(ViewBag.Report)&url=@Url.Encode(ViewBag.Url)&type=@ViewBag.Type" target="_blank">Add Report to Menu</a>
      </p>
      }
    </div>
  </div>
</div>
