@model List<CmsData.Registration.Settings.AgeGroup>
@using CmsData
@using CmsWeb
@using UtilityExtensions
<div class="form-group">
    <div class="controls">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right newitem">
                    <a href="/Org/NewAgeGroup" class="btn btn-success" data-dest="#age-groups"><i class="fa fa-plus-circle"></i> Add Item</a>
                </div>
            </div>
        </div>
        <br />
        <div class="row" id="age-groups">
            @foreach (var i in Model)
            {               
                @Html.EditorFor(m => i)
            }
        </div>
        @if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
        {
            <div class="alert alert-info">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
        }
    </div>
</div>