@using UtilityExtensions
@model IEnumerable<CmsWeb.Areas.Org2.Models.ScheduleInfo>
<div class="control-group">
    <div class="controls">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a id="addsch" href="/Org/NewSchedule" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add Schedule</a>
                </div>
            </div>
        </div>
        <br/>
        <div id="schedules" class="row">
            @foreach (var sc in Model.OrderBy(cc => cc.Id))
            {
                @Html.EditorFor(m => sc)
            }
        </div>
        @if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
        {
            <div class="alert alert-info">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
        }
    </div>
</div>