@model CmsData.Registration.TimeSlots
@using CmsWeb
@using UtilityExtensions
<div class="well" id="TimeSlotsList">
    <div class="row">
        <div class="col-sm-12">
            <label class="ask-question">Time Slots</label>
        </div>
    </div>
    @{ var listname = Html.NameFor2(m => m.list); }
    @if (ViewBag.ShowHelp != false)
    {
        <div class="alert alert-info">@Html.Markdown(Model.Help)</div>
    }
    <div class="row">
        <div class="col-sm-4">
            @Html.EditorFor(m => m.TimeSlotLockDays)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right newitem">
                <a href="/Org/NewTimeSlot/@listname" class="btn btn-success btn-sm" data-dest=".time-slots"><i class="fa fa-plus-circle"></i> Add Time Slot</a>
            </div>
        </div>
    </div>
    <br />
    <div class="movable-list time-slots">
       @foreach (var f in Model.list)
       {
           f.Name = listname;
        @Html.EditorFor(m => f)
       }
    </div>
</div>
