@using CmsWeb
@using UtilityExtensions
@{
    Layout = ViewExtensions2.TouchPointLayoutWithoutHeaderFooter();
}
@section head
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css">
    @Fingerprint.Css("/Content/touchpoint/css/checkin.css")
}
<body class="checkin">
    <noscript>You've reached the @ViewExtensions2.DbSetting("NameOfChurch", Util.Host) check in portal. JavaScript is required, please enable JavaScript in your browser settings.</noscript>
    <template id="CheckInApp">
        <div v-if="view == 'login'" class="login">
            <h2 class="form-header text-center">@ViewExtensions2.DbSetting("NameOfChurch", Util.Host) Check In</h2>
            <form v-on:submit.prevent="auth" class="panel panel-default">
                <div class="form-group">
                    <label for="username">Sign In As</label>
                    <input type="text" name="username" class="form-control input-lg" placeholder="username or email" required="required" autocomplete="off" autocapitalize="off" autocorrect="off" v-model="user.name" />
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control input-lg" placeholder="password" required="required" v-model="user.password" />
                </div>
                <div class="form-group">
                    <label for="kiosk">Kiosk Name</label>
                    <input type="text" name="kiosk" class="form-control input-lg" placeholder="KioskName" required="required" v-model="kiosk.name" />
                </div>
                <div class="form-group">
                    <label for="profile">Use Kiosk Profile</label>
                    <select class="form-control input-lg" name="profile" id="profile" v-model="kiosk.profile">
                        <option value="default">Default</option>
                    </select>
                </div>
                <div class="form-actions">
                    <input type="submit" value="Sign In" class="btn btn-primary btn-block btn-lg">
                </div>
            </form>
        </div>
        <div v-else-if="view == 'landing'" class="landing">
            <h2>Enter your phone number</h2>
            <form v-on:submit.prevent="find">
                <input type="tel" name="phone" v-mask="phoneMask" v-model="search.phone" class="keyboard-input"/>
                <div class="simple-keyboard"></div>
            </form>
        </div>
        <div v-else-if="view == 'families'" class="families results">
            <div class="row header-bar">
                <div class="col-xs-12 col-md-10">
                    <h2 style="font-weight:300;">Choose the family you belong to</h2>
                </div>
                <div class="col-xs-12 col-md-2 text-right">
                    <a class="btn btn-primary" v-on:click="loadView('landing')" style="margin-top: 22px;">Return</a>
                </div>
            </div>
            <div class="row">
                <template v-for="family in families">
                    <div class="col-xs-12 col-md-6 family">
                        <h4 v-on:click="selectFamily(family)">
                            <a>{{ family.name }} Family</a>
                        </h4>
                    </div>
                </template>
            </div>
            <div class="action-bar">
                <div class="content">
                    <a class="btn btn-primary pull-right" v-on:click="loadView('landing')">Return</a>
                </div>
            </div>
        </div>
        <div v-else-if="view == 'checkin'" class="results">
            <div class="row header-bar">
                <div class="col-xs-12 col-md-10">
                    <h2 style="font-weight:300;">Choose the classes you are checking in to</h2>
                </div>
                <div class="col-xs-12 col-md-2 text-right">
                    <button v-if="attendance.length" v-on:click="updateAttendance" class="btn btn-success" style="margin-top: 22px;">Check In</button>
                    <button v-else type="submit" v-on:click="updateAttendance" class="btn btn-primary" style="margin-top: 22px;">Return</button>
                </div>
            </div>
            <form v-on:submit.prevent="updateAttendance">
                <div class="row">
                    <div v-for="member in members" class="member col-xs-12 col-md-6">
                        <div class="portrait-container">
                            <div class="member-portrait" v-bind:style="portraitStyles(member)"></div>
                        </div>
                        <div class="member-details">
                            <h4 class="name">{{ member.name }} <span class="badge badge-info" v-if="member.age < 18">{{ member.age }}</span></h4>
                            <div v-for="group in member.groups">
                                <div v-on:click="toggleAttendance(member.id, group.id)" class="check-container" v-bind:class="[attendance.includes(member.id + '.' + group.id) ? 'active' : '', group.checkedIn ? 'primary' : '', 'check-container']">
                                    <div>
                                        <span class="check-label">
                                            <i class="fa fa-check icon"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <p style="font-size: 12px; margin-bottom: 5px;">{{ group.date | formatDate }}</p>
                                    <p>{{ group.name }}<span v-if="group.leaderName.length">, {{ group.leaderName }}</span></p>
                                </div>
                            </div>
                            <div v-if="member.groups.length == 0">
                                <p style="font-size: 12px; margin-bottom: 5px;">No meeting time.</p>
                                <p>No self check-in meetings available.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="action-bar">
                <div class="content">
                    <a v-on:click="checkAll" class="pull-left">Check All</a>
                    <i class="fa fa-2x fa-square-o"></i> Reprint all labels
                    <button v-if="attendance.length" v-on:click="updateAttendance" class="btn btn-success pull-right">Check In</button>
                    <button v-else type="submit" v-on:click="updateAttendance" class="btn btn-primary pull-right">Return</button>
                </div>
            </div>
        </div>
        <div v-else class="loading">
            <div class="panel panel-default">
                <p>Loading, please wait...</p>
            </div>
        </div>
    </template>
</body>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.min.js"></script>
    @Fingerprint.Script("/Content/touchpoint/js/checkin.js")
}
