@model CmsWeb.Areas.Manage.Models.SMSMessages.SmsMessagesModel
@{
    ViewBag.Title = "SMS Messages";
    ViewBag.PageHeader = "SMS Messages";
    Layout = ViewExtensions2.TouchPointLayout();
}
<div class="box box-responsive">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#sent" data-toggle="tab">Sent</a></li>
        <li><a href="#received" data-toggle="tab">Received</a></li>
        <li><a href="#replywords" data-toggle="tab">Reply Words</a></li>
    </ul>
    <div class="tab-content">
        <div id="sent" class="tab-pane fade in active">
            @Html.Partial("Sent", Model)
        </div>
        <div id="received" class="tab-pane fade">
            <h3>Received stuff here</h3>
        </div>
        <div id="replywords" class="tab-pane fade">
            @Html.Partial("ReplyWords", Model.ReplyWords())
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('body').on('click', '#clear', function (ev) {
                ev.preventDefault();
                $('#start').val('');
                $('#end').val('');
            });

            $('a.sortable').on("click", function () {
                var newsort = $(this).text();
                var sort = $("#Sort");
                var dir = $("#Direction");

                if ($(sort).val() == newsort && $(dir).val() == 'asc')
                    $(dir).val('desc');
                else
                    $(dir).val('asc');

                $(sort).val(newsort);
                $("#form").submit();
                return false;
            });
        });

        $.gotoPage = function (e, pg) {
            $("#form").submit();
        };

        $.setPageSize = function (e) {
            $("#form").submit();
        };
    </script>
}
