@model CmsWeb.Areas.Manage.Models.SMSMessages.SmsReplyWordsModel
@{
    var n = 0;
}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Word</th>
            <th>Action</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Actions)
        {
            <tr>
                <td><input id="Word" name="Actions[@n].Word" placeholder="Reply Word" type="text" class="form-control" style="width:auto" required="required" value="@item.Word"></td>
                <td><select name="Actions[@n].Action" class="Action form-control" style="width:auto" required="required">
                        @item.ActionOptions()
                    </select>
                </td>
                <td>@item.Input1(n)</td>
                <td>@item.Input2(n)</td>
            </tr>
            n++;
        }
        </tbody>
    </table>
</div>
