@using CmsData
@model CmsWeb.Areas.People.Models.PersonModel
<div class="table-responsive">
    @if (!Model.Resources.Any())
    {
        <h4>There are no resources to display.</h4>
    }
    @foreach (var resource in Model.Resources)
    {
        <h3>@resource.Resource.Name</h3>
        <p>
            @Html.Raw(resource.Resource.Description)
        </p>
        if (resource.Attachments.Any())
        {
            <ul style="list-style-type: circle">
                @foreach (var attachment in resource.Attachments.OrderBy(x => x.DisplayOrder))
                {
                    <li><a href="@attachment.FilePath">@attachment.Name</a></li>
                }
            </ul>    
        }
        <hr/>
    }
</div>