@using UtilityExtensions
@model CmsWeb.Areas.Search.Models.MemberDirectoryModel
@{
    ViewBag.Title = "Member Directory";
    ViewBag.PageHeader = Model.FamilyOption ? $"Family Directory for {Model.OrgName}" : $"Member Directory for {Model.OrgName}";
    ViewBag.PageSubHeader = $"<a href=\"/Person2/{Util.UserPeopleId}\">{Util.UserFullName}</a>";
    Layout = ViewExtensions2.TouchPointLayout();
}
<div class="row">
    <div class="col-md-9">
        <div class="box box-responsive">
            <div class="box-content">
                <form action="" id="form">
                    @Html.Hidden("OrgId")
                    <div class="well">
                        @Html.LabelFor(vv => vv.Name, "Part of Name")
                        <div class="row">
                            <div class="col-sm-12 form-inline">
                                <div class="input-group col-xs-12 col-sm-6">
                                    @Html.TextBoxFor(vv => vv.Name, new { title = "Part of the Name", @class = "form-control" })
                                </div>
                                <div class="input-group">
                                    <button id="search" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.Partial("Results", Model)
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#search").click(function (ev) {
                ev.preventDefault();
                $.getTable();
                return false;
            });

            $.gotoPage = function (ev, pg) {
                $("#Page").val(pg);
                $.getTable();
                return false;
            };

            $.setPageSize = function (ev) {
                $('#Page').val(1);
                $("#PageSize").val($(ev).val());
                return $.getTable();
            };

            $.getTable = function () {
                $.block();
                var f = $('#results').closest('form');
                var q = f.serialize();
                $.post('/MemberDirectory/Results', q, function (ret) {
                    $('#results').replaceWith(ret);
                    $.unblock();
                });
            };
        });
    </script>
}
