@{
    ViewBag.Title = "Change Password";

    if ((bool?)ViewData["hasshell"] == true)
    {
        Layout = "_CustomLayout.cshtml";
    }
    else
    {
        Layout = "_Layout.cshtml";
    }
}
<h1 class="form-header">Change Password</h1>
<div class="alert alert-success" role="alert">
    <strong>Password Changed</strong> Your password has been changed successfully.
</div>
<div class="panel">
    <a href="/" class="btn btn-primary btn-lg active btn-block">Return to Home</a>
</div>