@using CmsWeb
@using UtilityExtensions
@model CmsWeb.Areas.Manage.Controllers.AccountController.AccountInfo
@{
  Layout = "_Layout.touch.cshtml";
  ViewBag.Title = "Forgot Password/Create Account";
}
<h1 class="form-header">Request password</h1>
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Important</strong> To receive a link to set your password, you must provide either the username or email address we have associated with your record. If you do not receive anything, check with the church to make sure they have the correct email address for you.
</div>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "panel" })){
    <div class="form-group">
        <input type="email" class="form-control" id="inputEmail" name="UsernameOrEmail" placeholder="Username or Email" required="required"/>
    </div>
    <div class="form-actions">
        <input type="submit" value="Request Password" class="btn btn-primary btn-block btn-lg">
    </div>
}