@{
    ViewBag.Title = "Forgot Username";

    if ((bool?)ViewData["hasshell"] == true)
    {
        Layout = "~/Views/Shared/Account/_ShellLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/Account/_Layout.cshtml";
    }
}
<h1 class="form-header">Forgot Username</h1>
@Html.ValidationSummaryBootstrap(true)
@using (Html.BeginForm("ForgotUsername", "Account", FormMethod.Post, new { @class = "panel" }))
{
    <div class="form-group">
        <input type="email" id="email" name="email" class="form-control input-lg" placeholder="email address" required="required">
    </div>
    <div class="form-actions">
        <input type="submit" value="Request Username" class="btn btn-primary btn-block btn-lg">
    </div>
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#email').focus();
        });
    </script>
}
