@model CmsWeb.Areas.Manage.Models.AccountInfo
@{
    ViewBag.Title = "Forgot Password/Create Account";

    if ((bool?)ViewData["hasshell"] == true)
    {
        Layout = "~/Views/Shared/Account/_ShellLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/Account/_Layout.cshtml";
    }
}
<h1 class="form-header">Request Password</h1>
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Important</strong> To receive a link to set your password, you must provide either the username or email address we have associated with your record.
</div>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "panel" }))
{
    <div class="form-group">
        <input type="text" class="form-control input-lg" id="inputEmail" name="UsernameOrEmail" placeholder="username or email" required="required" autocomplete="off" autocapitalize="off" autocorrect="off" />
    </div>
    <div class="form-actions">
        <input type="submit" value="Request Password" class="btn btn-primary btn-block btn-lg">
    </div>
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('input:text').first().focus();
        });
    </script>
}
