@{
Layout = "~/Views/Shared/Site3.cshtml";
ViewBag.Title = "ForgotUsername";
}
<h2>Set Password Link already used or expired.</h2>
<p>You can <a href="/Account/ForgotPassword">request another Set Password Link by clicking this.</a></p>


