@{
    ViewBag.Title = "Password Link Expired";

    if ((bool?)ViewData["hasshell"] == true)
    {
        Layout = "~/Views/Shared/Account/_ShellLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/Account/_Layout.cshtml";
    }
}
<h1 class="form-header">Set Password</h1>
<div class="alert alert-danger" role="alert">
    <strong>Link expired.</strong> Your set password link was already used or has expired.
</div>
<div class="panel">
    <a href="/Account/ForgotPassword" class="btn btn-primary btn-lg active btn-block">Request Password</a>
</div>
