@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Password Sent";
}
<h1 class="form-header">Request Password</h1>
<div class="alert alert-success" role="alert">
    <strong>Password Sent</strong> If you provided the username or email address associated with your record, you should receive an email shortly with a link to reset your password. '
    If you do not receive anything, check with the church to make sure they have the correct email address for you.
</div>
<div class="panel">
    <a href="/" class="btn btn-primary btn-lg active btn-block">Return to Login</a>
</div>