@{
    ViewBag.Title = "ResetPassword";

    if ((bool?)ViewData["hasshell"] == true)
    {
        Layout = "_CustomLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/Site3.cshtml";
    }
}
<h2>Change Password</h2>
<p>
Your password has been changed successfully.<br />
You should receive an email shortly with your new password.
</p>


