<div class="form-group text-center passcode">
    <h3 class="passcode-title">Enter the passcode shown in the authenticator app</h3>
    @for (var i = 1; i <= 6; i++)
    {
        <input class="input-lg text-center" name="passcode" data-index="@i" autocomplete="off" inputmode="numeric" maxlength="1" />
    }
</div>
<div class="form-actions">
    <div class="col-xs-4">
        <button id="back" class="btn btn-danger btn-block btn-lg"><i class="fa fa-lg fa-long-arrow-left"></i></button>
    </div>
    <div class="col-xs-8">
        <button id="finish" class="btn btn-primary btn-block btn-lg">Finish</button>
    </div>
</div>
@section scripts
{
    <script>
        $(function () {
            var passcodes = $('[name="passcode"]');
            passcodes.keyup(function (event) {
                if (0 <= event.key && 9 >= event.key) {
                    var next;
                    passcodes.each(function (i, e) {
                        if (next) {
                            e.focus();
                            return false;
                        }
                        next = (e === event.target);
                    });
                }
            })
            .focusin(function (event) {
                event.target.select();
            });
        });
    </script>
}
