@using CmsData;
@model BackgroundCheck
@{
    // type must be either ProtectMyMinistryHelper.TYPE_BACKGROUND or ProtectMyMinistryHelper.TYPE_CREDIT
    int type = ViewBag.dialogType;
    var labels = from e in DbUtil.Db.BackgroundCheckLabels
                 orderby e.Description
                 select e;
}
<form action="/Volunteering/EditCheck/@Model.Id" method="post">
    <input type="hidden" name="type" value="@type" />
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Check</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Check For</label>
            <span class="form-control">@Model.Person.Name</span>
        </div>
        <div class="form-group">
            <label>Label</label>
            @Html.DropDownList("label",  new SelectList( labels, "ID", "Description", @Model.ReportLabelID), new { @class = "form-control" })
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
