@using CmsData;
@using CmsData.Classes.ProtectMyMinistry
@model Person
@{
    // type must be either ProtectMyMinistryHelper.TYPE_BACKGROUND or ProtectMyMinistryHelper.TYPE_CREDIT
    int type = ViewBag.dialogType;

    var labels = from e in DbUtil.Db.BackgroundCheckLabels
                 orderby e.Description
                 select e;

  var labelEnabled = DbUtil.Db.Setting("EnableBackgroundLabels");
}
<form action="/Volunteering/CreateCheck/@Model.PeopleId" method="post">
    <input type="hidden" name="type" value="@type" />
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Person</label>
            <span class="form-control">@Model.Name</span>
        </div>
        <div class="form-group">
            <label for="code">Type</label>
            @Html.DropDownList("code", new SelectList(ProtectMyMinistryHelper.GetCheckTypes(type), "code", "label"), new { @class = "form-control" })
        </div>
        @if (labelEnabled)
        {
            <div class="form-group">
                <label for="label">Label</label>
                @Html.DropDownList("label", new SelectList(labels, "ID", "Description"), new { @class = "form-control" })
            </div>
        }
    </div>
    <div class="modal-footer">
        <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
