@using UtilityExtensions
@using CmsWeb
@{
    ViewBag.Title = "Registration Settings";
    ViewBag.PageHeader = "Registration Settings";
    ViewBag.PageSubHeader = "<a href=\"/Org/{0}\">{1}</a>".Fmt(ViewData["OrganizationId"], ViewData["orgname"]);
    Layout = ViewExtensions2.TouchPointLayout();
}
<div class="row">
    <div class="col-md-9">
        <div class="box box-responsive">
            <div class="box-content">
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["error"]
                    </div>
                }
                <form action="/RegSettings/Update/@ViewData["OrganizationId"]" method="post">
                    <div id="editor" style="width: 100%; height: 550px; border: #ccc solid 1px;">@ViewData["Text"]</div>
                    <input type="hidden" id="text" name="text"/>
                    <br/>
                    <a href="/RegSettings/@ViewData["OrganizationId"]" class="btn btn-default">Cancel</a> 
                    <a href="#" id="save" class="btn btn-primary">Save Changes</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
    <script type="text/javascript">
        $(function () {
            var editor = ace.edit("editor");
            editor.getSession().setMode("ace/mode/text");
            editor.setShowPrintMargin(false);

            $("#save").click(function (ev) {
                ev.preventDefault();
                $("#text").val(editor.getValue());
                $("form").submit();
            });
        });
    </script>
}