@using System.Text
@using CmsWeb
@using UtilityExtensions
@{
    ViewBag.Title = "Registration Settings";
    ViewBag.PageHeader = "Registration Settings";
    ViewBag.PageSubHeader = "<a href=\"/Org/{0}\">{1}</a>".Fmt(ViewData["OrganizationId"], ViewData["orgname"]);
    Layout = ViewExtensions2.TouchPointLayout();
    var sb = new StringBuilder();
    var lines = (string[])ViewData["lines"];
    for (var i = 0; i < lines.Length; i++)
    {
        sb.AppendFormat("  {0,3}\t{1}\n", i + 1, lines[i]);
    }
}
<div class="row">
    <div class="col-md-9">
        <div class="box box-responsive">
            <div class="box-content">
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["error"]
                    </div>
                }
                <pre>@sb.ToString()</pre>
                <form action="/RegSettings/Edit/@ViewData["OrganizationId"]" method="post">
                    <button id="edit" type="submit" class="btn btn-default" value="Edit Text"><i class="fa fa-pencil"></i> Edit Text</button>
                    <a href="/RegSettings/ConvertFromMdy/@ViewBag.OrganizationId" class="btn btn-default">Convert From MDY</a>
                    <a href="/RegSettings/ConvertFromDmy/@ViewBag.OrganizationId" class="btn btn-default">Convert From DMY</a>
                    <input type="hidden" name="regsetting" value="@ViewData["regsetting"]" />
                </form>
            </div>
        </div>
    </div>
</div>
