@model CmsWeb.Code.CodeInfo
<dl>
    <dt>@Html.DisplayNameFor(m => m)</dt>
    @if (Model != null)
    {
        <dd>@Model</dd>
    }
    else
    {
        <dd>&nbsp;</dd>
    }
</dl>
@if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
{
    <div class="alert alert-info">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
}