@model CmsWeb.Code.CodeInfo
<dl>
    <dt>@Html.DisplayNameFor(m => m)</dt>
    @if (Model != null)
    {
        <dd>@Model</dd>
    }
    else
    {
        <dd>&nbsp;</dd>
    }
    @if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
    {
        <dd>
            <div class="alert alert-info maxWidthMedium margin-top">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
        </dd>
    }
</dl>
