@model DateTime?
<dl>
    <dt>@Html.DisplayNameFor(m => m)</dt>
    <dd>@Model.FormatDate()</dd>
    @if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
    {
        <dd>
            <div class="alert alert-info maxWidthMedium margin-top">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
        </dd>
    }
</dl>