@using UtilityExtensions
@model DateTime?
<div class="control-group">
    @Html.LabelFor(m=> m, new { @class = "control-label"})
    <div class="controls">
        <p><b>@Model.FormatDateTm()</b></p>
    </div>
</div>
