@using UtilityExtensions
@model decimal?
<dl>
    @if (ViewBag.label != null)
    {
        <dt>@ViewBag.label</dt>
    }
    else
    {
        <dt>@Html.DisplayNameFor(m => m)</dt>
    }
    <dd>@Model.ToString2("N2")</dd>
</dl>
@if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
{
    <div class="alert alert-info">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
}
