@model string
@{
    var text = ((string)ViewBag.text);
    if (!text.HasValue())
    {
        text = Model;
    }
}
<dl>
    <dt>@Html.DisplayNameFor(m => m)</dt>
    <dd><a href="@Model" target="transactions">@text</a></dd>
</dl>