@model int?
<div class="control-group">
  @(ViewBag.label != null
        ? Html.Label(ViewBag.label as string, new { @class = "control-label" })
        : Html.LabelFor(m => m, new { @class = "control-label" }))
  <div class="controls">
    <p>@ViewData.TemplateInfo.FormattedModelValue</p>
    @if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
    {
      <div class="alert alert-info maxWidthMedium margin-top">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
    }
  </div>
</div>
