@using CsQuery.Output
@using UtilityExtensions
@model string
<dl>
    <dt>@Html.DisplayNameFor(m => m)</dt>
  <dd>
    @if (Model.HasValue()) { @Model } else { <text>&nbsp;</text> }
  </dd>
</dl>
@if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
{
    <div class="alert alert-info">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
}