@using UtilityExtensions
@model string
<div class="control-group">
  @Html.LabelFor(m => m, new { @class = "control-label" })
  <div class="controls">
    <p>@Html.Raw(Model.HasValue() ? Model : "&nbsp;")</p>
    @if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
    {
      <div class="alert alert-info maxWidthMedium margin-top">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
    }
  </div>
</div>
