@model string
@{
    var prewrap = ViewBag.prewrap ?? "pre-wrap";
}
<div class="control-group">
    @Html.LabelFor(m => m, new { @class="control-label"})
    <div class="controls display @prewrap well @ViewBag.AddClass">@Html.Raw(Model)</div>
</div>
