@model string
@{
    var prewrap = ViewBag.prewrap ?? "pre-wrap";
}
<dl>
    <dt>@Html.DisplayNameFor(m => m)</dt>
    <dd><div class="display @prewrap @ViewBag.AddClass">@Html.Raw(Model)</div></dd>
</dl>
