@model CmsData.MemberDocForm
@{ 
    string img = "/Image/" + Model.MediumId;
    string nextsize = "/MemberDocs/Image/" + Model.Id + "?size=large";
    if (Request.QueryString["size"] == "large") 
    {
        img = "/Image/" + Model.LargeId;
        nextsize = "/MemberDocs/Image/" + Model.Id + "?size=medium";
    }
}
<a href="@nextsize"><img src="@img" style="border: 0" alt="" title="Click to toggle image size" /></a><br />
