#main-tab form li ul {
    margin-left: 2em;
}

#main-tab form li {
    margin-top: .5em;
}

div.settings .left {
    float: left;
}

#memberDialog {
    padding: 0px;
}

#schedules {
    padding-left: 0px;
    margin-top: 0px;
}

    #schedules input {
        width: 60px;
    }

#schedulehead {
    font-weight: bold;
    margin-top: 1em;
}

    #schedulehead span {
        display: inline-block;
    }

#schedules span {
    display: inline-block;
}

a.ui-state-default {
    cursor: pointer;
}

input {
    margin: 3px;
}

.text {
    /*height: 20px;*/
    margin-top: 5px;
}

.sgfee {
    width: 80px;
    display: inline-block;
}

.long {
    width: 400px;
}

.short {
    width: 50px;
}

.keyword {
    width: 170px;
    display: inline-block;
}

.keyword2 {
    width: 60px;
    display: inline-block;
}

.keyword3 {
    width: 150px;
    display: inline-block;
}

div.block {
    display: inline-block;
    vertical-align: top;
}

a.editor {
    text-decoration: none;
}

div.border {
    border: 1px dotted grey;
    padding: 4px;
}

.bold {
    font-weight: bold;
}

.big {
    font-size: 16px;
}

div.settings i {
    color: Blue;
}

div.settings > form > ul > li {
    margin-top: 15px;
    margin-bottom: 15px;
}

#QuestionList > li,
ul.sort > li {
    margin-top: 12px;
    margin-bottom: 12px;
    border-left: 7px solid #ddd;
    padding-left: 8px;
}

div.settings ul.padded {
    margin-left: 0px;
}

ul.padded > li {
    padding-left: 12px;
}

.newitem {
    margin: 18px;
}

textarea.html {
    display: none;
}

.edit2 {
    float: right;
    margin-left: 15px;
}

.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

    .ui-timepicker-div dl dt {
        height: 25px;
        margin-bottom: -25px;
    }

    .ui-timepicker-div dl dd {
        margin: 0 10px 10px 65px;
    }

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.ui-timepicker-rtl {
    direction: rtl;
}

    .ui-timepicker-rtl dl {
        text-align: right;
    }

        .ui-timepicker-rtl dl dd {
            margin: 0 65px 10px 10px;
        }

#QuestionList, #QuestionList ul {
    list-style-type: none;
}

.btn-group.btn-page-actions {
    margin-top: 0;
}

#orginfoform {
    width: auto;
    display: inline-block;
}

#org_OrganizationName {
    width: 90%;
}

#profile-header {
    border-top: 5px solid #45a5f4;
}

#orginfoform th,
#orginfoedit th {
    font-size: 11px;
    font-weight: 700;
}

.header {
    font-size: 14px;
}

li.hidy {
    display: none;
}

.primary-tabs .nav-tabs {
  margin-bottom: 20px;
}
.primary-tabs .nav-tabs.subnav {
  margin-top: 0;
  border-color: #CCC;
  background: #CDCDCD;
  font-size: 90%;
}
.primary-tabs .nav-tabs.subnav > li > a {
  color: #555;
}
.primary-tabs .nav-tabs.subnav > .active > a {
  color: #333;
  background-color: #FFF;
}
.primary-tabs .nav-tabs > li {
  margin-bottom: -1px;
}
.primary-tabs .nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 1.5;
  border-right: 1px solid #bdbdbd;
  border-radius: 0px;
  margin-right: 0;
}
.primary-tabs .nav-tabs > li > a:hover,
.primary-tabs .nav-tabs > li > a:focus {
  border-color: #fdfdfd #fdfdfd #dddddd;
  border-right: 1px solid #bdbdbd;
  border-radius: 0px;
}
.primary-tabs .nav-tabs > .active a,
.primary-tabs .nav-tabs > .active a:hover,
.primary-tabs .nav-tabs > .active a:focus {
  color: #555555;
  background-color: #dddddd;
  cursor: default;
  border-radius: 0px;
}