@using CmsData
@model IEnumerable<CmsData.View.SearchDivision>
<div style="border: 1px dotted grey;padding:4px">
@if (!Model.Any())
{
    <div>choose divisions</div>
}
@foreach (var d in Model)
{
    if (d.Program != null)
    {
    <div>@d.Program&mdash;@d.Division</div>
    }
    else
    {
    <div>(no program)&mdash;@d.Division</div>
    }
}</div>