@model CmsData.Registration.Settings
@if (User.IsInRole("Edit"))
{ 
<a class="displayedit bt edit regsettingedit" href="/Org/OnlineRegMessagesEdit/@Model.OrgId">Edit</a>
}
<div class="formerror">@Html.ValidationMessage("Form")</div>
<ul class="noedit">
@Html.EditorFor(m => m, "TabMessages")
</ul>