@model CmsData.Registration.Settings
@using CmsWeb
@using UtilityExtensions
<div>
    <a class="displayedit bt" href="/Organization/OnlineRegQuestions/@Model.OrgId">Cancel</a>
    <a class="AddQuestion bt green" href="#">Add Question Item</a>
    <a href="/Organization/OnlineRegQuestionsUpdate/@Model.OrgId" class="submitbutton bt blue">Save Changes</a>
</div>
<div style="clear:both"></div>
<div class="formerror">@Html.ValidationMessage("Form")</div><br/>
<div>
    <span class="keyword big tip" title="TargetExtraValues
     |Small groups will actually refer to ExtraValue fields on the Person's record option
     |This option is not normally used">
        TargetExtraValues:
    </span> @Html.CheckBox("TargetExtraValues", Model.TargetExtraValues)
</div>
<i class="blue">Re-order items by dragging the gray bar</i>
<ul class="enablesort sort edit" id="QuestionList">
    @Html.EditorFor(m => m, "TabQuestions")
</ul>
<div>
    <a class="displayedit bt" href="/Organization/OnlineRegQuestions/@Model.OrgId">Cancel</a>
    <a class="AddQuestion bt green" href="#">Add Question Item</a>
    <a href="/Organization/OnlineRegQuestionsUpdate/@Model.OrgId" class="submitbutton bt blue">Save Changes</a>
</div>
<div class="formerror">@Html.ValidationMessage("Form")</div>
<div id="selectquestions" style="display:none;padding-left:2em">
    <ul>
        <li class="AskAllergies">Allergies</li>
        <li class="AnswersNotRequired">Answers Not Required</li>
        <li class="AskCheckboxes">Checkboxes</li>
        <li class="AskChurch">Church</li>
        <li class="AskCoaching">Coaching</li>
        <li class="AskDoctor">Doctor</li>
        <li class="AskDropdown">Dropdown</li>
        <li class="AskEmContact">Emerg Contact</li>
    </ul>
    <ul>
        <li class="AskExtraQuestions">Extra Questions</li>
        <li class="AskText">Multiline Text</li>
        <li class="AskGradeOptions">Grade Options</li>
        <li class="AskHeader">Header</li>
        <li class="AskInstruction">Instruction</li>
        <li class="AskInsurance">Insurance</li>
        <li class="AskMenu">Menu Choices</li>
        <li class="AskParents">Parents</li>
    </ul>
    <ul>
        <li class="AskRequest">Request</li>
        <li class="AskSize">Shirt Size</li>
        <li class="AskSMS">SMS Opt-in</li>
        <li class="AskSuggestedFee">Suggested Fee</li>
        <li class="AskTickets">Tickets</li>
        <li class="AskTylenolEtc">Tylenol Etc</li>
        <li class="AskYesNoQuestions">Yes/No Questions</li>
    </ul>
</div>
