@model CmsWeb.Areas.Org.Models.MemberModel
@Html.Hidden("pending-qid", (Guid?)ViewBag.queryid)
<p>
Count: <strong id="pending-count">@Model.Count()</strong>
<a class="filtergroupslink bt" href="#" title="Filter by name/group">Filter@(Model.isFiltered ? "(filtered)" : "")</a>
@if(User.IsInRole("Edit"))
{ 
    <a href="/SearchAdd2/Dialog/pending/@Model.OrganizationId" class="searchadd bt">Add Pending Members</a>
    <a href="/AddToOrgFromTag/@Model.OrganizationId?pending=true" title="Add Pendings From Tag" class="addfromtag bt">add from tag</a>
    <a href="/OrgMembersDialog/@Model.OrganizationId?pendings=true" title="Update Pending Members" class="memberdialog bt">update pending members</a>
 } 
</p>
@Html.Partial("MemberGrid", Model) 
