.field-validation-error {
    color: #FF0000;
}

.input-validation-error {
    background-color: #FFEEEE;
    border: 1px solid #FF0000;
}

.validation-summary-errors {
    color: #FF0000;
    font-weight: bold;
}

.well-even {
    background-color: #fff;
}
.well-odd {
    background-color: #f5f5f5;
}

.inline-block {
    display: inline-block;
}

div.instructions {
    display: none;
}

body > div.container {
    margin: 0 auto;
    max-width: 700px;
}

div.newattend {
    border: 1px solid lightgrey;
    margin: 10px;
    padding: 10px;
}

div.login-panel {
    max-width: 360px;
    margin: 0 auto;
    padding: 27px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    margin-top: 25px;
}

div.login-panel .form-group {
    margin-right: inherit !important;
    margin-left: inherit !important;
}

div.signin-password {
    position: relative;
}

div.signin-password .forgot {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #555;
    background: #f1f1f1;
    border-radius: 2px;
    line-height: 25px;
    padding: 0 7px;
    font-size: 12px;
}

div.login-error {
    width: 360px;
    margin: 0 auto;
}

div.login-error .field-validation-error {
    color: inherit !important;
}

div.signin-with {
    max-width: 360px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

div.signin-with .header {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin: 0 0 20px;
}

div.signin-with .header a {
    text-decoration: underline;
}

.managed-giving-options a {
    text-decoration: underline dashed;
}
