#conditionlist {
    font-size: 13px;
    width: 100%;
}

    /*
    #conditionlist ul li {
        text-align: left;
    }
*/
    #conditionlist a {
        text-decoration: none;
        color: #444;
    }
    #conditionlist .icon-pencil {
        color: #ccc;
    }
    #conditionlist td.add-condition {
        width: 30px;
        height: 100%;
        text-align: center;
    }

        #conditionlist td.add-condition > div > a {
            display: block;
            padding: 5px;
        }

    #conditionlist td.clausetext {
        text-align: left;
        white-space: normal;
    }

        #conditionlist td.clausetext a.editconditionlink {
            display: block;
            text-align: left;
        }

    #conditionlist a:hover {
        color: white;
        background: #0088cc;
        -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    }

    #conditionlist div.clausetext {
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        text-align: left;
    }


#editcondition {
    display: none;
}

td.select-button {
    padding-bottom: 12px;
}

#QueryConditionSelect div.FieldLink {
    margin-top: .2em;
}

    #QueryConditionSelect div.FieldLink a {
        color: #336699;
        font-size: 180%;
    }

#QueryConditionSelect div.moreinfo {
    margin-left: 3em;
    color: #999;
    font-size: 110%;
    font-style: italic;
}
/*
#Results table {
    margin-top: 1em;
}
*/

/*
#Results h4 {
    margin-top: .5em;
    margin-bottom: .5em;
}
*/
/*
#editcondition table td {
    padding: 3px;
}
*/
/*
#editcondition table tr td:nth-child(1) {
    text-align: right; 
}
*/


