@model CmsWeb.Areas.Setup.Models.SmsReplyWordsModel
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "SMS Reply Words";
    ViewBag.PageHeader = "SMS Reply Words Setup";
}
<div class="row">
    <div class="col-md-10">
        <div class="box box-responsive">
            <div class="box-content">
                <form action="/SmsReplyWords/Save" method="post">
                    <div class="well">
                        <label for="Number" class="control-label">Numbers</label>
                        <div class="row">
                            <div class="col-sm-4">
                                @Html.DropDownList("Number", Model.SmsNumbers(), new { @class = "form-control" })
                            </div>
                            <div class="col-sm-4"><button type="submit" class="btn btn-success">Save Actions</button></div>
                        </div>
                    </div>
                    <div id="ReplyWords">
                        @Html.Partial("ReplyWords", Model)
                    </div>
                    <div class="box-title-btn">
                        <div class="box-tools">
                            <button id="AddReplyWord" type="button" class="btn btn-default"><i class="fa fa-plus-circle"></i> Add ReplyWord</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
                    window.onload = function() {
                        snackbar('@ViewBag.Message', 'success');
                    }
    </script>
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#Number").change(function (ev) {
                ev.preventDefault();
                var f = $(this).closest('form');
                var q = f.serialize();
                $.post("/SmsReplyWords/NumberChanged/",
                    q,
                    function (ret) {
                        $("#ReplyWords").html(ret);
                    });

            });
            $("#ReplyWords").on("change",
                ".Action",
                function (ev) {
                    ev.preventDefault();
                    var f = $(this).closest('form');
                    var q = f.serialize();
                    $.post("/SmsReplyWords/ActionChanged/",
                        q,
                        function (ret) {
                            $("#ReplyWords").html(ret);
                        });
                });
            $('#AddReplyWord').click(function (ev) {
                ev.preventDefault();
                var f = $(this).closest('form');
                var q = f.serialize();
                $.post("/SmsReplyWords/AddAction",
                    q,
                    function (ret) {
                        $("#ReplyWords").html(ret);
                    });
            });
        });
    </script>
}
