@using CmsWeb
@model CmsWeb.Models.ScheduleInfo
<tr>
  <td>@Html.DisplayFor(m => m.SchedDay)</td>
  <td>@Html.DisplayFor(m => m.Time, "Time")</td>
  <td>@Html.DisplayFor(m => m.AttendCredit)</td>
</tr>