@using CmsWeb
@using CmsWeb.Models
@model SearchOrgsModel
<form name="form1" id="select-orgs" class="form form-horizontal modal fade hide validate ajax">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Select Orgs Dialog</h3>
    </div>
    <div class="modal-body">
        @Html.Hidden("ordered", Model.ordered)
        @Html.Hidden("singlemode", Model.singlemode)
        @Html.Hidden("id", Model.id)
        <table id="searchvalues" class="roundbox" cellspacing="5">
            <tr>
                <th class="right"> Name/ID#: </th>
                <td><input id="name" name="name" title="Partial Division / Organization Name" type="text" value="" /></td>
            </tr>
            <tr>
                <td>
                    <input type="button" class="btn" value="Update Selected" id="UpdateSelected" />
                </td>
                <td class="right">
                    <button type="reset" class="btn">Clear</button>
                    <a href="/SearchOrgs/Results" id="search" class="btn btn-primary default formlink blue ajax">Search</a>
                </td>
            </tr>
        </table>
        <br/>
        @Html.Partial("Results", Model)
    </div>
</form>