@using CmsWeb.Areas.Manage.Models
@using CmsWeb.Areas.Manage.Models.Involvement
@model CustomizeInvolvementModel
@{
    ViewBag.Title = "Customize Involvement Tab";
    ViewBag.PageHeader = "Customize Involvement Tab";
    Layout = ViewExtensions2.TouchPointLayout();
}

@section head{
    <style>
        .nav {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .justify-content-center {
            justify-content: center !important;
        }
    </style>
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-responsive">
            <div class="box-content">
                <ul class="nav nav-pills subnav hidden-sm hidden-xs justify-content-center">
                    <li class="involvement-tab active" data-id="1">
                        <a href="#current" data-toggle="tab">
                            <span>Current</span>
                        </a>
                    </li>
                    <li class="involvement-tab" data-id="2">
                        <a href="#pending" data-toggle="tab">
                            <span>Pending</span>
                        </a>
                    </li>
                    <li class="involvement-tab" data-id="3">
                        <a href="#previous" data-toggle="tab">
                            <span>Previous</span>
                        </a>
                    </li>
                </ul>
                <select class="form-control visible-sm-block visible-xs-block nav-select-pills">
                    <option value="#current">Current</option>
                    <option value="#pending">Pending</option>
                    <option value="#previous">Previous</option>
                </select>
                <div class="tab-content" style="border: none">
                    <div class="tab-pane active" id="current">
                        @Html.Partial("_EditTab", Model.Current)
                    </div>
                    <div class="tab-pane" id="pending">
                        @Html.Partial("_EditTab", Model.Pending)
                    </div>
                    <div class="tab-pane" id="previous">
                        @Html.Partial("_EditTab", Model.Previous)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        function wireUpRemoveRow() {
            $('[data-remove-row]').on('click',
                function() {
                    $(this).closest('tr').remove();
                });
        }

        $(document).ready(function () {
            wireUpRemoveRow();

            $('[data-add-row]').on('click',
                function() {
                    $('tbody').append('<tr data-row>' +
                        '<td>' +
                            '<select class="form-control" data-involvement-type>' +
                                '<option value="">-- Default --</option>' +
                                '<option value="Mailing List">Mailing List</option>' +
                                '<option value="Leader Coach Group">Leader Coach Group</option>' +
                                '<option value="Community Group">Community Group</option>' +
                                '<option value="Registration">Registration</option>' +
                                '<option value="Volunteer Group">Volunteer Group</option>' +
                                '<option value="Children and Youth Group">Children and Youth Group</option>' +
                            '</select>' +
                        '</td>' +
                        '<td data-column>' +
                            '<select class="form-control" data-field>' +
                                '<option value="">--</option>' +
                                '<option value="Organization">Organization</option>' +
                                '<option value="Leader">Leader</option>' +
                                '<option value="Enroll Date">Enroll Date</option>' +
                                '<option value="MemberType">MemberType</option>' +
                                '<option value="Leave">Unsubscribe</option>' +
                                '<option value="ViewCalendar">View Calendar</option>' +
                                '<option value="Location">Location</option>' +
                                '<option value="Schedule">Schedule</option>' +
                                '<option value="Drop Date">Drop Date</option>' +
                                '<option value="Last Visit">Last Visit</option>' +
                                '<option value="Health">Health</option>' +
                                '<option value="AttendPct">AttendPct</option>' +
                            '</select>' +
                        '</td>' +
                        '<td data-column>' +
                            '<select class="form-control" data-field>' +
                                '<option value="">--</option>' +
                                '<option value="Organization">Organization</option>' +
                                '<option value="Leader">Leader</option>' +
                                '<option value="Enroll Date">Enroll Date</option>' +
                                '<option value="MemberType">MemberType</option>' +
                                '<option value="Leave">Unsubscribe</option>' +
                                '<option value="ViewCalendar">View Calendar</option>' +
                                '<option value="Location">Location</option>' +
                                '<option value="Schedule">Schedule</option>' +
                                '<option value="Drop Date">Drop Date</option>' +
                                '<option value="Last Visit">Last Visit</option>' +
                                '<option value="Health">Health</option>' +
                                '<option value="AttendPct">AttendPct</option>' +
                            '</select>' +
                        '</td>' +
                        '<td data-column>' +
                            '<select class="form-control" data-field>' +
                                '<option value="">--</option>' +
                                '<option value="Organization">Organization</option>' +
                                '<option value="Leader">Leader</option>' +
                                '<option value="Enroll Date">Enroll Date</option>' +
                                '<option value="MemberType">MemberType</option>' +
                                '<option value="Leave">Unsubscribe</option>' +
                                '<option value="ViewCalendar">View Calendar</option>' +
                                '<option value="Location">Location</option>' +
                                '<option value="Schedule">Schedule</option>' +
                                '<option value="Drop Date">Drop Date</option>' +
                                '<option value="Last Visit">Last Visit</option>' +
                                '<option value="Health">Health</option>' +
                                '<option value="AttendPct">AttendPct</option>' +
                            '</select>' +
                        '</td>' +
                        '<td data-column>' +
                            '<select class="form-control" data-field>' +
                                '<option value="">--</option>' +
                                '<option value="Organization">Organization</option>' +
                                '<option value="Leader">Leader</option>' +
                                '<option value="Enroll Date">Enroll Date</option>' +
                                '<option value="MemberType">MemberType</option>' +
                                '<option value="Leave">Unsubscribe</option>' +
                                '<option value="ViewCalendar">View Calendar</option>' +
                                '<option value="Location">Location</option>' +
                                '<option value="Schedule">Schedule</option>' +
                                '<option value="Drop Date">Drop Date</option>' +
                                '<option value="Last Visit">Last Visit</option>' +
                                '<option value="Health">Health</option>' +
                                '<option value="AttendPct">AttendPct</option>' +
                            '</select>' +
                        '</td>' +
                        '<td data-column>' +
                            '<select class="form-control" data-field>' +
                                '<option value="">--</option>' +
                                '<option value="Organization">Organization</option>' +
                                '<option value="Leader">Leader</option>' +
                                '<option value="Enroll Date">Enroll Date</option>' +
                                '<option value="MemberType">MemberType</option>' +
                                '<option value="Leave">Unsubscribe</option>' +
                                '<option value="ViewCalendar">View Calendar</option>' +
                                '<option value="Location">Location</option>' +
                                '<option value="Schedule">Schedule</option>' +
                                '<option value="Drop Date">Drop Date</option>' +
                                '<option value="Last Visit">Last Visit</option>' +
                                '<option value="Health">Health</option>' +
                                '<option value="AttendPct">AttendPct</option>' +
                            '</select>' +
                        '</td>' +
                        '<td data-column>' +
                            '<select class="form-control" data-field>' +
                                '<option value="">--</option>' +
                                '<option value="Organization">Organization</option>' +
                                '<option value="Leader">Leader</option>' +
                                '<option value="Enroll Date">Enroll Date</option>' +
                                '<option value="MemberType">MemberType</option>' +
                                '<option value="Leave">Unsubscribe</option>' +
                                '<option value="ViewCalendar">View Calendar</option>' +
                                '<option value="Location">Location</option>' +
                                '<option value="Schedule">Schedule</option>' +
                                '<option value="Drop Date">Drop Date</option>' +
                                '<option value="Last Visit">Last Visit</option>' +
                                '<option value="Health">Health</option>' +
                                '<option value="AttendPct">AttendPct</option>' +
                            '</select>' +
                        '</td>' +
                        '<td>' +
                            '<a href="#" class="btn btn-danger" data-remove-row="">-</a>' +
                        '</td>' +
                        '</tr>');

                    wireUpRemoveRow();
                });

            $('[data-save]').on('click',
                function() {
                    var $this = $(this);
                    var tableName = $this.data('table-name');

                    // collect types
                    var types = [];
                    var table = $('[data-table="' + tableName + '"');
                    var rows = table.find('[data-row]');
                    rows.each(function() {
                        var $row = $(this);
                        var columns = [];
                        $row.find('[data-column]').each(function () {
                            var $this = $(this);
                            columns.push({
                                field: $this.find('[data-field]').val(),
                                label: $this.find('[data-label]').val(),
                                role: $this.find('[data-role]').val(),
                                sortable: $this.find('[data-sortable]').val()
                            });
                        });

                        types.push({
                            name: $row.find('[data-involvement-type]').val(),
                            columns: columns
                        });
                    });

                    $.ajax({
                        url: '@Url.Action("Update", "Involvement")',
                        type: 'POST',
                        data: {
                            name: tableName,
                            types: types
                        },
                        success: function(data) {
                            if (data.success) {
                                location.reload();
                            }
                        }
                    });
                });
        });
    </script>
}
