@model CmsWeb.Models.CouponModel
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Coupon";
    ViewBag.PageHeader = "Coupon";
}
<div class="row">
    <div class="col-md-8">
        <div class="alert alert-success fade in" role="alert">
            <h4>Registration Coupon</h4>
            <p>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="text-right">Registration</label>
                    </div>
                    <div class="col-sm-9">
                        @Model.Registration()
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="text-right">Amount</label>
                    </div>
                    <div class="col-sm-9">
                        @Model.amount.ToString("C")
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="text-right">Name</label>
                    </div>
                    <div class="col-sm-9">
                        @Model.name
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="text-right">Coupon Code</label>
                    </div>
                    <div class="col-sm-9">
                        <span style="font-family: Courier New;font-weight:bold">@Model.couponcode</span>
                    </div>
                </div>                
            </p>
            <p>
                <a href="/Coupon/List" class="btn btn-success"><i class="fa fa-arrow-circle-left"></i> Back to List</a>
            </p>
        </div>
    </div>
</div>