@using CmsData.Classes.Twilio
@{ var twilio = TwilioHelper.userSendSMS(Util.UserId); }
<ul class="dropdown-menu toolbar-email pull-left">
  <li class="header">Email</li>
  <li><a href='/Email/@ViewBag.queryid' class="qid">Individuals</a></li>
  <li><a href='/Email/@ViewBag.queryid?parents=true' class="qid">Parents</a></li>
  <li><a href='/Email/@ViewBag.queryid?ccparents=true' class="qid"> Child with Parents CC'd</a></li>
  <li>
    <a id="singleemail" href="/Email/@ViewBag.queryid?nodups=true" class="qid"
       data-confirm="Warning, email replacement codes will not work">
      Single Email Addresses
    </a>
  </li>
  <li class="space"></li>
  @if ((bool?)ViewBag.ParentOrgContext == true)
  {
    <li><a href='/Email/@ViewBag.leadersqid'>Leaders under this org</a></li>
    <li><a href='/Email/@ViewBag.membersqid'>Members under this org</a></li>
  }
  <li class="header">SMS</li>
  <li>
    <a href="@(twilio ? "/SMS/Options/" + @ViewBag.queryid : "http://docs.bvcms.com/EmailTexting/TextingTwilio.html")" class="qid">Send Text</a>
  </li>
</ul>
