<ul class="dropdown-menu dropdown-menu-large container row dropdown-menu-right bluebar-menu-col-1" role="menu">
    <li class="col-sm-12">
        @Html.Partial("Toolbar/GearStandard")
    </li>
</ul>