@{
    var admin = User.IsInRole("Admin");
    var developer = User.IsInRole("Developer");
}
<li class="header">Tags</li>
<li><a href='@ViewBag.TagAction' class="dialog-options" data-target="/Dialog/TagAll">Add All</a></li>
<li><a id="UnTagAll" href='@ViewBag.UnTagAction'>Remove All</a></li>

<li class="header">Contacts / Tasks</li>
<li><a id="AddContact" href='@ViewBag.AddContact'>Add Contact</a></li>
<li><a id="AddTasks" href='@ViewBag.AddTasks'>Add Tasks</a></li>
<li><a href='/Task/NotesExcel2/@ViewBag.queryid'>Export Task Notes</a></li>

@if (admin)
{
    <li class="header">Extra Values</li>
    <li><a href='/Manage/ExtraValues2/Add/@ViewBag.queryid' class="dialog-options" data-target="/Dialog/GetExtraValue" title="Add Extra Value">Add Extra Values</a></li>
    <li><a href='/Manage/ExtraValues2/Delete/@ViewBag.queryid' class="dialog-options" data-target="/Dialog/GetExtraValue" title="Delete Extra Values">Delete Extra Values</a></li>
    <li><a href="/Reports2/ExtraValuesGrid/@ViewBag.queryid">Extra Values Grid</a></li>
    if (developer)
    {
    <li><a href="/Reports2/ExtraValuesGrid2/@ViewBag.queryid" class="hideAlt">Extra Values Grid2</a></li>
    }
}
