@{
    var qid = ViewBag.queryid;
}
<ul class="dropdown-menu dropdown-div-reports">
    <li>
        <div>
            <ul class="span4 unstyled pull-left">
                <li class="header">Export Excel</li>
                <li><a href='/Export/Excel/@qid' class="ChooseFormat">Standard</a></li>
                <li><a href='/Export/Csv/@qid' class="ChooseFormat">Mailing / Bulk (csv)</a></li>
                <li class="space"></li>
                <li><a href='/Export/Excel/AllFamily/@qid'>Family</a></li>
                <li><a href='/Export/Excel/IndividualPicture/@qid'>Pictures</a></li>
                @* <li><a href='/Export/UpdatePeople/@qid' title="For Doing a Mass Update">Excel Update</a></li> *@
                @if ((bool?)ViewBag.OrganizationContext == true)
                { 
                    <li><a href='/Export/Excel/Organization/@qid' title="Includes Org Member info">Member Export</a></li>
                    if ((bool?)ViewBag.OrgMemberContext == true)
                    { 
                    <li><a href='/Export/Excel/Groups' title="Includes Org Member and Small Group columns">Groups Export</a></li>
                    } 
                    <li><a href='/Export/Excel/Promotion/@qid' title="Just for Promotion Mail Merge">Promotion Export</a></li>
                }
                <li><a href='/Export/ExtraValues/@qid'>Extra Values</a></li>
                <li><a href='/Export/StatusFlags/@qid'>Status Flags</a></li>

                <li class="header"><br />Other</li>
                <li><a href='/Export/Excel/Attend/@qid'>Attendance (Main Fellowship)</a></li>
                <li><a href='/Export/Excel/Children/@qid'>Children</a></li>
                <li><a href='/Export/Excel/Involvement/@qid'>Involvement</a></li>
                <li><a href='/Export/Excel/Library/@qid'>Library</a></li>
                <li><a href='/Export/Excel/Church/@qid'>Other Churches</a></li>
            </ul>
            <ul class="span4 unstyled pull-left">
                <li class="header">Reports</li>
                @if ((bool?)ViewBag.OrganizationContext == true)
                {
                    <li><a href='/Reports/Contacts/@qid' title="Report for Robo-calling Contacts">Contact Report</a></li>
                    <li class="hideAlt"><a href='/Reports/Contacts/@qid' target="_blank">Contact Report (by addr)</a></li>
                }
                else
                {
                    <li><a href='/Reports/Contacts/@qid' title="Report for Robo-calling Contacts">Contact Report</a></li>
                    <li class="hideAlt"><a href='/Reports/Contacts/@qid'>Contact Report (Sorted by Address)</a></li>
                }
                <li><a href='/Reports/Family/@qid'>Family Report</a></li>
                <li><a href='/Reports/Prospect/@qid'>Inreach/Outreach</a></li>
                <li><a href='/Reports/Prospect/@qid'>Inreach/Outreach with Form</a></li>
                @if ((bool?) ViewBag.OrganizationContext == true)
                {
                    <li><a href='/Reports/Roster1/@qid'>Roster Report</a></li>
                    <li><a href='/Reports/Registration/@qid'>Registration Report</a></li>
                }
                else
                {
                    <li><a href='/Reports/Registration/@qid'>Registration Rpt</a></li>
                }
                <li><a href='/Reports/WeeklyAttendance/@qid' title="General Attendance Stats">Weekly Attend</a></li>
                

                <li class="header"><br />Directories</li>
                <li><a href="/Reports/FamilyDirectoryCompact/@qid">Compact Directory</a></li>
                <li><a href="/Reports/FamilyDirectory/@qid">Family Directory</a></li>
                <li><a href="/Reports/PictureDirectory/@qid">Picture Directory</a></li>

                @if ((bool?)ViewBag.OrganizationContext == true)
                { 
                    <li class="header"><br />Rollsheets</li>
                    <li><a id="RollsheetLink" href='#' title="Rollsheet Report">Rollsheet Report</a></li>
                    <li><a id="RallyRollsheetLink" href='#' title="Rally Rollsheet Report">Rally Rollsheet</a></li>
                }
            </ul>
            <ul class="span4 unstyled pull-left">
                <li class="header"> Address Labels </li>
                <li><a href='/Reports/AveryAddress/@qid' class="ChooseFormat">Address</a></li>
                <li><a href="/Reports/EmployerAddress/@qid" target="_blank">Employer</a></li>
                <li><a href='/Reports/RollLabels/@qid' class="ChooseFormat" target="_blank">Continous Roll Labels</a></li>

                <li class="header"><br />Other Labels </li>
                <li><a href='/Reports/BarCodeLabels/@qid'>Barcode / Name</a></li>
                <li><a href='/Reports/NameLabels/@qid'>Name</a></li>
                <li><a href='/Reports/Avery/@qid'>Name (with Phone Number)</a></li>
                <li>@*<a href='/Reports/Avery3/@qid' title="Avery 3 Across Labels (person per row)" target="_blank">Avery Labels 3</a>*@</li>
            </ul>
        </div>
    </li>
</ul>
