<div class="btn-group btn-page-actions">
    <div class="btn-group alpha">
        <button class="btn dropdown-toggle btn-person-action" data-toggle="dropdown"><i class="icon-envelope-alt"></i></button>
        @Html.Partial("Toolbar/Email")
    </div>
    <div class="btn-group">
        <button class="btn dropdown-toggle btn-person-action" data-toggle="dropdown"><i class="icon-cloud-download"></i></button>
        @Html.Partial("Toolbar/Reports")
    </div>
    <div class="btn-group omega">
        <button class="btn dropdown-toggle btn-person-action" data-toggle="dropdown"><i class="icon-cog"></i></button>
        @Html.Partial("Toolbar/Gear")
    </div>
</div>

