<div id="bluetoolbarstop">
    <div id="bluebar-menu" class="btn-group pull-right">
        <div class="btn-group btn-group-lg dropdown-large">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-envelope-o"></span>
            </button>
            @Html.Partial("Toolbar/Email.touch")
        </div>
        <div class="btn-group btn-group-lg dropdown-large">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-cloud-download"></span>
            </button>
            @Html.Partial("Toolbar/Reports.touch")
        </div>
        <div class="btn-group btn-group-lg dropdown-large">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-cog"></span>
            </button>
            @Html.Partial("Toolbar/Gear.touch")
        </div>
    </div>
</div>