<div class="btn-toolbar pull-right">
    <div class="btn-group">
        <button class="btn dropdown-toggle btn-person-action" data-toggle="dropdown"> <i class="icon-envelope-alt"></i> </button>
        @Html.Partial("Toolbar/ToolbarEmail")
    </div>
    <div class="btn-group">
        <button class="btn dropdown-toggle btn-person-action" data-toggle="dropdown"> <i class="icon-cloud-download"></i> </button>
        @Html.Partial("Toolbar/ToolbarReports")
    </div>
    <div class="btn-group">
        <button class="btn dropdown-toggle btn-person-action" data-toggle="dropdown"> <i class="icon-cog"></i> </button>
        @Html.Partial("Toolbar/ToolbarGear")
    </div>
</div>
