@model CmsWeb.Areas.People.Models.ContributionsModel
@{
    var PledgesSummary = Model.GetPledgesSummary();
}
<div class="row">
    <div class="col-sm-6">
        <h4>Pledges Summary</h4>
    </div>
    <div class="col-sm-6">
        @*@FormActions()*@
    </div>
</div>
<table class="table table-striped">
    <tr>
        <th>Fund</th>
        <th class="text-right">Pledged</th>
        <th class="text-right">Contributed</th>
        <th class="text-right">Balance</th>
        <th style="width: 50px;"></th>
    </tr>
    @if (PledgesSummary != null)
    {
        foreach (var p in PledgesSummary)
        {
            <tr>
                <td>
                    @p.Fund
                </td>
                <td class="text-right">@p.AmountPledged.ToString("C")</td>
                <td class="text-right">@p.AmountContributed.ToString("C")</td>
                <td class="text-right">
                    @p.Balance.ToString("C")
                </td>
                <td style="width: 50px;">
                    <a href="#" class="btn btn-default btn-sm"><i class="fa fa-check-circle-o"></i> Fulfill Pledge</a>
                </td>
            </tr>
        }
    }
</table>
