@model CmsWeb.Areas.People.Models.ContributionsModel
@{
    var PledgesSummary = Model.GetPledgesSummary();
}
<div class="row">
    <div class="col-sm-6">
        <h4>Pledges Summary</h4>
    </div>
    <div class="col-sm-6">
        @*@FormActions()*@
    </div>
</div>
<table class="table table-striped">
    <tr>
        <th>Fund</th>
        <th class="text-right">Amount Pledged</th>
        <th class="text-right">Amount Contributed</th>
        <th class="text-right">Balance</th>
        <th style="width: 50px;">Action</th>
    </tr>
    @if (PledgesSummary != null)
    {
        foreach (var p in PledgesSummary)
        {
            <tr>
                <td>
                    @p.Fund
                </td>
                <td class="text-right">@p.AmountPledged.ToString("C")</td>
                <td class="text-right">@p.AmountContributed.ToString("C")</td>
                <td class="text-right">
                    @if (p.Balance > 0)
                    {
                        <a href="#" target="_blank">add to pledge</a>
                    }
                    @p.Balance.ToString("C")
                </td>
                <td style="width: 50px;">
                    @*@if (g.ShowFundingLink)
                        {
                            <a href="/OnlineReg/@g.Id/Giving/@Model.PeopleId" class="btn btn-default btn-sm">Funding Page</a>
                        }
                        @if (Util.UserPeopleId == Model.PeopleId || User.IsInRole("Admin"))
                        {*@
                            <a href="#" class="btn btn-default btn-sm"><i class="fa fa-check-circle-o"></i> Fullfil Pledge</a>
                        @*}*@
                </td>
            </tr>
        }
    }
</table>
