@model string
@{
    var d = new Dictionary<string, object> {{"class", "form-control " + ViewBag.classes}};
    if (ViewBag.placeholder != null)
    {
        d.Add("placeholder", ((string)ViewBag.placeholder));
    }
    if (ViewBag.autocomplete != null)
    {
        d.Add("AUTOCOMPLETE", ViewBag.autocomplete);
    }
    const string labelclasses = "control-label col-sm-3 labelsize";
}
<div class="form-group">
    @(ViewBag.label != null
        ? Html.Label(ViewBag.label as string, new {@class = labelclasses }) 
        : Html.LabelFor(m => m, new {@class = labelclasses }))
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m, d)
        @if (ViewBag.help != null)
        {
            <p class="help-block">@ViewBag.help</p>
        }
        @Html.ValidationMessageFor(m => m)
    </div>
</div>
