@model string
@{
    ViewData.Add("class", "form-control");
}
<div class="form-group">
    @Html.LabelFor(m => m, new { @class = "control-label col-sm-3" })
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m, ViewData)
        @Html.ValidationMessageFor(m => m)
    </div>
</div>
