@using CmsWeb
@model CmsWeb.Models.OrgMembersModel
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Manage Organization Members";
    ViewBag.PageHeader = "Manage Organization Members";
}
@section head
{
    <style>
        #SmallGroup, #Grades, #Age {
            height: 34px;
            overflow: hidden;
        }
    </style>
}
<form id="form" method="post" action="/OrgMembers/ProcessMove">
    @Html.Partial("List", Model)
</form>
@section scripts
{
    @Fingerprint.Script("/Content/touchpoint/js/org/org-members.js")
}
