@model CmsData.Person
@using UtilityExtensions
<form class="non-modal ajax" method="post">
    <h4>Email Optouts</h4>
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oops!</strong> @ViewBag.Error
        </div>
    }
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <label for="emailaddress" class="control-label">OptOut of Email Address</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="emailaddress" class="form-control" />
                    </div>
                    <div class="input-group">
                        <a href="/Person2/AddOptout/@Model.PeopleId" class="btn btn-warning ajax">Add Optout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.EmailOptOuts.Count > 0)
    {
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>From Email</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var oo in Model.EmailOptOuts)
                    {
                        <tr>
                            <td>@oo.FromEmail</td>
                            <td>@oo.DateX.FormatDate()</td>
                            <td>
                                <a class="ajax btn btn-danger btn-sm" data-confirm="Are you sure you want to now receive emails from @oo.FromEmail?" data-confirm-type="warning" data-confirm-btn-class="btn-danger" data-confirm-btn-text="Yes, delete!" href="/Person2/DeleteOptout/@oo.ToPeopleId?email=@Html.Encode(oo.FromEmail)"><i class="fa fa-trash"></i> Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</form>
