@*@using CmsData.Classes.MinistrESpace;*@
@model CmsData.Organization
@{
    var isedit = User.IsInRole("Edit");
}
@foreach (var c in Model.GetOrganizationExtras())
{
    <tr>
      @if (isedit)
      {
          <td><a href="#" class="deleteextra" field="@c.Field"><img src="/Content/images/delete.gif" /></a></td>
      }
      else
      {
          <td>@c.Data</td>
          <td></td>
      }
    </tr>
}
