@model System.Data.SqlClient.SqlDataReader
@using CmsData
@using CmsWeb
@using UtilityExtensions
@{
    ViewBag.Title = "Extra Values Grid";
    ViewBag.PageHeader = "Extra Values Grid";
    Layout = ViewExtensions2.TouchPointLayout();
}
<div class="box box-responsive">
    <div class="box-content">
        <div class="table-responsive">
            <table id="extragrid" class="table table-striped">
                <thead>
                    <tr>
                        @for (var c = 1; c < Model.FieldCount; c++)
                        {
                            <th><a href="/Reports/ExtraValuesGrid/@(ViewBag.queryid + "?sort=" + Model.GetName(c))">@Model.GetName(c)</a></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @while (Model.Read())
                    {
                        <tr>
                            <td><a class="target" href="/Person2/@Model.GetValue(0)">@Model.GetValue(1)</a></td>
                            @for (var c = 2; c < Model.FieldCount; c++)
                            {
                                var v = Model.GetValue(c).ToString();
                                <td>@(v.HasValue() ? Html.Raw(v) : Html.Raw("&nbsp;"))</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>