@model IEnumerable<CmsWeb.Models.ExtraValues.ExtraInfo>
@{
    ViewBag.Title = "ExtraValues";
    Layout = "~/Views/Shared/SiteLayout2.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        $(function() {
            $("a.delete").click(function(ev) {
                ev.preventDefault();
                var d = $(this);
                var url = this.href;
                bootbox.confirm("are you sure you want to delete?", function(ret) {
                    if (ret === true)
                        $.post(url, null, function() {
                            d.closest("tr").remove();
                        });
                });
            });
            $("a.rename").click(function(ev) {
                ev.preventDefault();
                var url = this.href;
                bootbox.prompt("New name:", function(result) {
                    if (result !== null) {
                        $.post(url, { newname: result }, function () {
                            window.location.reload();
                        });
                    }
                });
            });
        });
    </script>
}

<div class="container">
    <h2>Extra Values</h2>
    <table class="table table-condensed table-striped not-wide left-gutter">
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Type</th>
            <th class="right">Count</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var e in Model)
        {
            <tr>
                <td>
                    <a href="/ExtraValue/QueryCodes?field=@Server.UrlEncode(e.Field)&value=@Server.UrlEncode(e.Value)">@e.Field</a>
                    <a class="rename" href="/ExtraValue/RenameAll?field=@Server.UrlEncode(e.Field)">
                        <i class="icon-pencil"></i></a>
                </td>
                <td>@e.Value</td>
                <td>@e.TypeDisplay</td>
                <td class="right">@e.Count.ToString("N0")</td>
                <td>
                    @if (e.Standard)
                    {
                        @:Standard
                    }
                    else
                    {
                        <a href="/ExtraValue/ConvertToStandard/People?name=@e.Field" class="btn btn-mini">Convert to Standard</a>
                    }
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td><a class="delete" href="/ExtraValue/DeleteAll?field=@Server.UrlEncode(e.Field)&type=@e.Type&value=@Server.UrlEncode(e.Value)">
                            <i class="icon-remove"></i>
                        </a></td>
                }
            </tr>
        }
    </table>
</div>
