@using CmsWeb
@model CmsWeb.Models.ContactPage.ContacteesModel
<table class="grid">
    <thead>
        <tr>
            <th>Name</th>
            @if (Model.CanViewComments)
            {
                <th></th>
                <th>Add Task</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model.Contactees())
        { 
            <tr>
                <td><a class="link in" href="/Person/Index/@c.PeopleId">@c.Name</a></td>
                @if (Model.CanViewComments)
                {
                    <td><a class="remove in" href="/Contact/RemoveContactee/@c.ContactId/@c.PeopleId">Remove</a></td>
                    <td><a class="addtask in" href="/Contact/AddTask/@c.ContactId/@c.PeopleId">Add Followup Task</a></td>
                }
            </tr>
        }
    </tbody>
</table>
