.checkin {
    background-color: #f5f5f5!important;
    user-select: none;
}
.simple-keyboard {
    max-width: 400px;
}
.simple-keyboard.hg-theme-default {
    background-color: transparent;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.simple-keyboard.hg-theme-default.hg-layout-numeric .hg-button {
    height: 75px;
    font-size: 26px;
    background-color: white;
    color: #333;
}
.simple-keyboard.hg-theme-default .hg-button.hg-button-bksp {
    background-color:#a94442; 
}
    .simple-keyboard.hg-theme-default .hg-button.hg-button-enter {
        background-color: #3c763d;
        color: white !important;
        font-size: 20px;
    }
.simple-keyboard.hg-theme-default .hg-button:active {
    box-shadow: inset 0px 0px 4px rgba(0,0,0,.6);
}
.keyboard-input {
    text-align: center;
    border-bottom: 0 !important;
    font-size: 26px !important;
}
.checkin .login .form-header {
    font-size: 25px;
    font-weight: 300;
    margin: 40px 0;
}
.checkin .landing {
    max-width: 420px;
    margin: 20px auto 0;
}
.checkin .landing input {
    border: 0;
    background: transparent;
    font-size: 24px;
    font-weight: 300;
    width: 100%;
    max-width: 390px;
    margin: 20px 5px;
    padding: 5px;
    border-bottom: 1px solid #333;
    outline: 0;
}
.checkin .families .family h4 {
    border: 1px solid #e6e6e6;
    background-color: #fff;
    padding: 30px 20px;
}
.checkin .portrait-container {
    display: inline-block;
    border-radius: 100%;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 5px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.checkin .member-portrait {
    height: 140px;
    width: 140px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}
.checkin .member-details,
.checkin .member-info {
    float: left;
}
.checkin .results {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 27px 27px;
}
.checkin .results .member {
    margin-top: 20px;
}
.checkin .results .member:last-of-type,
.checkin .results .family:last-child {
    margin-bottom: 80px;
}
.checkin .results .member .name {
    margin-top: 0px;
    font-weight: 300;
    font-size: 20px;
}
.checkin .panel {
    max-width: 360px;
    margin: 0 auto;
    padding: 27px;
}
.checkin .header-bar {
    margin-bottom: 25px;
}
.checkin .action-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #f5f5f5;
    box-shadow: 1px 0 3px rgba(0,0,0,0.4);
}
.checkin .action-bar .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 45px;
}
hr {
    margin-top: 0;
    margin-bottom: 15px;
    border: 0;
    border-bottom: 1px solid #333;
    height: 1px;
}

.check-container {
    font-size: 20px;
    float: left;
    width: 60px;
    height: 40px;
    position: relative;
}

.check-container > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.check-label {
    display: inline-block;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.1);
    background: white;
    vertical-align: middle;
    margin: 0 10px 0 5px;
    width: 2em;
    height: 2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.3s ease;
}

.check-label i.icon {
    opacity: 0.2;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s 0.1s ease;
}

.check-container.active .check-label {
    -webkit-animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
    animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
}
.check-container.primary .check-label {
    width: 2em;
    height: 2em;
    background: #548cc5;
    border: 0;
    opacity: 1;
}
.check-container.primary .check-label .icon,
.check-container.active .check-label .icon {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
    color: white;
    -webkit-animation: checkicon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
    animation: checkicon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
}

@-webkit-keyframes checkicon {
    from {
        opacity: 0;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes checkicon {
    from {
        opacity: 0;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes check {
    0% {
        width: 1.5em;
        height: 1.5em;
        border-width: 5px;
    }

    10% {
        width: 1.5em;
        height: 1.5em;
        opacity: 0.1;
        background: rgba(0, 0, 0, 0.2);
        border-width: 15px;
    }

    12% {
        width: 1.5em;
        height: 1.5em;
        opacity: 0.4;
        background: rgba(0, 0, 0, 0.1);
        border-width: 0;
    }

    50% {
        width: 2em;
        height: 2em;
        background: #5cb85c;
        border: 0;
        opacity: 0.6;
    }

    100% {
        width: 2em;
        height: 2em;
        background: #5cb85c;
        border: 0;
        opacity: 1;
    }
}

@keyframes check {
    0% {
        width: 1.5em;
        height: 1.5em;
        border-width: 5px;
    }

    10% {
        width: 1.5em;
        height: 1.5em;
        opacity: 0.1;
        background: rgba(0, 0, 0, 0.2);
        border-width: 15px;
    }

    12% {
        width: 1.5em;
        height: 1.5em;
        opacity: 0.4;
        background: rgba(0, 0, 0, 0.1);
        border-width: 0;
    }

    50% {
        width: 2em;
        height: 2em;
        background: #5cb85c;
        border: 0;
        opacity: 0.6;
    }

    100% {
        width: 2em;
        height: 2em;
        background: #5cb85c;
        border: 0;
        opacity: 1;
    }
}
