html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 75px;
}
#main {
  padding-bottom: 25px;
}
.logo{
  padding-right: 10px;
}

#news ul {
  max-height: 215px; 
  overflow-y:scroll;
}
#news ul li a {
  text-decoration: underline;
}
#me {
  padding-bottom: 13px;
}
#me img{
  height: 25px; 
  display: inline; 
  margin-top: -3px; 
  vertical-align: middle;"
}
#bluebar{
  border-top: 2px solid #1F3E6C;
  margin-top: -24px;
  margin-bottom: 45px;
}
#bluebar-menu>.btn-group:first-child .btn {
  border-bottom-left-radius: 10px;
}
#bluebar-menu>.btn-group:last-child .btn {
  border-bottom-right-radius: 10px;
}

.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}

.dropdown-menu-large > li {
  min-width: 226px;
}

.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
  min-width: 226px;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #1F3E6C;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}
.dropdown-menu-large.bluebar-menu-col-1{
  max-width: 285px;
} 
.dropdown-menu-large.bluebar-menu-col-2{
  max-width: 589px;
} 
.dropdown-menu-large.bluebar-menu-col-3  {
  max-width: 829px;
}


ul.pagination{
  display: inline;
}

ul.pagination>li>span.separator{
  border-top: 0 !important;
  border-bottom: 0 !important;
  border-right: 0 !important;
}

ul.pagination>li>span.separator:hover{
  background-color: transparent !important;
}

#footer {
  background-color: #E9A310;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: #fff;
  font-size: 11px;
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
  border-top: thin solid #999;
}
#footer a {
  color: #fff !important;
  text-decoration: underline;
}

.social a.facebook {
  width: 60px;
  background: url(facebook.png) no-repeat 0 0;
}
.social a.facebook, .social a.twitter, .social a.touchpoint {
  text-indent: 101%;
  overflow: hidden;
}
.social a {
  float: left;
  margin-right: 1em;
}
.social a.twitter {
  width: 80px;
  background: url(twitter.png) no-repeat 0 0;
}
.social a.touchpoint {
  width: 162px;
  height: 20px;
  background: url(poweredby.png) no-repeat 0 0;
}
#footer.visible-xs-block{
  padding-top: 12px;
}

.alert {
  margin-top: 5px;
}