CreateVenue.cshtml - placeholder

@*@model SeatsioDotNet.Web.Models.ChartModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <style>
        input,
        select {
            max-width: 800px;
        }

        textarea {
            max-width: 800px;
            max-height: 800px;
        }
    </style>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm())
        {<div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Create a Venue</h4>
                </div>
                <div class="panel-body">
                    @if (TempData["Message"] != null)
                    {
                        @TempData["Message"]
                    }

                    <div class="row">
                        Venue Name
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                    <br />
                    @*<div class="row">
                            Another Field here
                            @Html.TextBoxFor(m => m.Field, new { @class = "form-control" })
                        </div>
                        <br />
                        <div class="row">
                            Another Field here
                            @Html.TextBoxFor(m => m.Field, new { @class = "form-control" })
                        </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-6 col-lg-4">
                            <input id="Submit1" class="btn btn-success" type="submit" value="submit" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>

</html>*@

