<connectionStrings>
  <add name="CMS" connectionString="Integrated Security=True" />
  <add name="Elmah.Sql" connectionString="Data Source=(local);Initial Catalog=ELMAH;Integrated Security=True" />
  <add name="CmsLogging" connectionString="Data Source=(local);Initial Catalog=BlogData;Integrated Security=True" />
</connectionStrings>

