<connectionStrings>
    <add name="CMS" connectionString="Integrated Security=True" />
  <add name="Elmah.Sql" connectionString="Data Source=(local);Initial Catalog=ELMAH;Integrated Security=True" />
  <add name="CMS_bellevueConnectionString" connectionString="Data Source=.;Initial Catalog=CMS_bellevue;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
