<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="cmshost" value="https://{church}.bvcms.com/" />
    <add key="testing" value="true"/>
    <add key="errorsfromemail" value="errors@bvcms.com"/>
    <add key="sysfromemail" value="mailer@bvcms.com"/>
    <add key="senderrorsto" value="david@bvcms.com"/>
    <add key="helpurl" value="http://www.bvcms.com/doc/{0}" />
    <add key="amiurl" value="http://addr.bvcms.com/Address/Verify"/>
    <add key="amipassword" value="uspsverify"/>
    <add key="SmtpRequiresSSL" value="false"/>
    <add key="UseEmailScheduler" value="true"/>
    <add key="INSERT_X-FORWARDED-PROTO" value="true"/>
    <add key="RackspaceUrlCDN" value="https://c4265878.ssl.cf2.rackcdn.com/" />
    <add key="RackspaceUser" value="davcar" />
    <add key="RackspaceKey" value="3581b62c4175e8126a0846c834fd0dbe" />
    <add key="UrgentTextFile" value="\\192.168.100.29\c$\Urgent.txt"/>
    <add key="AppOfflineFile" value="\\192.168.100.29\c$\MainAppOffline.txt"/>
    <add key="SharedFolder" value="\\192.168.100.29\c$" />
    <add key="DeleteBounce" value="https://sendgrid.com/api/bounces.delete.xml?api_user=bvcmsapi&amp;api_key=Josh.23.23.api&amp;email="/>
    <add key="DeleteSpamReport" value="https://sendgrid.com/api/spamreports.delete.xml?api_user=bvcmsapi&amp;api_key=Josh.23.23.api&amp;email="/>
    <!--    <add key="CreateThumbnailService" value="//192.168.100.29:8080/Home/CreateWebsiteThumbnail"/>-->
    <add key="QuickBooksToken" value="d1ade637ba54bb412ebb9abbf7256c59005b" />
    <add key="QuickBooksKey" value="qyprdBVd0y7xPRb6NJGP0FKumQAiM5" />
    <add key="QuickBooksSecret" value="RyXanc6jNxg2NQJSTgPNmNNZUjx3d2lNTf5P0OwY" />
    <add key="PublicKey" value="fgsltw" />
    <add key="PublicSalt" value="240 3 45 29 0 76 173 59" />
    <add key="PeopleKey" value="72498120" />
    <add key="PeopleSalt" value="93 234 129 116 109 214 81 238" />
    <add key="uservoicessokey0" value="0542d494848366d08e8c6b2bbfa9b384"/>
    <add key="CmsHosted3" value="test,karen2" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ProblemDomainsForEmail" value="yahoo.com,aol.com" />
    <add key="readonlypassword" value="Josh123"/>

    <add key="SupportPeople" value="
         Bethany:8102:bethany@bvcms.com,         
         David:3:david@bvcms.com,         
         Karen:2:karen@bvcms.com,         
         Kyle:60:kyle@bvcms.com,         
         Steven:7979:steven@bvcms.com,
         Andrew:22884:andrew@bvcms.com,
         Bryan:2298:bryan@bvcms.com
        " />
    <add key="SupportInsert" value="
      INSERT INTO [dbo].[SupportRequests] ( Created, Who, Host, Urgency, Request, WhoId ) VALUES ( @c, @w, @h, @u, @r, @whoid )
      SELECT CAST(SCOPE_IDENTITY() as int)
       "/>
    <add key="SupportUpdate" value="UPDATE [dbo].[SupportRequests] SET Subject = @subject WHERE ID = @id"/>
    <add key="SupportRead" value="SELECT * FROM [dbo].[SupportRequests] WHERE ID = @id" />
    <add key="DibLink" value="https://www.bvcms.com/Support/Claim/{0}/{1}" />
    <add key="SupportManageLink" value="https://www.bvcms.com/Support/Detail" />

    <add key="host" value="test" />
    <add key="dbserver" value="192.168.100.29" />
    <!-- use (local) or .\SQLEXPRESS -->

  </appSettings>

  <connectionStrings xdt:Transform="Replace">
    <add name="CMS" connectionString="Data Source=192.168.100.29;user=sa;password=Joshua.twenty3.one." />
    <add name="CMSHosted2" connectionString="Data Source=192.168.100.29;Initial Catalog=CMS_hope;user=sa;password=Joshua.twenty3.one." providerName="System.Data.SqlClient" />
    <add name="Elmah.Sql" connectionString="Data Source=192.168.100.29;Initial Catalog=ELMAH;user=sa;password=Joshua.twenty3.one." />
    <add name="CmsLogging" connectionString="Data Source=192.168.100.29;Initial Catalog=BlogData;user=sa;password=Joshua.twenty3.one." />

    <!--<add name="CMSHosted" connectionString="Data Source=192.168.100.85;Initial Catalog=CMS_hope;user=sa;password=Josh.23.23." providerName="System.Data.SqlClient" />
    <add name="Elmah.Sql" connectionString="Data Source=192.168.100.85;Initial Catalog=ELMAH;user=sa;password=Josh.23.23." />-->
  </connectionStrings>

  <elmah xdt:Transform="Replace">
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Elmah.Sql" applicationName="BVCMS" />
    <security allowRemoteAccess="true" />
    <errorMail from="errors@bvcms.com" to="errors@bvcms.com" useSSL="true" />
  </elmah>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <!--<sessionState mode="StateServer"
          stateConnectionString="tcpip=127.0.0.1:42424"
          cookieless="false"
          timeout="120" xdt:Transform="Replace"/>-->
    <sessionState mode="SQLServer" sqlConnectionString="data source=192.168.100.29;user=sa;password=Joshua.twenty3.one." cookieless="UseCookies" timeout="120" xdt:Transform="Replace"/>
    <authentication mode="Forms" xdt:Transform="Replace">
      <forms timeout="600" loginUrl="/Logon" cookieless="UseCookies" />
    </authentication>

    <customErrors mode="On" xdt:Transform="Replace" redirectMode="ResponseRewrite" defaultRedirect="/Errors/Error.aspx">
      <error statusCode="404" redirect="/Errors/PageNotFound.aspx" />
    </customErrors>

  </system.web>

  <system.net>
    <mailSettings>
      <smtp from="david@bvcms.com" xdt:Transform="Replace">
        <network host="127.0.0.1" port="25" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>