<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="NodaTime" publicKeyToken="4226afe0d9b296d1" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.4.1.20214" newVersion="7.4.1.20214" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.4.1.20214" newVersion="7.4.1.20214" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.4.1.20214" newVersion="7.4.1.20214" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <appSettings>
        <!--Pushpay Authentication-->
        <add key="PushpayAPIBaseUrl" value="https://sandbox-api.pushpay.io/v1/" />
        <add key="PushpayClientID" value="pursuant-touchpoint-dev" />
        <add key="PushpayClientSecret" value="" />
        <add key="OAuth2AuthorizeEndpoint" value="https://auth.pushpay.com/pushpay-sandbox/oauth/authorize" />
        <add key="OAuth2TokenEndpoint" value="https://auth.pushpay.com/pushpay-sandbox/oauth/token" />
        <!--Pushpay permission scope-->
        <add key="PushpayScope" value="list_my_merchants merchant:manage_community_members merchant:manage_webhooks merchant:view_community_members merchant:view_payments merchant:view_recurring_payments read" />
        <!--Pushpay Touchpoint-->
        <add key="TenantHostDev" value="localhost:44301" />
        <add key="OrgBaseDomain" value="tpsdb.com" />
        <add key="TouchpointAuthServer" value="https://123ec8c6.ngrok.io/pushpay/complete" />
        <!-- Pushpay Payment (use sandbox for test)-->
        <add key="PushpayGivingLinkBase" value="https://sandbox.pushpay.io/pay/" />
        <!---->
    </appSettings>
</configuration>
