@model CmsWeb.Areas.Org.Models.MemberModel
@Html.Hidden("prospect-qid", (Guid?)ViewBag.queryid)
<p style="margin-bottom:5px">
  Count: <strong id="prospect-count">@Model.Count()</strong>
  <a class="filtergroupslink bt" href="#" title="Filter by name/group">Filter@(Model.IsFiltered ? "(filtered)" : "")</a>
  @if (User.IsInRole("Edit"))
  {
    <a href="/SearchAdd2/Dialog/prospect/@Model.OrganizationId" class="searchadd bt">Add Prospects</a>
    <a href="/AddToOrgFromTag/@Model.OrganizationId?prospect=true" title="Add Prospects From Tag" class="addfromtag bt">add from tag</a>
    <a href="/OrgMembersDialog/@Model.OrganizationId?prospects=true" title="Update Prospects" class="memberdialog bt">update</a>
    @Html.CheckBox("showHidden", new { @class="showHidden" }) @:Show Hidden Prospects
  }
</p>
@Html.Partial("Grids/Base", Model)
