@{
    Layout = Fingerprint.Layout();
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".bt").button();
            $("textarea").tabby();
        });
    </script>
}
<form action="/APITest/RunScript" method="post">
    <h2>Run Script</h2>
    <hr />
    <textarea name="script" cols="80" rows="30" wrap='off' spellcheck="false" style="width:99%"></textarea>
	<input type="submit" class="bt" value="Run" />
</form>