@model CmsWeb.Areas.Dialog.Models.RepairTransactions
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Repair Transactions</h4>
        </div>
        <div class="modal-body">
            @Html.HiddenFor(m => m.QueryId)
            @Html.HiddenFor(m => m.OrgId)
            @Html.DisplayFor(m => m.Count, new { Label = "Number of Members" })
            Are you sure you want to repair Transactions?
        </div>
        <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Cancel</a>
            <a href="/RepairTransactions/Process" class="btn btn-primary ajaxreloader">OK</a>
        </div>
    </div>
</div>