@model CmsWeb.Models.ManageGivingModel
@{
    Layout = Model.UseBootstrap
        ? "~/Views/Shared/onlinereg2.cshtml"
        : "~/Views/Shared/onlinereg.cshtml";
}
<div class="confirm">
    @Html.Raw(Model.ThankYouMessage)
</div>
