@model CmsWeb.Areas.Public.Models.SmallGroupFinderModel
@using CmsWeb
@using CmsWeb.Areas.Public.Models
@using CmsWeb.Models
@{
    var mapModel = new SGMapModel(Model.getGroups());
}
<!DOCTYPE html>
<html>
<style type="text/css">
    .map {
        width: 400px;
        height: 600px;
        border: 1px solid #000;
        margin-bottom: 20px;
    }
</style>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
@ViewExtensions2.jQuery()
@Fingerprint.Script("/Content/touchpoint/js/sgmap.js")
@Html.Raw(Html.Json("markers", mapModel.Locations()))
<table>
<tr>
    <td>
        <div id="map" class="map">
        </div>
    </td>
    <td style="width:400px">
        <ul style="overflow: auto; height: 600px">
            @foreach (var i in mapModel.Locations())
            {
                var gl = new GroupLookup();
                gl.populateFromOrg(i.org);
                @Html.Raw(Model.replaceAndWrite(gl));
            }
        </ul>
    </td>
</tr>
</table>
