@using CmsData
@model CmsWeb.Areas.Org2.Models.OrganizationModel
@{
  var o = Model.Org;
}
<div class="modal fade" id="TryRegDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Try Registration</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    Copy the following URL for the public registration link.
                    If you want to see exactly what the user sees,
                    you should use the link below in a different browser.
                    Or log out first, then use the link.
                </div>
                <blockquote>
                    <a href="/OnlineReg/@o.OrganizationId" target="blank">@DbUtil.Db.ServerLink("/OnlineReg/" + o.OrganizationId)</a>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editor-modal" style="overflow-y: hidden !important;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Description</h4>
            </div>
            <div class="modal-body">
                <form>
                    @Html.TextArea("editor", "", new { @class = "editor form-control", rows = "15" })
                </form>
            </div>
            <div class="modal-footer">
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
                <input type="submit" value="Save" class="btn btn-primary" id="save-edit" />
            </div>
        </div>
    </div>
</div>