@{
  ViewBag.Title = "Support";
  ViewBag.PageHeader = "Get Help";
  Layout = ViewExtensions2.TouchPointLayout();
}
@section head{
  <style>
    #body {
      font-family: Arial,Helvetica;
    }
  </style>
}
<div class="row">
  <div class="col-lg-9">
    <div class="box box-responsive">
      <div class="box-content">
        <div id="success" class="alert alert-success">
          <strong>Success!</strong> Your support request has been submitted. Thank you for contacting us. We will get back to you as soon as possible.
        </div>
        <div id="supportForm">
          <form id="requestform">
            <div class="form-group">
              <textarea name="body" id="body" class="form-control"></textarea>
            </div>
            <p>
              <input id="sendSupport" type="button" class="btn btn-primary btn-lg" value="Submit Request">
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Hosting & Support @(Util.IsHosted ? "Provided by" : "Available at")
        </h4>
      </div>
      <div class="panel-body text-center">
        <a href="http://touchpointsoftware.com" target="_blank">
          <img src="/Content/images/tps_full_logo.png" width="225" /><br />
          http://touchpointsoftware.com
        </a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Built with the Open Source Project
        </h4>
      </div>
      <div class="panel-body text-center">
        <a href="https://github.com/bvcms/bvcms" target="_blank">
          <img src="/Content/images/bvcms150.png" /><br />
          https://github.com/bvcms/bvcms
        </a>
      </div>
    </div>

  </div>
</div>
@section scripts
{
  @ViewExtensions2.CkEditor()
  @Fingerprint.Script("/Content/touchpoint/js/support/MyDataSupport.js")
}
