@model PythonModel
@{
  ViewBag.Title = "Test Script";
  ViewBag.PageHeader = Model.Header;
  Layout = ViewExtensions2.TouchPointLayout();
}
<div class="box box-responsive">
  <div class="box-content">
    @Html.Raw(Model.Output)
  </div>
  @if (User.IsInRole("Admin"))
  {
    <p>
      <a href="/Reports/AddReport?report=@Url.Encode(ViewBag.report)&url=@Url.Encode(ViewBag.url)&type=PyScript">Add Report to Menu</a>
    </p>
  }
</div>
@section scripts
{
  @Html.Raw(Model.Script)
}