@model PythonEvents
@{
  ViewBag.Title = "Test Script";
  Layout = ViewExtensions2.TouchPointLayout();
}
<h2>@Model.Header</h2>
@Html.Raw(Model.Output)
@section scripts
{
    @Html.Raw(Model.Script)
}