@model PythonModel
@{
    ViewBag.Title = Model.Header;
    Layout = ViewExtensions2.TouchPointLayout();
}
<div class="box box-responsive">
  <div class="box-content">
    @Html.Raw(Model.Form)
  </div>
</div>
@section scripts
{
  <script>
    @Html.Raw(Model.Script)
  </script>
}