@model PythonModel
@{
    ViewBag.Title = "Test Script";
    ViewBag.PageHeader = Model.Header;
    Layout = ViewExtensions2.TouchPointLayout();
}
<div class="box box-responsive">
    <div class="box-content">
        @Html.Raw(Model.Output)
    </div>
</div>
@section scripts
{
    @Html.Raw(Model.Script)
}