@using CmsWeb.Areas.Manage.Controllers
@model System.Data.IDataReader
@{
    ViewBag.Title = "SQL Report";
    ViewBag.ReportPageHeader = ViewBag.Name;
    Layout = ViewExtensions2.TouchPointLayout();
}
<div class="report box box-responsive">
  <div class="box-content">
    <div class="table-responsive">
      @Html.Raw(GridResult.Table(Model, ViewBag.Name2))
      <strong>Total Count</strong> <span class="badge"></span>
      @if (User.IsInRole("Admin"))
      {
      <p>
        <a href="/Reports/AddReport?report=@Url.Encode(ViewBag.report)&url=@Url.Encode(ViewBag.url)&type=SqlReport">Add Report to Menu</a>
      </p>
      }
    </div>
  </div>
</div>
