@{
    ViewBag.Title = "Error Message";
    ViewBag.PageHeader = "Error Message";
    Layout = ViewExtensions2.TouchPointLayout();
}
<div class="alert alert-danger">
    <p>
        @ViewData["error"]
    </p>
    <small>@ViewData["url"]</small>
</div>
