@{
    ViewBag.Title = "Test Typeahead";
    Layout = "~/Views/Shared/SiteLayout2.cshtml";
}
@section head
{
}
@section scripts
{
<script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
}
    <div class="container">
        <h2>TestTypeahead</h2>

        <input type="text" placeholder="Search" id="search-box" />

    </div>
