@using System.Collections.Generic
@model List<Preference>

@{
    ViewBag.Title = 
    ViewBag.PageHeader = "User Preferences";
    ViewBag.PageSubHeader = User.Identity.Name;
    Layout = ViewExtensions2.TouchPointLayout();
}

<div class="row">
    <div class="col-md-9">
        <div class="box box-responsive">
            <div class="box-content">
                <h2>Database</h2>
                <dl class="dl-horizontal">
                    @foreach (var p in Model)
                    {
                        <dt>@p.PreferenceX</dt>
                        <dd>@p.ValueX</dd>
                    }
                </dl>
                <h2>Session</h2>
                <dl class="dl-horizontal">
                    @for (int i = 0; i < Session.Contents.Count; i++)
                    {
                        <dt>@Session.Keys[i]</dt>
                        <dd>@Session[i]</dd>
                    }
                </dl>
            </div>
        </div>
    </div>
</div>
