@using System.Collections.Generic
@using System.Web
@model User

@{
    ViewBag.Title = "User Preferences";
    ViewBag.PageHeader = "User Preferences";
    ViewBag.PageSubHeader = $"{Model.Name} ({Model.Username})";
    Layout = ViewExtensions2.TouchPointLayout();
    var d = HttpContextFactory.Current.Session["preferences"] as Dictionary<string, string>;
}

<div class="row">
    <div class="col-md-9">
        <div class="box box-responsive">
            <div class="box-content">
                <h2>Database</h2>
                <dl class="dl-horizontal">
                    @foreach (var p in Model.Preferences)
                    {
                        <dt>@p.PreferenceX</dt>
                        <dd>@p.ValueX</dd>
                    }
                </dl>
                <h2>Session</h2>
                <dl class="dl-horizontal">
                    @foreach (var dd in d)
                    {
                        <dt>@dd.Key</dt>
                        <dd>@dd.Value</dd>
                    }
                </dl>
            </div>
        </div>
    </div>
</div>
