@model CmsWeb.Areas.OnlineReg.Models.PaymentForm

@Html.EditorFor(m => m.Coupon)
<div class="form-group" id="form-msg" style="display:none">
    <div class="alert alert-info" id="coupon-msg">
    </div>
</div>
@Helper.OnlineRegAjaxButtonRow("/OnlineReg/ApplyCoupon", "Apply Coupon", id: "ApplyCoupon", style: "btn-success coupon-submit")
<div class="form-group" id="formerror">
    <div class="col-sm-offset-3 col-sm-9">
        <div class="alert alert-danger field-validation-error" id="errormessage"></div>
    </div>
</div>
