@model CmsWeb.Areas.Org.Models.OrganizationModel
<div class="filter well hidden-print" style="margin-top: 15px;">
    <div class="row">
        <div class="col-sm-10">
            <a href="Inv/Delete"><i class="fa fa-trash" title="Delete Person" style="color:#FF0000;"></i></a>&nbsp;
            <a href="Inv/Tag"><i class="fa fa-tag" title="Tag Person"></i></a>&nbsp;
            <a href="Inv/Edit"><i class="fa fa-edit" title="Edit Person"></i></a>&nbsp;
            <a href="Inv/Print"><i class="fa fa-print" title="Print Person"></i></a> &nbsp; &nbsp;
            <i class="fa fa-search"></i>
            <input id="searchperson" name="name" type="text" title="Starting letters of First&lt;space>Last or just Last" class="input-normal">
            <div class="btn-group">
                <button class="btn grp">Add Person</button>
                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="/AddToOrgFromTag/@Model.QueryId" class="longrunop" title="Add Person From Tag"><i class="fa fa-tag"></i>&nbsp;&nbsp;Add from Tag</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-2 pull-right">
            <div class="btn-group">
                <button class="btn grp">Show</button>
                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li> &nbsp; <input type="checkbox" id="chkMemberType">&nbsp;&nbsp;Member Type  &nbsp; </li>
                    <li> &nbsp; <input type="checkbox" id="chkAddress">&nbsp;&nbsp;Address  &nbsp; </li>
                    <li> &nbsp; <input type="checkbox" id="chkMinistryLeader">&nbsp;&nbsp;Ministry Leader  &nbsp; </li>
                    <li> &nbsp; <input type="checkbox" id="chkChurchMemberStatus">&nbsp;&nbsp;Church Member Status  &nbsp; </li>
                    <li> &nbsp; <input type="checkbox" id="chkBirthday">&nbsp;&nbsp;Birthday  &nbsp; </li>
                </ul>
            </div>
        </div>
        <div class="form-group" style="display:none">
            <div class="btn-group">
                <a class="btn btn-default setfilter">
                </a>
            </div>
        </div>
    </div>
</div>
