body {
    font-size: 16px;
    width: 1024px;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

a {
    text-decoration: none !important;
}

a[href]:after {
    content: "";
}

div.table-responsive {
    overflow-x: visible !important;
}

.table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 5px !important;
      }
    }
  }
}

div.report h1, div.report h2, div.report h3 {
    text-align: center !important;
}

div.report .table {
    width: inherit !important;
    margin-left: auto !important;
    margin-right: auto !im;
}

#page-header {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

i.fa-info-circle {
    display:none !important;
}

.btn {
    display: none !important;
}

a.editable {
    border-bottom: none !important;
}

ul.nav-tabs {
    display: none;
}