// Vue Multiselect 3rd party

.multiselect__tag,
.multiselect__option--highlight {
    background-color: @global-brand-primary!important;
}
.multiselect__tag-icon:after {
    color: @global-brand-primary !important;
}
.multiselect__option--selected.multiselect__option--highlight {
    background-color: #eee!important;
}
.multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
    color: #fff!important;
}
