@model IEnumerable<CmsData.User>
<form class="form form-horizontal table not-wide non-modal ajax margin-top" method="post">
    <fieldset class="left-gutter">
        <legend>Manage Users</legend>
        <div><a class="btn btn-primary ajax" href="/Person2/UserEdit">Add New User</a></div>
        <table class="table no-border">
            @foreach (var u in Model)
            {
                <tr>
                    <td><a class="ajax" href="/Person2/UserEdit/@u.UserId">@u.Username</a></td>
                    <td>@string.Join(", ", u.Roles)</td>
                </tr>
            }
        </table>
    </fieldset>
</form>
