@model string
@{
    /**/
    
    var help = ViewData["help"] as string;
    if (help.HasValue())
    {
        help = $"<span class='help-block'>{help}</span>";
    }   
}
<div class="form-group">
    @Html.LabelFor(m => m, new { @class = "control-label" })
    <div class="controls">
        <div class="input-group birthdate">
            @Html.TextBoxFor2(m => m, true, null, new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
        </div>
        @Html.Raw(help)
        @Html.ValidationMessageLabelFor(m => m)
    </div>
</div>
