@model bool
<div class="form-group">
    <div class="checkbox">
        <label class="control-label">
            @Html.CheckBoxFor(m => m) @(ViewBag.label ?? Html.DisplayNameFor(m => m))
        </label>
    </div>
    <span class="help-block">@Html.Raw(ViewBag.help)</span>
    @if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
    {
        <div class="alert alert-info maxWidthMedium margin-top">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
    }
</div>