@model string
<div class="control-group">
    @(ViewBag.label != null
        ? Html.Label(ViewBag.label as string, new {@class = "control-label"}) 
        : Html.LabelFor(m => m, new {@class = "control-label"}))
    <div class="controls">
        @Html.PasswordFor(m => m)
        @Html.ValidationMessageLabelFor(m => m)
    </div>
</div>
