@model string
@{
    var help = ViewData["help"] as string;
    var label = ViewData["label"] as string;
    if (help.HasValue())
    {
        help = "<label class='help-inline'>{0}</label>".Fmt(help);
    }
}
<div class="control-group">
    @if (label.HasValue())
    {
        @Html.Label(label, new {@class = "control-label"})
    }
    else
    {
        @Html.LabelFor(m => m, new {@class = "control-label"})
    }
    <div class="controls">
        @Html.TextBoxFor2(m => m, true)@Html.Raw(help)
        @Html.ValidationMessageLabelFor(m => m)
    </div>
</div>
