@using UtilityExtensions
@model DateTime?
@{
    var fmt = "{0:g}";
    var s = "";
    if (Model != null)
    {
        if (Model.Value.Ticks > 0)
        {
            s = Model.FormatTime();
            fmt = "{0:h:mm tt}";

        }
        else
        {
            s = Model.FormatTime();
        }
    }
}
<div class="form-group @ViewBag.hide">
    @Html.LabelFor(m => m, new { @class = "control-label" })
    <div class="controls">
        <div class="input-group time">
            @Html.TextBoxFor2(m => m, useNativeUnobtrusiveAttributes: true, format: @fmt, htmlAttributes: new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-clock-o"></i></span>
        </div>
        @Html.ValidationMessageLabelFor(m => m)
    </div>
</div>
