@using CmsWeb
@model CmsWeb.Areas.Org.Models.MissionTripEmailer
@{
    ViewBag.Title = "Mission Trip Emailer";
    ViewBag.PageHeader = "Mission Trip Emailer";
    Layout = ViewExtensions2.TouchPointLayout();
}
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-success">
            <strong>Success!</strong> Your email was successfully sent. Click <a href="/" style="text-decoration: underline">here</a> to return to the home page.
        </div>
    </div>
</div>