@model CmsWeb.Models.TagsModel
<select name="tag" id="tag" class="form-control">
@foreach (var t in Model.Tags())
{
    var selecteditem = t.Id == Model.CurrentTagId ? "selected='true'" : "";
    <option value="@t.Code" @selecteditem>@t.Value</option>
}
</select>