@using UtilityExtensions
@model IEnumerable<CmsData.GivingPage>
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Funds";
    ViewBag.PageHeader = "Funds";
    var message = Util.TempSuccessMessage;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
