@model CmsWeb.Areas.Giving.Models.GivingPageItem
@{
    ViewBag.Title = Model.PageName;
    Layout = "~/Views/Shared/Giving.cshtml";
}
@section head {
<style type="text/css">
</style>
}
<div id="main" class="giving">
    <giving-container page-prop="@Json.Encode(Model)" type="@ViewBag.Type" fund="@ViewBag.Fund" amount="@ViewBag.Amount"></giving-container>
</div>
