@using UtilityExtensions
@model IEnumerable<CmsData.GivingPage>
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Online Giving Setup";
    ViewBag.PageHeader = "Online Giving Setup";
    var message = Util.TempSuccessMessage;
}
<link href="~/Content/dist/css/app.css" rel="stylesheet" />
@* <style>
        .myComponents {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
        }
    </style> *@

@* <div class="row">
        <div class="col-md-9">
            @if (message != null)
            {
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <strong>Success!</strong>&nbsp;&nbsp;@message
                </div>
            }

        </div>
    </div> *@

<div id="GlobalVueApp">
    <giving-page-index></giving-page-index>
</div>

<script src="~/Content/dist/js/app.js"></script>
<script>
    new Vue({
    }).$mount('#GlobalVueApp')
</script>
