@using UtilityExtensions
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Online Giving Setup";
    ViewBag.PageHeader = "Online Giving Setup";
}
@section head
{
    @ViewExtensions2.BootstrapToggleCss()
}
<div class="giving">
    @id
</div>
