@model CmsWeb.Models.TransactionsModel
@{ 
    var tt = Model.TotalTransactions(); 
}
@if (tt != null)
{
    <div class="stat-panel-container">
        <div class="stat-panel-inner-container">
            <div class="stat-panel">
                <span class="stat-title">TOTAL AMOUNT</span>
                <span class="stat-figure">@tt.Amt.ToString("C2")</span>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
}
<div class="alert alert-info">
    <p>
        Totals do not include extra donation amounts if there are any.
    </p>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Description</td>
                <th class="text-right">Count</th>
                <th class="text-right">Total</th>
            </tr>
        </thead>
        <tbody>
            @if (tt == null)
            {
                <tr><td colspan="3">Nothing to report</td></tr>
            }
            else
            {
                foreach (var r in Model.FetchTransactionsByDescription())
                {
                    <tr>
                        <td><a href="#" class="filterbatchdesc">@r.Description</a></td>
                        <td class="text-right">@r.count</td>
                        <td class="text-right">@r.Total.ToString("N2")</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>