@using CmsWeb
@model CmsWeb.Models.OrgContentInfo
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Site2.cshtml";
}
@section scripts
{
    @ViewExtensions2.CkEditor()
    <script type="text/javascript">
        $(function () {
            CKEDITOR.replace('Html', {
                height: 400,
                fullPage: false,
                allowedContent: true,
                customConfig: '/Content/touchpoint/js/ckeditorconfig.js'
            });
        });
    </script>
}
<h2>
    Edit
</h2>
<form action="/OrgContent/Update/@Model.OrgId" method="POST">
    <div class="blogbody">
        <h2 class="title">
            <a href="/OrgContent/@Model.OrgId">@Model.OrgName</a>
        </h2>
        <hr />
        <div>
            @Html.TextArea("Html", new { @class = "editor", rows = "26", style = "width:90%" })
        </div>
        <input type="submit" value="Post" />
    </div>
</form>