@using CmsData
@using UtilityExtensions
@model CmsWeb.Models.OrgContentInfo
@{
    ViewBag.Title = "OrgContent";
    Layout = "~/Views/Shared/Site2.cshtml";

    var allowEmails = DbUtil.Db.Setting("UX-AllowMyDataUserEmails");
}
@section edit {
    @if (Model.CanEdit)
    {
        <a href="/OrgContent/Edit/@Model.OrgId">edit</a>
    }
}

@if (!Model.IsMember)
{
    <h2>Sorry, members only</h2>
}
else if (Model.Inactive)
{
    <h2>Sorry, Organization is Inactive</h2>
}
else
{
    <div style="max-width: 600px;">
        @if (!Model.HideBanner)
        {
            <h1><a href="/Org/@Model.OrgId">@Model.OrgName</a>
            </h1>
        }
        @if (ViewBag.template == null)
        {
            @Html.Raw(Model.Html)
        }
        else
        {
            @Html.Raw(ViewBag.template.Replace("{directory}", Html.Partial("Directory").ToString()));
        }
    </div>
}
@helper FormatDate(DateTime? dt)
{
    if (dt.HasValue)
    {
        <text>@dt.Value.ToString("MMM d")</text>   
    }
}
