@{
    ViewBag.Title = "Confirm Response";
    Layout = "~/Views/Shared/OnlineReg2.cshtml";
}
<br />
<div class="regform">
    @using (Html.BeginForm("ClaimVolSub", "OnlineReg", FormMethod.Post))
    {
        <input type="hidden" id="answer" name="answer" value="@ViewBag.Answer" />
        <input type="hidden" id="guid" name="guid" value="@ViewBag.Guid" />
        <div class="alert alert-warning">
            <h4>Confirm Response</h4>
            <p>Please click the button below to confirm your reponse.</p>
            <p>
                <button type="submit" class="btn btn-warning">Confirm</button>
            </p>
        </div>
    }
</div>