@using UtilityExtensions
<div class="confirm">
    <p style="color: Black">
    Email sent to @Util.ObscureEmail((string)ViewData["email"]) (email obscured on purpose)
    </p>
    <p>
    <strong>One-Time Link</strong><br>
    We have sent you a One-Time Link to manage your registration for @ViewData["orgname"]
    </p>
</div>
