@model System.Collections.Generic.IEnumerable<CmsWeb.Areas.OnlineReg.Controllers.OnlineRegController.CurrentRegistration>
<html>
    <head>
        <title></title>
        @Fingerprint.Css("/content/styles/bundle-css.css")
    </head>
	<body>
<h2>Current Registrations</h2>
			<table class="@ViewExtensions2.GridClass" cellpadding="5">
            @foreach(var r in Model)
			{
				<tr><td><a href="/OnlineReg/Index/@r.OrgId">@r.OrgName</a></td>
                    <td>@r.RegType</td></tr>
			}
			</table>
	</body>
</html>

