@{
    ViewBag.Title = "Confirm Response";
    Layout = "~/Views/Shared/OnlineReg2.cshtml";
}
<br />
<div class="regform">
    @using (Html.BeginForm("RequestResponse", "OnlineReg", FormMethod.Post))
    {
        <input type="hidden" id="id" name="answer" value="@ViewBag.Id" />
        <input type="hidden" id="showfamily" name="guid" value="@ViewBag.ShowFamily" />
        <input type="hidden" id="source" name="guid" value="@ViewBag.Source" />
        <div class="alert alert-warning">
            <h4>Confirm Response</h4>
            <p>Please click the confirmation button below to confirm your reponse.</p>
            <p>
                <button type="submit" class="btn btn-warning">Confirm</button>
            </p>
        </div>
    }
</div>