<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Remote Deposit Configuration</h4>
        </div>
        <div class="modal-body">
            <div style="float: left;display: inline-block">
                <i class="fa fa-5x fa-warning text-danger" style="margin: 15px 30px 15px 15px"></i>
            </div>
            <h4>The remote deposit capture service is not configured</h4>
            <p>
                Refer to the <a href="https://docs.touchpointsoftware.com/Finance/Bundle_Index.html#remote-deposit-capture" target="_blank">Remote Deposit Capture</a> documentation for more information.
            </p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Close</a>
        </div>
    </div>
</div>
