@model IEnumerable<CmsWeb.Areas.Reports.Controllers.ReportsController.ExtraInfo>
@{
    ViewBag.Title = "ExtraValues";
    Layout = "~/Views/Shared/SiteLayout2.cshtml";
}
@section scripts
{
    <script type="text/javascript">
     $(function () {
         $("a.delete").click(function (ev) {
             ev.preventDefault();
             var d = $(this);
             var url = this.href;
             bootbox.confirm("are you sure?", function (ret) {
                 if(ret === true)
                     $.post(url, null, function () {
                         d.closest("tr").remove();
                     });
             });
         });
     });
    </script>
}

<div class="container">
    <h2>ExtraValues</h2>
    <table class="table table-condensed table-striped not-wide left-gutter">
        @foreach (var e in Model)
        {
            <tr>
                <td><a href="/Manage/ExtraValues2/QueryCodes?field=@Server.UrlEncode(e.Field)&value=@Server.UrlEncode(e.Value)">@e.Field</a></td>
                <td>@e.Value</td>
                <td>@e.Count</td>
                @if (User.IsInRole("Admin"))
                {
                    <td><a class="delete" href="/Manage/ExtraValues2/DeleteAll?field=@Server.UrlEncode(e.Field)&type=@e.type&value=@Server.UrlEncode(e.Value)">
                        <img src="/Content/images/delete.gif" /></a></td>
                }
            </tr>
        }
    </table>
</div>
