@using CmsWeb
@model IEnumerable<CmsWeb.Areas.Reports.Controllers.ReportsController.ExtraInfo>
@{
    ViewBag.Title = "ExtraValues";
    Layout = ViewExtensions2.Layout();
}
@section scripts
{
<script type="text/javascript">
        $(function () {
            $("a.delete").click(function (ev) {
                ev.preventDefault();
                var d = $(this);
                if(confirm("are you sure?"))
                    $.post(d.attr("href"), null, function () {
                        d.closest("tr").remove();
                    });
            });
        });
    </script>
}

<h2>ExtraValues</h2>
<table class="@ViewExtensions2.GridClass">
@foreach (var e in Model)
{
    <tr><td><a href="/Manage/ExtraValues/QueryCodes?field=@Server.UrlEncode(e.Field)&value=@Server.UrlEncode(e.Value)">@e.Field</a></td>
        <td>@e.Value</td>
		<td>@e.Count</td>
        @if(User.IsInRole("Admin"))
		{
            <td><a class="delete" href="/Manage/ExtraValues/DeleteAll?field=@Server.UrlEncode(e.Field)&type=@e.type&value=@Server.UrlEncode(e.Value)"><img src="/Content/images/delete.gif" /></a></td>
		}
    </tr>
}
</table>