@model CmsWeb.Areas.Reports.Controllers.SpecialReportViewModel
@{
    ViewBag.Title = Model.Name ?? "Python Script";
    ViewBag.PageHeader = Model.Name;
    Layout = ViewExtensions2.TouchPointLayout();
}
<div class="box box-responsive">
    <div class="box-content">
        @Html.Raw(Model.Results)
    </div>
</div>
