@using CmsData
@using UtilityExtensions
@model IEnumerable<CmsData.View.RecentRegistration>
@{
    ViewBag.Title = "Registrations Summary Report";
    ViewBag.ReportPageHeader = "Registrations Summary Report";
    Layout = ViewExtensions2.TouchPointLayout();
}
<div class="report box box-responsive">
    <div class="box-content">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>First Date</th>
                        <th><a href="/Reports/RegistrationSummary?days=90">Last Date</a></th>
                        <th class="text-right">Count</th>
                        <th class="text-center">Completed</th>
                        <th><a href="/Reports/RegistrationSummary?days=90&sort=Organization">Organization</a></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var r in Model)
                    {
                        <tr>
                            <td>@r.Dt1.FormatDate()</td>
                            <td>@r.Dt2.FormatDate()</td>
                            <td class="text-right"><a href="/Org/@r.OrganizationId">@r.Cnt.ToString2("N0")</a></td>
                            <td class="text-center">
                                @if (r.Completed.GetValueOrDefault())
                                {
                                    <i class="fa fa-check"></i>
                                }
                            </td>
                            <td><a href="/OnlineReg/@r.OrganizationId" target="detail">@r.OrganizationName</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>