@model CmsWeb.Areas.Reports.Controllers.SpecialReportViewModel
@{
    ViewBag.Title = "Sql Report";
    ViewBag.ReportPageHeader = Model.Name;
    Layout = ViewExtensions2.TouchPointLayout();
}
<div class="report box box-responsive">
  <div class="box-content">
    <div class="table-responsive">
      @Html.Raw(Model.Results)
      <strong>Total Count</strong> <span class="badge"></span>
    </div>
  </div>
</div>