@{
    ViewBag.Title = "Sql Report";
    ViewBag.ReportPageHeader = ViewBag.Name;
    Layout = ViewExtensions2.TouchPointLayout();
}
<div class="report box box-responsive">
  <div class="box-content">
    <div class="table-responsive">
      @Html.Raw(ViewBag.report)
      <strong>Total Count</strong> <span class="badge"></span>
    </div>
  </div>
</div>