@using CmsWeb
@{
    ViewBag.Title = "Vital Stats";
    ViewBag.ReportPageHeader = "Vital Stats";
    Layout = ViewExtensions2.TouchPointLayout();
}
<div class="report box box-responsive">
    <div class="box-content">
        @Html.Raw((string)ViewData["table"])
    </div>
</div>