@model CmsWeb.Models.ExtraValues.ExtraValueModel
<form class="ajax" method="post" data-init="ExtraEditable">
  <input type="hidden" name="OrgId" value="@Model.Id"/>
  <input type="hidden" name="PeopleId" value="@Model.Id2"/>
  <input type="hidden" value="Member"/>
  <h4>AdHoc Extra Values</h4>
  <br/>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th style="width: 450px;">Name</th>
        <th>Value</th>
        <th style="width: 50px;">Actions</th>
      </tr>
      </thead>
      <tbody>
      @foreach (var f in Model.GetExtraValues().ToList())
      {
        @Html.EditorFor(m => f)
      }
      </tbody>
    </table>
  </div>
  @FormAction()
</form>
@helper FormAction()
{
  <div class="visible-xs-block">
    <a href="/OrgMemberDialog/Display" class="btn btn-default ajax">Dismiss</a>
    <a class="adhoc-extravalue btn btn-success btn-block ajax" href="/OrgMemberDialog/NewAdhoc"><i class="fa fa-plus-circle"></i> Add Extra Value</a>
    <a href="/OrgMemberDialog/ExtraValues" class="btn btn-default btn-block ajax reload"><i class="fa fa-refresh"></i> Refresh</a>
  </div>
}