@model IEnumerable<CmsData.PeopleCanEmailFor>
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "User Email Delegation";
    ViewBag.PageHeader = "User Email Delegation";
}
<div class="row">
    <div class="col-md-9">
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            Note, on the users screen, the top person in list is the person who will be able to email on behalf of others in the list.
        </div>
        <div class="box box-responsive">
            <div class="box-title-btn">
                <div class="box-tools">
                    <a href="/PersonCanEmailForList/0" class="btn btn-success editcanemail"><i class="fa fa-plus-circle"></i> Add New People</a>
                </div>
            </div>
            <div class="box-content">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Person who can Email</th>
                                <th>On Behalf of Person</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a class="editcanemail" href="/PersonCanEmailForList/@item.CanEmail">@item.PersonCanEmail.Name</a>
                                    </td>
                                    <td>
                                        @item.OnBehalfOfPerson.Name
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <a href="/PersonCanEmailForList/0" class="btn btn-success visible-xs-block btn-block editcanemail"><i class="fa fa-plus-circle"></i> Add New People</a>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Fingerprint.Script("/Content/touchpoint/js/dialog/search-users.js")
    <script type="text/javascript">
        $(function () {
            $("a.editcanemail").SearchUsers({
                UpdateShared: function (topid, topid0) {
                    $.post("/UpdatePersonCanEmailForList/" + topid, { topid0: topid0 }, function (ret) {
                        window.location.reload();
                    });
                }
            });
        });
    </script>
}