@model IEnumerable<CmsData.PeopleCanEmailFor>
@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "UsersEmailFor";
}
@section scripts
{
    <script src="@Fingerprint.Tag("/Scripts/Dialog/SearchUsers.js")"></script>
    <script src="@Fingerprint.Tag("/Scripts/js/UsersEmailFor.js")"></script>
}
<h2>Index</h2>

<table class="grid">
    <tr>
        <th>Person who can Email</th>
        <th>On Behalf of Person</th>
    </tr>

    @foreach (var item in Model)
    { 
        <tr>
            <td>
                <a class="editcanemail" href="/Setup/UsersCanEmailFor/PersonCanEmailForList/@item.CanEmail">@item.PersonCanEmail.Name</a>
            </td>
            <td>
                @item.OnBehalfOfPerson.Name
            </td>
        </tr>
    }
</table>
    <p>
        <label for="UserId">Add New Person who can Email for others:</label>
        <a href="/Setup/UsersCanEmailFor/PersonCanEmailForList/0" class="bt editcanemail">Select People</a>
    </p>
    <div><i>Note, top person in list is the person who emails on behalf of others in the list</i></div>