@using CmsData
@{
    ViewBag.Title = "Twilio Management";
    ViewBag.PageHeader = "Twilio Management";
    Layout = ViewExtensions2.TouchPointLayout();
    
    var gl = from e in DbUtil.Db.SMSGroups
             where e.IsDeleted == false
             select e;
}
<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    @foreach (var item in gl)
                    {
                        var numbers = from e in DbUtil.Db.SMSNumbers
                                      where e.GroupID == item.Id
                                      select e;

                        var people = from e in DbUtil.Db.SMSGroupMembers
                                     where e.GroupID == item.Id
                                     select e;

                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="box">
                                <div class="box-title">
                                    <h5><a href="#" dialogurl="/Twilio/Dialog/@(item.Id)?viewName=GroupDialog" style="text-decoration: underline;">@item.Name</a></h5>
                                </div>
                                <table class="table table-striped">
                                    <tr>
                                        <td colspan="2"><b>Description</b></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="padding-left:10px;">@item.Description<br /><br /></td>
                                    </tr>
                                    <tr>
                                        <td><b>Numbers</b></td>
                                        <td class="text-right">
                                            <a href="#" class="btn btn-success btn-xs" dialogurl="/Twilio/Dialog/@(item.Id)?viewName=NumberDialog"><i class="fa fa-plus-circle"></i> Add</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            @foreach (var number in numbers)
                                            {
                                                @number.Number @:(<a href="/Twilio/NumberRemove/@number.Id">Remove</a>)<br />
                                            }
                                            &nbsp;<br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Users</b></td>
                                        <td class="text-right">
                                            <a href="#" dialogurl="/Twilio/Dialog/@(item.Id)?viewName=UserDialog" class="btn btn-success btn-xs"><i class="fa fa-plus-circle"></i> Add</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            @foreach (var person in people)
                                            {
                                                @person.User.Name @:(<a href="/Twilio/UserRemove/@person.Id">Remove</a>)<br />
                                            }
                                            &nbsp;<br />
                                        </td>
                                    </tr>
                                </table>
                                <div class="text-right">
                                    <a href="#" class="btn btn-sm btn-danger" style="margin:10px;" dialogurl="/Twilio/Dialog/@(item.Id)?viewname=DeleteGroupDialog">
                                        <i class="fa fa-trash-o"></i> Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <a href="#" class="btn btn-success" dialogurl="/Twilio/Dialog?viewName=GroupDialog"><i class="fa fa-plus-circle"></i> Add New Group</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dialog" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content"></div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("a[dialogurl]").on("click", function (e) {
                e.preventDefault();

                var $elem = $(this);

                $("#dialog .modal-content").load($elem.attr("dialogurl"), function() {
                    $("#dialog").modal();
                    $(".bt").button();
                    enableClose();
                });
            });
        });

        function enableClose() {
            $("input[cancelbutton]").on("click", function (e) {
                $("#" + $(this).attr("cancelbutton")).dialog("destroy");
            });
        }
    </script>
}
