@using CmsData
@model IEnumerable<CmsWeb.Areas.Setup.Controllers.LookupController.Row>
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Lookup Codes";
    ViewBag.PageHeader = "Lookup Codes";
}
@if (!User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-sm-4">
            <div class="box">
                <div class="box-title">
                    <h5>Financial</h5>
                </div>
                <div class="box-content">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/Funds">Funds</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-3">
            <div class="box">
                <div class="box-title">
                    <h5>People</h5>
                </div>
                <div class="box-content">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/Lookup/AddressType">Address Type</a></li>
                        <li><a href="/Lookup/FamilyPosition">Family Position</a></li>
                        <li><a href="/Lookup/Gender">Gender</a></li>
                        <li><a href="/Lookup/InterestPoint">Interest Point</a></li>
                        <li><a href="/Lookup/MaritalStatus">Marital Status</a></li>
                        <li><a href="/Lookup/ResidentCode">Resident Code</a></li>
                    </ul>
                </div>
            </div>
            <div class="box">
                <div class="box-title">
                    <h5>Organizations</h5>
                </div>
                <div class="box-content">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/Lookup/AttendCredit">Attend Credit</a></li>
                        <li><a href="/Lookup/AttendType">Attend Type</a></li>
                        <li><a href="/Lookup/Campus">@Util2.CampusLabel</a></li>
                        <li><a href="/Lookup/EntryPoint">Entry Point</a></li>
                        @if ((bool)ViewData["MeetingCategories"]) {
                        <li><a href="/MeetingCategory">Meeting Categories</a></li>
                        }
                        <li><a href="/MemberType">Member Types</a></li>
                        <li><a href="/Lookup/OrganizationStatus">Organization Status</a></li>
                        <li><a href="/Lookup/OrganizationType">Organization Type</a></li>
                        <li><a href="/Lookup/Origin">Origin</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-3">
            <div class="box">
                <div class="box-title">
                    <h5>Membership</h5>
                </div>
                <div class="box-content">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/Lookup/BaptismStatus">Baptism Status</a></li>
                        <li><a href="/Lookup/BaptismType">Baptism Type</a></li>
                        <li><a href="/Lookup/DecisionType">Decision Type</a></li>
                        <li><a href="/Lookup/DropType">Drop Type</a></li>
                        <li><a href="/Lookup/JoinType">Join Type</a></li>
                        <li><a href="/Lookup/MemberLetterStatus">Member Letter Status</a></li>
                        <li><a href="/Lookup/MemberStatus">Member Status</a></li>
                        <li><a href="/Lookup/NewMemberClassStatus">New Member Class Status</a></li>
                    </ul>
                </div>
            </div>
            <div class="box">
                <div class="box-title">
                    <h5>Contributions</h5>
                </div>
                <div class="box-content">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/Lookup/BundleHeaderTypes">Bundle Header Types</a></li>
                        <li><a href="/Lookup/BundleStatusTypes">Bundle Status Types</a></li>
                        <li><a href="/Lookup/ContributionStatus">Contribution Status</a></li>
                        <li><a href="/Lookup/ContributionType">Contribution Type</a></li>
                        <li><a href="/Lookup/EnvelopeOption">Envelope Option</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-3">
            <div class="box">
                <div class="box-title">
                    <h5>Contacts / Tasks</h5>
                </div>
                <div class="box-content">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/Lookup/ContactReason">Contact Reason</a></li>
                        <li><a href="/Lookup/ContactType">Contact Type</a></li>
                        <li><a href="/Ministry">Ministries</a></li>
                        <li><a href="/Lookup/TaskStatus">Task Status</a></li>
                    </ul>
                </div>
            </div>
            <div class="box">
                <div class="box-title">
                    <h5>Miscellaneous</h5>
                </div>
                <div class="box-content">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/Lookup/BackgroundCheckLabels">Background Check Labels</a></li>
                        <li><a href="/Roles">Roles</a></li>
                        <li><a href="/Lookup/VolApplicationStatus">Volunteer Application Status</a></li>
                        <li><a href="/Lookup/VolunteerCodes">Volunteer Codes</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
}
