@model IEnumerable<CmsWeb.Areas.Setup.Controllers.LookupController.Row>
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Lookups";
}
@section head{
    <style>
        ul.list-group li a {
            text-decoration: underline;
        }
    </style>
}
<h2>Lookup Tables</h2>
<div class="row">
    @if (!User.IsInRole("Admin"))
    {
        <div class="col-sm-4">
            <div class="panel panel-default">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/Funds">Funds</a></li>
                </ul>
            </div>
        </div>
    }
    else
    {
        <div class="col-sm-4">
            <div class="panel panel-default">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/Lookup/AddressType">Address Type</a></li>
                    <li class="list-group-item"><a href="/Lookup/AttendCredit">Attend Credit</a></li>
                    <li class="list-group-item"><a href="/Lookup/AttendType">Attend Type</a></li>
                    <li class="list-group-item"><a href="/Lookup/BackgroundCheckLabels">Background Check Labels</a></li>
                    <li class="list-group-item"><a href="/Lookup/BaptismStatus">Baptism Status</a></li>
                    <li class="list-group-item"><a href="/Lookup/BaptismType">Baptism Type</a></li>
                    <li class="list-group-item"><a href="/Lookup/BundleHeaderTypes">Bundle Header Types</a></li>
                    <li class="list-group-item"><a href="/Lookup/BundleStatusTypes">Bundle Status Types</a></li>
                    <li class="list-group-item"><a href="/Lookup/Campus">Campus</a></li>
                    <li class="list-group-item"><a href="/Lookup/ContactReason">Contact Reason</a></li>
                    <li class="list-group-item"><a href="/Lookup/ContactType">Contact Type</a></li>
                    <li class="list-group-item"><a href="/Lookup/ContributionStatus">Contribution Status</a></li>
                    <li class="list-group-item"><a href="/Lookup/ContributionType">Contribution Type</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/Reports/CustomColumns/" target="_blank">Custom Columns</a></li>
                    <li class="list-group-item"><a href="/Lookup/DecisionType">Decision Type</a></li>
                    <li class="list-group-item"><a href="/Lookup/DropType">Drop Type</a></li>
                    <li class="list-group-item"><a href="/Lookup/EntryPoint">Entry Point</a></li>
                    <li class="list-group-item"><a href="/Lookup/EnvelopeOption">Envelope Option</a></li>
                    <li class="list-group-item"><a href="/Lookup/FamilyPosition">Family Position</a></li>
                    <li class="list-group-item"><a href="/Lookup/Gender">Gender</a></li>
                    <li class="list-group-item"><a href="/Lookup/InterestPoint">Interest Point</a></li>
                    <li class="list-group-item"><a href="/Lookup/JoinType">Join Type</a></li>
                    <li class="list-group-item"><a href="/Lookup/MaritalStatus">Marital Status</a></li>
                    <li class="list-group-item"><a href="/Lookup/MemberLetterStatus">Member Letter Status</a></li>
                    <li class="list-group-item"><a href="/Lookup/MemberStatus">Member Status</a></li>
                    <li class="list-group-item"><a href="/MemberType">Member Types</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/Ministry">Ministries</a></li>
                    <li class="list-group-item"><a href="/Lookup/NameTitle">Name Title</a></li>
                    <li class="list-group-item"><a href="/Lookup/NewMemberClassStatus">New Member Class Status</a></li>
                    <li class="list-group-item"><a href="/Lookup/OrganizationStatus">Organization Status</a></li>
                    <li class="list-group-item"><a href="/Lookup/OrganizationType">Organization Type</a></li>
                    <li class="list-group-item"><a href="/Lookup/Origin">Origin</a></li>
                    <li class="list-group-item"><a href="/Lookup/ResidentCode">Resident Code</a></li>
                    <li class="list-group-item"><a href="/Roles">Roles</a></li>
                    <li class="list-group-item"><a href="/Lookup/ShirtSizes">Shirt Sizes</a></li>
                    <li class="list-group-item"><a href="/Lookup/TaskStatus">Task Status</a></li>
                    <li class="list-group-item"><a href="/Lookup/VolApplicationStatus">Volunteer Application Status</a></li>
                    <li class="list-group-item"><a href="/Lookup/VolunteerCodes">Volunteer Codes</a></li>
                </ul>
            </div>
        </div>
    }
</div>