@using CmsWeb
@model CmsWeb.Models.EmailModel

@{
    Layout = ViewExtensions2.Layout();
    ViewBag.Title = "Emails";
}
@section head
{
    <style>
        textarea {
            font-family: monospace;
            width: 100%;
            height: 600px;
            white-space: pre;
            -webkit-tab-size: 4;
            -moz-tab-size: 4;
            -ms-tab-size: 4;
            -o-tab-size: 4;
            tab-size: 4;
        }
    </style>
}

<h2>Email Html Source</h2>
<a href="/Emails/Details/@Model.id">Back to Details</a>
<textarea>
@Model.queue.Body
</textarea>
