@using CmsWeb
@model CmsWeb.Models.EmailModel

@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Email Html Source";
    ViewBag.PageHeader = Model.queue.Subject;
}
<div class="row">
    <div class="col-sm-12">
        <div class="box box-responsive">
            <div class="box-title-btn">
                <h5>Html Source</h5>
                <div class="box-tools">
                    <a href="/Manage/Emails/Details/@Model.Id" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Back to Details</a>
                </div>
            </div>
            <div class="box-content">
                <div id="editor" style="width: 100%; height: 600px; border: #ccc solid 1px;">@Model.queue.Body</div>
                @Html.HiddenFor(m => m.queue.Body)
                <br/>
                <a href="/Manage/Emails/Details/@Model.Id" class="btn btn-default visible-xs-block btn-block"><i class="fa fa-arrow-circle-left"></i> Back to Details</a>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
    <script type="text/javascript">
        $(function () {
            var editor = ace.edit("editor");
            editor.setShowPrintMargin(false);
            editor.setReadOnly(true);
            editor.getSession().setMode("ace/mode/html");
        });
    </script>
}