<a href="/Home/Support2?helplink=@HttpUtility.UrlEncode(Util.HelpLink(Util.Helpfile))" target="documentation">
    <i class="fa fa-question-circle"></i>
    <span class="visible-lg-inline visible-xs-inline">&nbsp;&nbsp;Help</span>
</a>