@using CmsWeb.Code
@{
  var c1 = ReportsMenuModel.CustomItems1;
  var c2 = ReportsMenuModel.CustomItems2;
  var c3 = ReportsMenuModel.Items;
  var ncols = 1
    + (c1.HasValue() ? 1 : 0)
    + (c2.HasValue() ? 1 : 0);
}
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports</a>
  <ul class="dropdown-menu dropdown-div-reports-@ncols">
    <li>
      <div class="row-fluid">
        @Column(c1, ncols)
        @Column(c2, ncols)
        @Column(c3, ncols)
      </div>
    </li>
  </ul>
</li>
@helper Column(string c, int ncols)
{
  if (c.HasValue())
  {
    <ul class="span@(12 / ncols) unstyled pull-left">
      @Html.Raw(c)
    </ul>
  }
}