@using CmsData.Classes.Twilio
<li class="dropdown toolbar-email">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-envelope-alt"></i></a>
    <ul class="dropdown-menu">
        <li>
            <div class="row-fluid yamm-content">
                <ul class="unstyled pull-left">
                    <li class="header">
                        <p><strong>Email</strong></p>
                    </li>
                    <li><a href='/Email/Index/@ViewBag.queryid'>Individuals</a></li>
                    <li><a href='/Email/Index/@ViewBag.queryid?parents=true'>Parents</a></li>
                    @if ((bool?)ViewBag.ParentOrgContext == true)
                    {
                        <li><a href='/Email/Index/@ViewBag.leadersqid'>Leaders under this org</a></li>
                        <li><a href='/Email/Index/@ViewBag.membersqid'>Members under this org</a></li>
                    }
                    @if (TwilioHelper.userSendSMS(Util.UserId))
                    {
                        <li>
                            <a href='/SMS/Options/@ViewBag.queryid'>Send Text
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </li>
    </ul>
</li>

