@using CmsData.Classes.Twilio
@using UtilityExtensions
<div class="navbar navbar-inverse yamm toolbar pull-right">
    <div class="navbar-inner" style="">
        <div class="container">
            <ul class="nav">
                @Html.Partial("Menu/ToolbarEmail")
                @Html.Partial("Menu/ToolbarReports")
                @Html.Partial("Menu/ToolbarGear")
            </ul>
        </div>
    </div>
</div>
