DROP FUNCTION IF EXISTS [dbo].[CompleteZip]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CompleteZip] 
(
	@intZip NVARCHAR(5)
)
RETURNS NVARCHAR(5)
AS
BEGIN
	DECLARE @Result NVARCHAR(5)

	SELECT @Result = RIGHT('00000'+CAST(@intZip AS VARCHAR(5)),5)

	RETURN @Result
END
GO
