IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS
  WHERE TABLE_NAME = 'People' AND COLUMN_NAME = 'IsBusiness')
BEGIN
  ALTER TABLE dbo.People
    ADD IsBusiness bit NOT NULL DEFAULT(0)    
END;

IF NOT EXISTS (
  SELECT
    *
  FROM
    INFORMATION_SCHEMA.COLUMNS
  WHERE
    TABLE_NAME = 'Families' AND COLUMN_NAME = 'IsBusiness')
BEGIN
  ALTER TABLE dbo.Families
    ADD IsBusiness bit NOT NULL DEFAULT(0)
END;


