@model CmsWeb.Models.ExtraValues.ExtraValueModel
<form class="form ajax span12 margin-top" method="post"  data-init="ExtraEditable">
    <fieldset class="left-gutter">
        <legend>AdHoc Extra Values <a class="addextravalue" href="/ExtraValue/AddNew"><i class="icon-plus"></i></a>
            <small class="pull-right">
                <a href="/ExtraValue/Index/@Model.Table/Standard/@Model.Id" class="ajax">Standard Extra Values</a>
            </small>
        </legend>
        <table class="table not-wide">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var f in Model.GetExtraValues("Adhoc").ToList())
                {
                    @Html.EditorFor(m => f)
                }
            </tbody>
        </table>
    </fieldset>
</form>

