@model CmsWeb.Models.ExtraValues.ExtraValueModel
<form class="ajax" method="post" data-init="ExtraEditable">
    <div class="row">
        <div class="col-sm-9">
            <h4>Standard Extra Values</h4>
        </div>
        <div class="col-sm-3">
            <div class="pull-right">
                <a class="ajax btn btn-default" href="/ExtraValue/Display/@Model.Table/Adhoc/@Model.Id"><i class="fa fa-search"></i> Show Adhoc Values</a>
            </div>
        </div>
    </div>
    @FormAction()
    <br/>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 450px;">Name</th>
                    <th>Value</th>
                    <th style="width: 50px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var f in Model.GetExtraValues())
                {
                    if (f.UserCanView(DbUtil.Db) && f.Type != "Data")
                    {
                        @(f.UserCanEdit()
                                  ? Html.EditorFor(m => f)
                                  : Html.DisplayFor(m => f))
                    }
                }
            </tbody>
        </table>
    </div>
    @FormAction(true)
    <input type="hidden" id="StandardExtraValueReload" value="/ExtraValue/Display/@Model.Table/Standard/@Model.Id" />
</form>
@helper FormAction(bool xs = false)
{
    if (xs)
    {
        <div class="visible-xs-block">
            @if (User.IsInRole("Admin"))
            {
                <a class="extravalue btn btn-success btn-block" href="/ExtraValue/NewStandard/@Model.Table/Standard/@Model.Id"><i class="fa fa-plus-circle"></i> Add Extra Value</a>
                <a class="extravalue btn btn-default btn-block" href="/ExtraValue/ListStandard/@Model.Table/Standard/@Model.Id"><i class="fa fa-pencil"></i> Edit</a>
                <hr/>
            }
            <a href="#" class="btn btn-default btn-block ajax-refresh"><i class="fa fa-refresh"></i> Refresh</a>
        </div>
    }
    else
    {
        <div class="row hidden-xs">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href="#" class="btn btn-default ajax-refresh"><i class="fa fa-refresh"></i> Refresh</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="extravalue btn btn-default" href="/ExtraValue/ListStandard/@Model.Table/Standard/@Model.Id"><i class="fa fa-pencil"></i> Edit</a>
                        <a class="extravalue btn btn-success" href="/ExtraValue/NewStandard/@Model.Table/Standard/@Model.Id"><i class="fa fa-plus-circle"></i> Add Extra Value</a>
                    }
                </div>
            </div>
        </div>
    }
}
