@model CmsWeb.Models.ExtraValues.ExtraValueModel
<form class="form ajax span12 margin-top" method="post" data-init="ExtraEditable">
    <fieldset class="left-gutter">
        <legend>Standard Extra Values 
            @if (User.IsInRole("Admin"))
            {
                <a class="extravalue nounderline font18px dark pad-left" href="/ExtraValue/NewStandard/@Model.Table/Standard/@Model.Id"><i class="fa fa-plus"></i></a>
                <a class="extravalue nounderline font14px dark pad-left" href="/ExtraValue/ListStandard/@Model.Table/Standard/@Model.Id"><i class="fa fa-pencil"></i></a>
            }
            <span class="pull-right">
                <a href="/ExtraValue/Display/@Model.Table/Adhoc/@Model.Id" class="ajax font14px">Adhoc Values</a>
            </span>
        </legend>
        <a href="#" class="pull-right ajax-refresh"><i class="fa fa-refresh"></i></a>
        <table class="table not-wide">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="width100">Value</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var f in Model.GetExtraValues())
                {
                    if (f.UserCanView())
                    {
                        @(f.UserCanEdit()
                            ? Html.EditorFor(m => f)
                            : Html.DisplayFor(m => f))
                    }
                }
            </tbody>


        </table>
    </fieldset>
    <input type="hidden" id="StandardExtraValueReload" value="/ExtraValue/Display/@Model.Table/Standard/>@Model.Id" />
</form>
@if (User.IsInRole("Admin"))
{
    <a href="/Display/ContentEdit/@ViewBag.EvSpecId">Standard ExtraValues Specification</a>
}
