@model Areas.Org.Dialog.Models.OrgMembersUpdate
<div class="modal-header">
    <a class="close" data-dismiss="modal">x</a>
    <h4>@Model.OrgName</h4>
</div>
<div class="modal-body">
    <h5 class="alert alert-info">Dropped @Model.Count from @Model.Group in @Model.OrgName</h5>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn close btn-success">Close</a>
</div>
