@model AskExtraQuestions
@using CmsData.Registration
<div class="well">
  <label class="ask-question">
    Extra Questions
  </label>
  @if (ViewBag.ShowHelp != false)
  {
    <div class="alert alert-info">@Html.Markdown(Model.Help)</div>
  }
  @Html.DisplayFor(m => m.TargetExtraValue)
  @foreach (var i in Model.list)
  {
    <div class="well">
      @Html.DisplayFor(m => i.Question)
    </div>
  }
</div>
