@model AskGradeOptions
@using CmsData.Registration
<div class="well">
  <label class="ask-question">
    Ask Grade Options
  </label>
  @if (ViewBag.ShowHelp != false)
  {
    <div class="alert alert-info maxWidthMedium margin-top">@Html.Markdown(Model.Help)</div>
  }
  @foreach (var i in Model.list)
  {
      <div class="well">
          <div class="row">
              <div class="col-sm-6">
                  @Html.DisplayFor(m => i.Description)
              </div>
              <div class="col-sm-6">
                  @Html.DisplayFor(m => i.Code)
              </div>
          </div>
      </div>
  }
</div>