@model AskInstruction
@using CmsData.Registration
<div class="well">
  <label class="ask-question">
    Instruction 
  </label>
  @if (ViewBag.ShowHelp != false)
  {
    <div class="alert alert-info maxWidthMedium margin-top">@Html.Markdown(Model.Help)</div>
  }
  <div>
    @Html.DisplayFor(m => m.Label)
  </div>
</div>