@model AskYesNoQuestions
@using CmsData.Registration
<div class="well">
  <label class="ask-question">
    Yes / No Questions
  </label>
  @if (ViewBag.ShowHelp != false)
  {
      <div class="alert alert-info">@Html.Markdown(Model.Help)</div>
  }
  @Html.DisplayFor(m => m.TargetExtraValue)
  @foreach (var i in Model.list)
  {
      <div class="well">
        <div class="row">
          <div class="col-sm-6">
            @Html.DisplayFor(m => i.Question)
          </div>
          <div class="col-sm-6">
            @Html.DisplayFor(m => i.SmallGroup)
          </div>
        </div>
      </div>
  }
</div>
