@using UtilityExtensions
@model CmsWeb.Areas.Org.Models.SettingsRegistrationModel
<div id="orgpickdiv" class="form-group">
  @Html.Label("Organization Pick List", new { @class = "control-label" })
  <div class="controls">
    <b><a id="orgpicklist" href="/Org/OrgPickList/@Model.Id">Choose Organizations</a></b>
    @foreach (var o in Model.OrganizationsFromIdString)
    {
      <div><a href="/Org/@o.OrganizationId" target="otherorg">@o.OrganizationName</a></div>
    }
    @if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
    {
      <div class="alert alert-info">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
    }
  </div>
</div>
