@model CmsWeb.Areas.Org.Models.MemberModel
<form class="form form-horizontal non-modal ajax span12 pad-left">
  @Html.Hidden("pending-qid", (Guid?)ViewBag.queryid)
  <div>
    Count: <strong id="pending-count">@Model.Count()</strong>
    <a class="filtergroupslink bt" href="#" title="Filter by name/group">Filter@(Model.IsFiltered ? "(filtered)" : "")</a>
    @if(User.IsInRole("Edit"))
    { 
      <a href="/SearchAdd2/Dialog/pending/@Model.Id" class="searchadd btn">Add Pending Members</a>
      <a href="/AddToOrgFromTag/@Model.Id?pending=true" title="Add Pendings From Tag" class="addfromtag btn">add from tag</a>
      <a href="/OrgMembersDialog/@Model.Id?pendings=true" title="Update Pending Members" class="memberdialog btn">update pending members</a>
    } 
  </div>
  @Helper.OrgFilter(Model.NameFilter, Model.SgFilter)
  @Html.Partial("Tabs/Base", Model) 
</form>
