@using CmsWeb
@model CmsWeb.Areas.Org2.Models.MeetingModel
@{
    ViewBag.Title = "Meeting Tickets";
    Layout = ViewExtensions2.Layout();
}
@section head
{
    <style>
        div.bgred {
            background-color: pink;
        }

        div.bgyellow {
            background-color: yellow;
        }
    </style>
}
@section scripts
{
    <script src="/Scripts/js/ion.sound.min.js"></script>
    @Fingerprint.Script("/Scripts/meeting/meeting-ticket.js")
}
<form id="markform" method="Post">
    <table>
        <tr>
            <td id="meeting">
                @Html.Partial("TicketMeeting", Model)
            </td>
            <td class="bottom">
                <div style="margin-left: 1em;">
                    Find Name<br />
                    @Html.TextBox("name")
                    <br />
                    <br />
                    Wand Target<br />
                    @Html.TextBox("wandtarget")
                </div>
            </td>
        </tr>
    </table>
</form>
<hr />
<div id="mark">
</div>
<div id="visitorDialog" title="Add Guests">
<iframe style="width:100%;height:99%;border-width:0px;"></iframe>
</div>
