@using UtilityExtensions
@model List<CmsData.Registration.Settings.OrgFee>
<div class="form-group">
    <div class="controls">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right newitem">
                    <a href="/Org/NewOrgFee" class="btn btn-success" data-dest=".orgfees"><i class="fa fa-plus-circle"></i> Add Org Fee</a>
                </div>
            </div>
        </div>
        <br />
        <div class="row orgfees">
            @foreach (var f in Model)
            {
                @Html.EditorFor(m => f)
            }
        </div>
        @if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
        {
            <div class="alert alert-info">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
        }
    </div>
</div>
