<ul class="dropdown-menu dropdown-menu-large dropdown-menu-right container bluebar-menu-col-1">
    <li class="col-sm-12">
        <ul>
            <li class="dropdown-header">Email</li>
            <li><a href="#" class="sendemail">Email to Filtered List</a></li>
            <li class="dropdown-header">Text</li>
            <li><a href="#" class="sendtext">Send Sms to Filtered List</a></li>
        </ul>
    </li>
</ul>
