@model CmsWeb.Areas.People.Models.MemberNotesModel
<form class="form form-horizontal margin-top ajax span8" method="post">
    <fieldset class="left-gutter">
        <legend>Membership Process Notes</legend>
        <div class="display">
            @Html.DisplayFor(m => m.LetterStatus)
            @Html.DisplayFor(m => m.LetterDateRequested)
            @Html.DisplayFor(m => m.LetterDateReceived)
        </div>
        <div class="margin-top">
            @Html.DisplayFor(m => m.LetterStatusNotes)
        </div>
        <div>
            @if (User.IsInRole("Edit"))
            {
                <a href="/Person2/MemberNotesEdit/@Model.PeopleId" class="pull-right btn btn-primary ajax">Edit</a>
            }
        </div>
    </fieldset>
</form>