@model dynamic
<form id="delete-standard-dialog" class="modal dialog-options form-horizontal validate fade hide ajax" method="POST">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3 class="title">title placeholder</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">Remove data too:</label>
            <div class="controls">
                @Html.CheckBox("removedata", false)
                <span class="help-block">Checking this box will remove all associated data too.</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-success" data-dismiss="modal">Close</a>
        <input type="submit" class="btn btn-primary" value="OK" />
    </div>
</form>

