@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Batch Load Bundle";
    ViewBag.PageHeader = "Batch Load Bundle";
}
<div class="box box-responsive">
    <div class="box-content">
        <form action="/PostBundle/BatchUpload" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="file" class="control-label">File</label>
                        <input type="file" id="file" name="file" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="date" class="control-label">Contribution Date or Posting Date</label>
                        <div class="input-group date">
                            @Html.TextBox("date", "", new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                            @Html.Hidden("dateIso", "", new { disabled = "disabled" })
                        </div>
                        @if (!Html.ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                @Html.ValidationMessage("date")
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <a tabindex="0" href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-title="Fund Id" data-content="Default fund for these bundles."><i class="fa fa-info-circle"></i></a>&nbsp;
                        <label for="file" class="control-label">Fund Id</label>
                        <input type="number" name="fundid" id="fundid" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.TextArea("text", "", new { rows = "10", cols = "1000", wrap = "off", @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover({ html: true });
            $('[data-toggle="popover"]').click(function (ev) {
                ev.preventDefault();
            });
        });
    </script>
}
