@using CmsWeb.Models
@model UpdateFieldsModel.TitleItems
<div class="box">
    <div class="box-title">
        <h5>@Model.title</h5>
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.Instructions))
    {
        <div class="box-content">
            <small>@Model.Instructions</small>
        </div>
    }
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.items)
            {
                <tr>
                    <td>@(Model.UseCode ? i.Code : i.Id.ToString())</td>
                    <td>@i.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>