@{
    ViewBag.Title = "Status Flags Updated";
    Layout = ViewExtensions2.TouchPointLayout();
}
<div class="alert alert-success">
    <strong>Success!</strong>&nbsp;&nbsp;Status flags were successfully updated.
</div>