@using CmsWeb
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Update Registration Options";
    ViewBag.PageHeader = "Batch Update Registration Options";
}
@section scripts{
  @Fingerprint.Script("/content/touchpoint/js/admin/batchupdate.js")
}
<div class="alert alert-success alert-dismissible" style="display: none;">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Success!</strong> <span id="success-message"></span>
</div>
<div class="box box-responsive">
    <div class="box-content">
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Note:</strong> Paste from spreadsheet into box below. Be sure to include the header row and the OrgID column.
        </div>
        <form action="@ViewBag.Action">
            @Html.TextArea("text", ViewBag.text, new { rows = "20", cols = "1000", wrap = "off", @class = "form-control" })<br />
            <input type="submit" class="btn btn-primary" value="Submit" id="begin-update" />
        </form>
    </div>
</div>
}