@model CmsWeb.Areas.Org.Models.OrganizationModel
<form class="form form-horizontal non-modal ajax span12" data-init="datepicker">
    <br />
    @FormAction()
    <ul class="noedit" style="list-style: none; margin-left: 5px;">
        @Html.EditorFor(m => m, "TabAttendance")
    </ul>
    @FormAction()
</form>
@helper FormAction()
{
  if (User.IsInRole("Edit"))
  {
      <div class="pull-right">
          <a href="/Organization/AttendanceEdit/@Model.Id" class="btn edit ajax pull-right">Edit</a>
      </div>
      <div class="formerror">@Html.ValidationMessage("Form")</div>
  }
}