@model CmsWeb.Areas.Org.Models.OrganizationModel
<form class="form form-horizontal non-modal ajax span12 pad-left">
  @FormAction()
  <ul class="noedit">
    @Html.EditorFor(m => m, "TabAttendance")
  </ul>
  @FormAction()
</form>
@helper FormAction()
{
  if (User.IsInRole("Edit"))
  {
    <a href="/Organization/AttendanceEdit/@Model.Id" class="btn edit ajax pull-right">Edit</a>
    <div class="formerror">@Html.ValidationMessage("Form")</div>
  }
}