@model CmsData.Registration.Settings
<form class="form form-horizontal non-modal ajax span12" data-init="datepicker">
    <br />
    @FormAction()
    <ul class="noedit" style="list-style: none; margin-left: 5px;">
        @Html.EditorFor(m => m, "TabFees")
    </ul>
    @FormAction()
</form>
@helper FormAction()
{
  if (User.IsInRole("Edit"))
  {
      <div class="pull-right">
          <a href="/Organization/FeesEdit/@Model.OrgId" class="btn edit ajax">Edit</a>
      </div>
      <div class="formerror">@Html.ValidationMessage("Form")</div>
  }
}