@model CmsWeb.Areas.Org.Models.OrganizationModel
<form class="form form-horizontal non-modal ajax span12 pad-left">
  @Html.Hidden("Id", Model.Id)
  @FormAction()
  <ul class="noedit">
    @Html.EditorFor(m => m, "TabGeneral")
  </ul>
  @FormAction()
</form>
@helper FormAction()
{
   if (User.IsInRole("Edit"))
   {
     <a href="/Organization/GeneralEdit" class="btn ajax pull-right">Edit</a>
   }
}
