@model CmsData.Registration.Settings
<form class="form form-horizontal non-modal ajax span12 pad-left">
  <p><i>Click on the boxed text to edit the HTML</i></p>
  @FormAction()
  <ul class="enablesort edit">
    @Html.EditorFor(m => m, "TabMessages")
  </ul>
  @FormAction()
</form>
@helper FormAction()
{
  <a href="/Organization/Messages/@Model.OrgId" class="btn ajax">Cancel</a>
  <a href="/Organization/MessagesUpdate/@Model.OrgId" class="btn btn-primary ajax">Save</a>
  <div class="formerror">@Html.ValidationMessage("Form")</div>
}