@model CmsWeb.Areas.Org.Models.OrganizationModel
<form class="form form-horizontal ajax">
  @FormAction()
  <ul>
    @Html.EditorFor(m => m, "TabOrg")
  </ul>
  @FormAction()
</form>
@helper FormAction()
{
  <span class="pull-right">
    <a href="/Organization/SettingsOrg/@Model.Id" class="btn ajax">Cancel</a>
    <a href="/Organization/SettingsOrgUpdate/@Model.Id" class="btn btn-primary ajax">Save</a>
  </span>
  <div class="formerror">@Html.ValidationMessage("Form")</div>
}
