@using UtilityExtensions
@model CmsWeb.Areas.Giving.Models.MigrateGivingModel
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Online Giving Setup";
    ViewBag.PageHeader = "Online Giving Setup";
    var success = Util.TempSuccessMessage;
}
@section head
{
    @ViewExtensions2.BootstrapToggleCss()
}

@if (success.HasValue())
{
    <div class="alert alert-success">
        @success
    </div>
}
<div class="giving">
    <giving-page-index give-prefix="@ViewExtensions2.CurrentDatabase.ServerLink("/Give/")"></giving-page-index>
</div>
