@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = 
    ViewBag.PageHeader = "Migrate to Scheduled Giving";
    var records = Model.Count == 1 ? "record" : "records";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-block warning">
            You are about to migrate @Model.Count recurring giving @records from the legacy format to the new format.
        </div>
        <div>
            Before you proceed, you should understand the changes that are about to be made.  There is no way to revert this change.
            Read more about this process here <a href="https://docs.touchpointsoftware.com/Finance/OnlineGiving.html" target="_blank">here in the TouchPoint documentation</a>.
        </div>
        <div class="well text-center">
            <p>Are you sure you want to continue?</p>
            <div class="row">
                <div class="col-xs-6">
                    <a class="btn btn-default btn-block" href="/GivingManagement">No, I'm not ready</a>
                </div>
                <div class="col-xs-6">
                    @using (Html.BeginForm("MigrateRecurringConfirm", "GivingManagement", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <button class="btn btn-primary btn-block">Yes, continue with the migration</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
