@using UtilityExtensions
@model CmsWeb.Areas.Main.Models.Other.VolunteerModel
@FormAction()
<h4>Volunteer Approvals</h4>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Approvals:</th>
            <td>
                @foreach (var ck in Model.ApprovalList)
                {
                    <input type="checkbox" @(ck.Approved ? "checked='checked'" : "") disabled="disabled" />
                    @ck.Description<br />
                }
            </td>
        </tr>
        <tr>
            <th>Background Check:</th>
            <td colspan="2">@Model.V.ProcessedDate.FormatDate()</td>
        </tr>
    </table>
</div>
<br/>
@helper FormAction()
{
    if (User.IsInRole("ApplicationReview"))
    {
        <div class="row hidden-xs">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href="/Volunteering/@Model.V.PeopleId" class="btn btn-default">Manage</a>
                </div>
            </div>
        </div>
    }
}