<ul class="dropdown-menu dropdown-menu-large dropdown-menu-right container bluebar-menu-col-1">
    <li class="col-sm-12">
        <ul>
          <li><a href="https://docs.touchpointsoftware.com/Organizations/ConvertToQuery.html">See this help article to see how to send email for this meeting</a></li>
        </ul>
    </li>
</ul>