<ul class="dropdown-menu dropdown-menu-large dropdown-menu-right container bluebar-menu-col-1">
    <li class="col-sm-12">
        <ul>
            <li><span class="org-context">No Email available in this context.</span></li>
        </ul>
    </li>
</ul>