<ul class="dropdown-menu dropdown-menu-large container row dropdown-menu-right bluebar-menu-col-1" role="menu">
    <li class="col-sm-12">
        <ul>
            <li class="dropdown-header">Operations</li>
            <li><a href="/AddAttendeesFromTag/@Model.meeting.MeetingId" class="longrunop"><span class="text-success">Add Attendees From Tag</span></a></li>
            <li><a id="addallguests" href="#"><span class="text-success">Add All Guests to Org</span></a></li>

            <li class="dropdown-header">Convert to Search</li>
            <li><a href="/Meeting/QueryAttendees/@Model.meeting.MeetingId"><span class="text-success">Attendees</span></a></li>
            <li><a href="/Meeting/QueryVisitors/@Model.meeting.MeetingId"><span class="text-success">Guests</span></a></li>
            <li><a href="/Meeting/QueryAbsents/@Model.meeting.MeetingId"><span class="text-success">Absentees</span></a></li>
            <li><a href="/Meeting/QueryRegistered/@Model.meeting.MeetingId?type=Attending"><span class="text-success">Registered Attending</span></a></li>
            <li><a href="/Meeting/QueryRegistered/@Model.meeting.MeetingId?type=Regrets"><span class="text-success">Registered Regrets</span></a></li>
            <li><a href="/Meeting/QueryRegistered/@Model.meeting.MeetingId?type=NotRegistered"><span class="text-success">Not Registered</span></a></li>
            <li><a href="/Meeting/QueryRegistered/@Model.meeting.MeetingId?type=Attends"><span class="text-success">Registered Attendances</span></a></li>
            <li><a href="/Meeting/QueryRegistered/@Model.meeting.MeetingId?type=Absents"><span class="text-success">Registered Absentees</span></a></li>
            <li><a href="/Meeting/QueryRegistered/@Model.meeting.MeetingId?type=UnregisteredAttends"><span class="text-success">UnRegistered Attendances</span></a></li>
        </ul>
    </li>
</ul>