<ul class="dropdown-menu dropdown-div-reports">
  <li>
    <div>
      <ul class="span12 unstyled pull-left">
        <li class="header">Reports</li>
        @if (Model.meeting.MeetingDate >= DateTime.Today)
        {
          <li><a id="rollsheet" href="#">Rollsheet Report</a></li>
        }
        <li><a href="/Reports/PastAttendee/@Model.meeting.OrganizationId" target="_blank">Recent Attendance Report</a></li>
        <li><a href="/Reports/Attendee/@Model.meeting.MeetingId" target="_blank">Attendee Report</a></li>
        <li><a href="/Reports/VisitsAbsents/@Model.meeting.MeetingId" target="_blank">Guests/Absentees Report</a></li>
        <li><a href="/Reports/VisitsAbsents2/@Model.meeting.MeetingId" target="_blank">Guests/Absentees Contact Report</a></li>
        <li><a href="/Meeting/AttendanceByGroups/@Model.meeting.MeetingId" target="_blank">AttendanceByGroups</a></li>

        <li class="header">Special Pages</li>
        <li><a href="/Meeting/iPad/@Model.meeting.MeetingId">iPad Attendance</a></li>
        <li><a href="/Meeting/tickets/@Model.meeting.MeetingId">Ticketing Attendance</a></li>
      </ul>
    </div>
  </li>
</ul>
