@{
    ViewBag.Title = "400";
    Layout = "_Layout.cshtml";
    ViewBag.BodyClass = "page-400";
}
<div class="error-code">400</div>

<div class="error-text">
    <span class="oops">OUCH!</span><br>
    <span class="hr"></span>
    <br>
    GOT A BAD REQUEST FOR SOME REASON
    <br>
    <span class="solve">Please try your request again and see if works out.</span>
</div>