@{
    ViewBag.Title = "401";
    Layout = "_Layout.cshtml";
    ViewBag.BodyClass = "page-401";
}
<div class="error-code">401</div>

<div class="error-text">
    <span class="oops">SORRY</span><br>
    <span class="hr"></span>
    <br>
    ACCESS WAS DENIED TO THAT PAGE
    <br>
    <span class="solve">Click <a href="/">here</a> to return to the home page.</span>
</div>