@{
    ViewBag.Title = "404";
    Layout = "_Layout.cshtml";
    ViewBag.BodyClass = "page-404";
}
<div class="error-code">404</div>
<div class="error-text">
    <span class="oops">PAGE NOT FOUND</span><br>
    <span class="hr"></span>
    <br>
    SOMETHING WENT WRONG, OR THAT PAGE DOESN'T EXIST... YET
</div>