@{
    ViewBag.Title = "Database Not Initialized";
    Layout = "_Layout.cshtml";
    ViewBag.BodyClass = "page-500";
}
<div class="error-code">OOPS!</div>

<div class="error-text">
    <span class="oops">DATABASE NOT INITIALIZED</span><br>
    <span class="hr"></span>
    <br>
        Database does not appear to be initialied
    <br>
    <span class="solve">
        Please delete both the CMS_@ViewBag.DbName and the CMSi_@ViewBag.DbName databases and start over.
    </span>
</div>