@{
    ViewBag.Title = "Database Creation Error";
    Layout = "_Layout.cshtml";
    ViewBag.BodyClass = "page-500";
}
<div class="error-code">OOPS!</div>

<div class="error-text">
    <span class="oops">DATABASE CREATION ERROR</span><br>
    <span class="hr"></span>
    <br>
        @ViewBag.ErrorMessage
    <br>
</div>