@{
    ViewBag.Title = "TouchPoint Down For Maintenance";
    Layout = "_Layout.cshtml";
    ViewBag.BodyClass = "page-info";
}
<div class="error-code">SORRY!</div>

<div class="error-text">
    <span class="oops">OFFLINE</span><br>
    <span class="hr"></span>
    <br>
    TOUCHPOINT IS DOWN FOR MAINTENANCE
    <br>
    <span class="solve">We will be back as soon as possible.  Click <a href="/">here</a> to retry the site.</span>
</div>