@{
    ViewBag.Title = "Session Timeout";
    Layout = "_Layout.cshtml";
    ViewBag.BodyClass = "page-info";
}
<div class="error-code">SORRY</div>

<div class="error-text">
    <span class="oops">SESSION TIMEOUT</span><br>
    <span class="hr"></span>
    <br>
    YOUR SESSION HAS EXPIRED
    <br>
    <span class="solve">We just started a new session for you.  Click <a href="/">here</a> to return to the home page.</span>
</div>