@{
    ViewBag.Title = "Under Construction";
    Layout = "~/Views/Error/_Layout.cshtml";
    ViewBag.BodyClass = "page-info";
}
<div class="error-code">SORRY</div>
<div class="error-text">
    <span class="oops">UNDER CONSTRUCTION</span><br>
    <span class="hr"></span>
    <br>
    YOU HAVE A REACHED A SECTION OF THE APPLICATION THAT IS STILL UNDER CONSTRUCTION.<br/>
    DON'T WORRY WE ARE WORKING HARD TO FINISH THIS PART ASAP... STAY TUNED!
</div>