<ul class="dropdown-menu toolbar-email pull-left">
  <li class="header">Email</li>
  @if (User.IsInRole("Attendance"))
  {
    <li><a id="AttNotices" href="#">Email Attendance Notices</a></li>
  }
</ul>
