<ul class="dropdown-menu dropdown-div-gear onecolumn">
  <li><a id="newmeetings" href='#'>Create Meetings</a></li>
  @if (Session["OrgCopySettings"] != null)
  {
    <li><a id="PasteSettings" href="/OrgSearch/PasteSettings">Paste Settings</a></li>
  }
  @if (User.IsInRole("Admin"))
  {
    if (User.IsInRole("Developer"))
    {
    <li><a href="/OrgSearchDrop" class="longrunop" data-post="true">Drop Members / Inactivate Orgs</a></li>
    }
    <li><a id="RepairTransactions" href="/OrgSearch/RepairTransactions">Repair Transactions</a></li>
  }
</ul>
