<ul class="dropdown-menu dropdown-menu-large container row dropdown-menu-right bluebar-menu-col-1" role="menu">
    <li class="col-sm-12">
        <ul>
            <li><a id="newmeetings" href='#'><span class="org-context">Create Meetings</span></a></li>
            @if (Session["OrgCopySettings"] != null)
            {
                <li><a id="PasteSettings" href="/OrgSearch/PasteSettings"><span class="org-context">Paste Settings</span></a></li>
            }
            @if (User.IsInRole("Admin"))
            {
                if (User.IsInRole("Developer"))
                {
                    <li><a href="/OrgSearchDrop" class="longrunop" data-post="true">Drop Members / Inactivate Orgs</a></li>
                }
                <li><a id="RepairTransactions" href="/OrgSearch/RepairTransactions">Repair Transactions</a></li>
            }
        </ul>
    </li>
</ul>