@using CmsData
<ul class="dropdown-menu dropdown-menu-large container row dropdown-menu-right bluebar-menu-col-1" role="menu">
  <li class="col-sm-12">
    <ul>
      @if (!Util2.OrgLeadersOnly && User.IsInRole("Attendance"))
      {
        <li>
          <a id="newmeetings" href='#'>Create Meetings</a>
        </li>
      }
      @if (Session["OrgCopySettings"] != null && User.IsInRole("Edit"))
      {
        <li>
          <a id="PasteSettings" href="/OrgSearch/PasteSettings">Paste Settings</a>
        </li>
      }
      @if (User.IsInRole("Admin"))
      {
        <li>
          <a href="/OrgSearchDrop" class="longrunop" data-post="true">Drop Members / Inactivate Orgs</a>
        </li>
        <li>
          <a id="pendingtomember" href='#'>Move Pending to Member</a>
        </li>
        <li>
          <a href="/RepairTransactionsOrgs" class="longrunop" data-post="true">Repair Transactions</a>
        </li>
      }
    </ul>
  </li>
</ul>