@{
  var missiongiving = User.IsInRole("MissionGiving") || User.IsInRole("Developer");
}
<ul class="dropdown-menu dropdown-menu-large dropdown-menu-right container bluebar-menu-col-3">
    <li class="col-sm-4">
        <ul>
            <li class="dropdown-header">Excel Export</li>
            <li><a class="ViewReport" href="/OrgSearch/ExportExcel"><span class="org-context">Export Organizations</span></a></li>
            <li><a class="ViewReport" href="/OrgSearch/ExportMembersExcel"><span class="org-context">Export Members</span></a></li>
            <li class="dropdown-header">Registration Settings</li>
            <li><a class="ViewReport" href="/OrgSearch/RegOptions"><span class="org-context">Options</span></a></li>
            <li><a class="ViewReport" href="/OrgSearch/RegQuestionsUsage"><span class="org-context">Questions Usage</span></a></li>
            <li><a class="ViewReport" href="/OrgSearch/RegSettingsXml"><span class="org-context">XML Settings</span></a></li>
            <li><a id="export-messages" href="#"><span class="org-context">Messages XML</span></a></li>
            <li><a class="ViewReport" href="/OrgSearch/RegSettingUsages"><span class="org-context">Setting Usages</span></a></li>
            <li class="dropdown-header">Meetings/Attendance</li>
            <li><a class="StartEndReport" href='/Export2/MeetingsAttendance'><span class="org-context">Meetings/Attendance (date range)</span></a></li>
            <li class="hideAlt"><a class="StartEndReport" href='/Export2/MeetingsForDateRange'><span class="org-context">Meetings for Date Range</span></a></li>
            <li><a class="ReportDate" href='/Export2/OrgDayStats'><span class="org-context">Meeting Day Stats</span></a></li>
            <li><a class="ViewReport" href="/Reports/WeeklyAttendance"><span class="org-context">Weekly Attendance Pct Export</span></a></li>
        </ul>
    </li>
    <li class="col-sm-4">
        <ul>
            <li class="dropdown-header">Reports</li>
            <li><a id="rollsheet1" href='#'><span class="org-context">Roll Sheet(s)</span></a></li>
            <li><a id="RecentAbsents" href="/Reports/RecentAbsents/"><span class="org-context">Recent Absents</span></a></li>
            <li><a class="ViewReport" href="/Reports/Roster1"><span class="org-context">Roster</span></a></li>
            <li><a class="ViewReport" href="/Reports/Roster"><span class="org-context">Roster extended</span></a></li>
            <li><a class="ViewReport" href="/Reports/OrgLeaders/"><span class="org-context">Leaders</span></a></li>
            <li><a id="Meetings" href="#"><span class="org-context">Meetings</span></a></li>
            <li><a class="StartEndReport" href='/Reports/AttendanceDetail'><span class="org-context">Meetings/Attendance (date range)</span></a></li>
            <li><a class="MonthReport" href='/Reports/MeetingsForMonth'><span class="org-context">Meetings For Month</span></a></li>
        </ul>
    </li>
    <li class="col-sm-4">
        <ul>
            <li class="dropdown-header">Special Reports</li>
            <li><a class="ViewReport" href="/Reports/ClassList/"><span class="org-context">Class List</span></a></li>
            <li><a class="ViewReport" href="/Reports/ShirtSizes"><span class="org-context">Shirt Sizes</span></a></li>
            <li><a id="checkincontrol" href='#'><span class="org-context">Checkin Control Report</span></a></li>
            <li><a id="enrollmentcontrol1" href='#'><span class="org-context">Enrollment Control Report</span></a></li>
            <li><a id="enrollmentcontrol2i" href='#'><span class="org-context">Enrollment Control iPhone/iPad</span></a></li>
            <li><a class="ViewReport" href='/IncompleteRegistrations'><span class="org-context">Incomplete Registrations</span></a></li>
            @if (missiongiving)
            {
                <li><a class="ViewReport" href='/Reports/MissionTripFunding'><span class="org-context">Mission Trip Funding</span></a></li>
                <li><a class="ViewReport" href="/Reports/MissionTripSenders"><span class="org-context">Mission Trip Senders Export</span></a></li>
                <li><a class="ViewReport" href='/Export2/MissionTripFunding'><span class="org-context">Mission Trip Funding Export</span></a></li>
            }
            <li class="hideAlt"><a class="ViewReport" href='/Reports/SgMap'><span class="org-context">Small Group Pin Map</span></a></li>
            <li><a id="Structure" href='#'><span class="org-context">Prog/Div/Org Hierarchy Report</span></a></li>
            <li class="hideAlt"><a class="ViewReport" href='/Orgsearch/OrgIds'><span class="org-context">OganizationIds</span></a></li>
        </ul>
    </li>
</ul>