<ul class="dropdown-menu dropdown-div-reports">
  <li>
    <div>
      <ul class="span4 unstyled pull-left">
        <li class="header">Export Excel</li>
        <li><a id="ExportExcel" href="#">Export Organizations</a></li>
        <li><a id="ExportMembersExcel" href="#">Export Members</a></li>
        <li><a class="StartEndReport" href='/Export2/MeetingsAttendance'>Meetings/Attendance (date range)</a></li>
        <li class="hideAlt"><a class="StartEndReport" href='/Export2/MeetingsForDateRange'>Meetings for Date Range</a></li>
        <li><a id="weeklyattendance" href='#'>Weekly Attendance Pct Export</a></li>
      </ul>
      <ul class="span4 unstyled pull-left">
        <li class="header">Reports</li>
        <li><a data-callback="Rollsheets" id="rollsheets" href="#" data-target="/Dialog/ForNewRollsheet" title="Rollsheet Report">Rollsheets</a></li>
        <li><a id="RecentAbsents" href="/Reports/RecentAbsents/"></a></li>
        <li><a class="ViewReport" href="/Reports/Roster1">Roster</a></li>
        <li><a class="ViewReport" href="/Reports/Roster">Roster extended</a></li>
        <li><a class="ViewReport" href="/Reports/OrgLeaders/">Leaders</a></li>
        <li><a id="Meetings" href="#">Meetings</a></li>
        <li><a class="StartEndReport" href='/Reports/AttendanceDetail'>Meetings/Attendance (date range)</a></li>
        <li><a class="MonthReport" href='/Reports/MeetingsForMonth'>Meetings For Month</a></li>
      </ul>
      <ul class="span4 unstyled pull-left">
        <li class="header">Special Reports</li>
        <li><a class="ViewReport" href="/Reports/ClassList/">Class List</a></li>
        <li><a class="ViewReport" href="/Reports/ShirtSizes">Shirt Sizes</a></li>
        <li><a id="checkincontrol" href='#'>Checkin Control Report</a></li>
        <li><a id="enrollmentcontrol1" href='#'>Enrollment Control Report</a></li>
        <li><a id="enrollmentcontrol2i" href='#'>Enrollment Control iPhone/iPad</a></li>
        @if (User.IsInRole("MissionGiving"))
        {
          <li><a class="ViewReport" href='/Reports/MissionTripFunding'>Mission Trip Funding</a></li>
          <li><a class="ViewReport" href="/Reports/MissionTripSenders">Mission Trip Senders Export</a></li>
          <li><a class="ViewReport" href='/Export2/MissionTripFunding'>Mission Trip Funding Export</a></li>
        }
        <li class="hideAlt"><a class="ViewReport" href='/Reports/SgMap'>Small Group Pin Map</a></li>
        <li><a id="Structure" href='#'>Prog/Div/Org Hierarchy Report</a></li>
      </ul>
    </div>
  </li>
</ul>
