@using CmsData
<div id="bluetoolbarstop">
  <div id="bluebar-menu" class="btn-group pull-right">
    @if (!Util2.OrgLeadersOnly)
    {
      <div class="btn-group btn-group-lg dropdown-large">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="fa fa-envelope-o"></span>
        </button>
        @Html.Partial("Toolbar/Email")
      </div>
    }
    <div class="btn-group btn-group-lg dropdown-large">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="fa fa-cloud-download"></span>
      </button>
      @Html.Partial("Toolbar/Reports")
    </div>
    <div class="btn-group btn-group-lg dropdown-large">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="fa fa-code"></span>
        </button>
        @Html.Partial("Toolbar/Custom")
    </div>
    <div class="btn-group btn-group-lg dropdown-large">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="fa fa-cog"></span>
      </button>
      @Html.Partial("Toolbar/Gear")
    </div>
  </div>
</div>