@using CmsData
@using CmsWeb
@model CmsWeb.Areas.Coordinator.Models.SubgroupModel
@using System.Linq
@using UtilityExtensions
@Html.Hidden("OrgId", Model.orgid)

<div class="form-group" style="width: 90%; margin-left: 40px; margin-right: 40px">
    <div id="SubgroupDataContainer">
    </div>
</div>
