@{
    Layout = "~/Views/Shared/_LayoutCheckIn.cshtml";
    ViewBag.Title = "Check-In Coordinator";
    ViewBag.PageHeader = "Check-In Coordinator";
}
@model CmsWeb.Areas.Coordinator.Models.SubgroupModel
@ViewExtensions2.jQuery()
@ViewExtensions2.jQueryUI()
<style>
    .block {
        border: 1px solid lightskyblue;
        text-align: center;
        vertical-align: middle;
    }

    .smcircle {
        background: lightskyblue;
        border-radius: 20px;
        color: white;
        height: 20px;
        font-weight: bold;
        width: 20px;
        display: table;
        margin: 0px 0px;
    }

    .circle {
        height: 100px;
        width: 100px;
        border-radius: 100px;
        background: #003f72;
        color: white;
        font-size: 40px;
        text-align: center;
        display: table-cell;
        overflow: hidden;
        vertical-align: middle !important;
    }

        .circle p {
            vertical-align: middle;
            display: table-cell;
        }

    .highlighted {
        background: lightgrey;
    }

    .middle {
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }

    .labelhighlighted {
        min-height: 20px;
        min-width: 100%;
        background: lightsteelblue;
        border-style: outset;
        border: 2px;
        vertical-align: middle;
        line-height: 3;
        padding: 0;
        margin: 0;
    }

    .labelnothighlighted {
        min-height: 20px;
        min-width: 100%;
        background: none;
        border-style: outset;
        border: 2px;
        vertical-align: middle;
        line-height: 3;
        padding: 0;
        margin: 0;
    }

    .active {
        color: green;
    }
</style>
<div class="row">
    <div class="col-lg-12" style="padding: 5px !important;">
        <div class="box box-responsive">
            <div class="box-content">                
                <input type="button" onclick="location.href='@Url.Action("ProgdivOrg", "Coordinator")'" class="btn btn-primary" value="Work With Different Organization" />
                <div id="DetailsContainer" style="min-height: 900px !important">
                    @Html.Action("Index", new {id = Model.orgid})
                </div>
            </div>
        </div>
    </div>
</div>
