@using UtilityExtensions
@model CmsWeb.Areas.OnlineReg.Models.OnlineRegPersonModel
@* ReSharper disable Html.Obsolete *@
<table style="width:100%">
  <tbody>
    <tr>
      <td align="center">
        <table style="width:500px">
          <tbody>
            <tr>
              <td>
                <p>Hi, {first},</p>
                @if (Model.Parent.UsedAdminsForNotify)
                {
                  <div>
                    <span style='color:red'>THERE ARE NO NOTIFY IDS ON THIS REGISTRATION!!</span><br/>
                    <a href='https://docs.touchpointsoftware.com/OnlineRegistration/MessagesSettings.html'>
                      see documentation
                    </a>
                  </div>
                }
                <h4>@Model.person.Name has registered for @Model.Parent.Header</h4>
                <p>REGISTRATION DETAILS:</p>
                <div>
                </div>
                <div>
                  @Html.Raw(Model.Parent.GetDetailsSection())
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
