@{
    ViewBag.Title = "Send Link";
    Layout = "~/Views/Shared/OnlineReg2.cshtml";
}
<br />
<div class="regform">
    @using (Html.BeginForm("SendLink", "OnlineReg", FormMethod.Post))
    {
        <input type="hidden" id="id" name="id" value="@ViewBag.Id" />
        <div class="alert alert-warning">
            <h4>Send Link</h4>
            <p>Please click the button below to receive your secure email.</p>
            <p>
                <button type="submit" class="btn btn-warning">Send Email with Link</button>
            </p>
        </div>
    }
</div>