@{
  Layout = "~/Views/Shared/onlinereg2.cshtml";
  ViewBag.Title = "Online Registration Complete";
}
<div class="confirm">

  <h2>Transaction Completed</h2>
  <p>
    Thank you for completing the registration!<br />
    You should receive a confirmation email shortly.
  </p>
</div>