@model IEnumerable<CmsWeb.Areas.Search.Models.ContactorSummaryInfo>
@{
    ViewBag.Title = 
    ViewBag.PageHeader = "Contactor Summary";
    Layout = ViewExtensions2.TouchPointLayout();
}
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name </th>
                <th>Contact Type </th>
                <th>Ministry</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.ContactType</td>
                    <td>@item.Ministry</td>
                    <td>@item.Count</td>
                </tr>
            }
        </tbody>
    </table>
</div>
